@use "../../../../../../assets/style_varients/mixins" as m;

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

//=======>MODAL HEADER

.otp-modal-header {
  border: none !important;
  .ocw_modal_title {
    padding-bottom: 0 !important;
  }
}

//=======>MODAL BODY

.ocw_modal_body {
  text-align: center;
  margin:10px 0 !important;
  h5 {
    text-align: center;
    font-family: var(--secondary-font);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2px;
    max-width: 91%;
    margin: 17px auto;
  }
  .otp_hint {
    @apply text-center text-sm text-[color:var(--common-font-color)] font-normal relative w-[-moz-fit-content] w-fit mx-auto my-4 px-5 py-2.5 rounded-[7px];
    font-family: "Inter", sans-serif;
    background: var(--otp-modal-background-color-shade);
  }
  h6 {
    font-size: 12px;
    margin: 8px 0;
    span {
      color: red;
    }
  }
  h4 {
    text-align: center;
    font-family: var(--secondary-font);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2px;
    max-width: 100%;
    margin: 0 0 17px auto;
  }
  .password {
    width: 250px;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 300;
  }

  .otp-box {
    position: relative;
    @include m.flex;
    .otp_box {
      width: 38px;
      height: 45px;
      display: block;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: var(--common-font-color);
      background-color: var(--common-background-color);
      background-clip: padding-box;
      border: 1px solid #ced4da;
      appearance: none;
      border-radius: 0.40rem;
      transition:
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
      margin: 0 3px;
      box-shadow: var(--confirm-otp-box-shadow);
      -moz-appearance: textfield;
      &:focus {
        box-shadow: none;
        border: 2px solid #5789d3;
      }
    }
    .resent {
      position: absolute;
      top: 6px;
      right: 23px;
      text-transform: capitalize;
      font-family: var(--semi-font);
      color: #416887;
      margin-bottom: 23px;
      a {
        color: #2739c1;
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 768px) {
  .resent {
    top: 43px !important;
    right: 3px !important;
  }
  .ocw_modal_body {
    h1 {
      font-size: 1rem;
    }
  }
}
