.ocw_man_modal_wrapper {
  overflow: hidden;
}
.align-submit-btn {
  text-align: end;
}
.input_style {
  height: 36px;
}
.dropdown-style {
  width: 100%;
  font-size: 14.5px;
  font-family: "Inter", Arial, sans-serif;
  height: calc(1.9rem + 0.4rem + 2px);
  font-family: var(--info-font);

  .ng-select,
  .ng-select-container,
  .ng-select-container {
    height: 100%;
  }

  .ng-dropdown-panel-items {
    &::-webkit-scrollbar {
      width: 9.5px;
      height: 9px;
      background-color: var(--scroll_track_color);
    }

    &::-webkit-scrollbar-track {
      background-color: var(--scroll_track_color);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--scroll_thumb_color);
      border-radius: 30px;
      opacity: 0.8;
    }
  }
}
.sign-text {
  text-align: center;
  font-family: "Dancing Script";
  font-size: 22pt;
}
.btn {
  width: 381px;
  height: 48px;
  font-family: var(--inter);
  font-size: 15px;
  font-weight: 600;
  background-color: #635bff;
  color: #ffffff;
}
.add_modal_btn {
  margin-left: -3px;
  width: 41px;
  height: 36px;
  z-index: 5;
}
.submit-button {
  margin-top: 30px;
}
.form-items {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0.25rem;
  justify-content: space-evenly;
}

/*======> Media Queries <=======*/

@media (max-width: 1023.98px) {
  .form-items {
    display: block;
  }
}
