@use "../../../../../../assets/style_varients/block-sections/create-single-side.scss"
  as c;

.ocw_one_side_body {
  @include c.ocwOneSideBody(723px);
  margin-top: 19em;
}

.submit {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: auto;
  margin-right: 0;
}

.close_btn {
  width: 14px;
  height: 20px;
  margin-top: -5px;
  margin-right: -5px;
  color: var(--input-label);
}

.submit2 {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: auto;
  margin-right: 0;
}

.btns {
  display: flex;
  justify-content: space-between;
}

.smsCountDownTime1 {
  font-weight: 600;
  color: var(--text_danger);
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.retry_msg {
  font-weight: 600;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.disabled {
  pointer-events: none;
  background-color: #3c3c3c;
}

.verified {
  color: var(--brand-color);
  font-weight: 600;
  font-size: 0px;
}

.verify-scetion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  grid-gap: 20px;
  gap: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  .img {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 calc(40% - 20px);
    flex: 1 1 calc(40% - 20px);
  }

  .form {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 calc(50% - 20px);
    flex: 1 1 calc(50% - 20px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    .single_input {
      margin-bottom: 15px;
    }
  }

  .form2 {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 calc(60% - 20px);
    flex: 1 1 calc(60% - 20px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 5px;

    .single_input {
      & ::-webkit-input-placeholder {
        font-size: 14px;
      }

      & ::-moz-placeholder {
        font-size: 14px;
      }

      & :-ms-input-placeholder {
        font-size: 14px;
      }

      & ::-ms-input-placeholder {
        font-size: 14px;
      }

      & ::placeholder {
        font-size: 14px;
      }

      input {
        padding-left: 51px;
      }
    }

    button {
      svg {
        padding-right: 5px;
      }
    }

    .smsCountDownTime {
      font-weight: 600;
      color: var(--text_danger);
      font-size: 15px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
    }
  }

  .line {
    border-top: 1px solid var(--border-color-lite);
  }

  .foot-xt-disp {
    margin-top: 2px;
    font-family: var(--secondary-font);
    font-size: 14.5px;
    font-weight: 400;
    color: var(--intro-tooltip-header-color);
    line-height: 24px;
    padding-top: 19px;

    span {
      font-weight: 700;
    }

    b {
      font-weight: 600;
      color: var(--ocw-btn-dark);
    }
  }
}

.add_modal_btn {
  border-radius: 4px 0px 0px 4px;
  height: 36px;
  left: 1px;
  position: absolute;
}

.phone_in_country {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;

  div {
    width: 100px;
    background-color: var(--common-applied-background-color);
    border-radius: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 50;
    border-right: 0 !important;
    border-radius: 4px 0 0 4px !important;
    border: 1px solid var(--input-border);

    &:hover {
      cursor: pointer;
    }

    img {
      width: 25px;
      height: 25px;
      border-radius: 50%;
    }

    i {
      margin-left: 5px;
      font-size: 12px;
      color: #484646;
    }
  }

  input {
    border-left: 0 !important;
    border-radius: 0 4px 4px 0 !important;
  }
}

.list_container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 220px;
  position: absolute;
  top: 100%;
  left: 5px;
  background: var(--common-applied-background-color);
  box-shadow: 1px 1px 5px #0003;
  z-index: 1020;

  .country_list {
    margin-top: 10px;
    max-height: 190px;
    overflow: auto;
  }
  .item {
    display: flex;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }

  img {
    margin-right: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
}
.form-items-width {
  width: 230px;
}

@media (max-width: 767.98px) {
  .ocw_one_side_body {
    margin-top: 9em;
  }

  .verify-scetion {
    display: block;

    .form2 {
      .single_input {
        & ::-webkit-input-placeholder {
          font-size: 12px;
        }

        & ::-moz-placeholder {
          font-size: 12px;
        }

        & :-ms-input-placeholder {
          font-size: 12px;
        }

        & ::-ms-input-placeholder {
          font-size: 12px;
        }

        & ::placeholder {
          font-size: 12px;
        }
      }

      button {
        -webkit-transition: 0.8s;
        -o-transition: 0.8s;
        transition: 0.8s;

        span {
          display: none;
        }
      }
    }
  }
  .form-items-width {
    width: 100%;
  }
  .btns {
    display: flex;
    justify-content: flex-end;
  }
}
.loading-container {
  height: 300px;
}
