@use "../../../../../assets/style_varients/mixins" as m;

.select-accounts-container {
  font-family: var(--roboto);
  height: 100%;

  .close-icon-container {
    width: 40px;
    height: 40px;
    cursor: pointer;

    .close-icon {
      font-size: 18px;
      color: var(--very_light_hash);
    }
  }

  .header {
    font-size: 18px;
    font-weight: 500;
    color: var(--common-font-color);
  }

  .content-section {
    overflow: auto;

    .detail {
      font-size: 13.49px;
      font-weight: 400;
      color: var(--common-font-color);
    }

    .accounts-list {
      overflow: auto;

      .accounts-list-item {
        height: 50px;

        border-radius: 5px;

        .checkbox-container {
          border-radius: 5px;
          height: 26px;
          width: 26px;

          input[type="checkbox"] {
            display: none;
          }

          .check-icon {
            font-size: 26px;
          }
        }

        .bank_account_name {
          font-size: 15px;
          font-weight: 400;
        }

        .bank_name {
          font-size: 12px;
          font-weight: 700;
          margin-top: -4px;
          margin-left: 0.6px;
          color: var(--medium-grey);
        }

        .acc_no {
          font-size: 15px;
          font-weight: 400;
        }
      }

      .accounts-list-item-checked {
        background-color: var(--ocw-btn-dark-green);
        color: #ffff;

        .check-icon {
          color: #ffff;
        }

        .bank_name {
          color: var(--mild_white);
        }
      }

      .accounts-list-item-unchecked {
        border: 1px solid var(--border-color-lite);

        .check-icon {
          color: transparent;
        }

        .checkbox-container {
          border: 1px solid var(--border-color-lite);
        }
      }
    }
  }

  .back-button {
    @include m.buttonOutLined(
      1px 14px,
      14.5px,
      var(--main-theme-variable),
      var(--very_light_black_2)
    );
    height: 35px;
    border: 1px solid var(--very_light_white);
  }
}
