<div class="flex justify-center pt-8">
  <div class="bg-main-background-color px-4 py-5 rounded-sm w-fit">
    <div>
      <div class="pb-4">
        <h3 class="!text-main-text-color font-inter font-semibold">
          <app-common-back-button-v35></app-common-back-button-v35>
          Reconcile Checks : Match Your Data
        </h3>
      </div>
    </div>

    <div class="max-h-[540px] overflow-x-hidden overflow-y-auto">
      <div class="table">
        <table class="ocw-table overflow-auto ocw-table-striped">
          <tbody>
            <tr>
              <td>S.No</td>
              @for (item of headerColumns; track item; let i = $index) {
                <td class="min-w-[250px]">
                  <div class="single_input no_modal_btn">
                    <select
                      placeholder="Base Account"
                      class="input_style"
                      [ngClass]="{
                        '!border !border-common-red-color': item.error
                      }"
                      [(ngModel)]="item.selectedIndex"
                      (ngModelChange)="mappingChange()"
                    >
                      <option value="" selected>-- Match --</option>
                      @for (option of headerOptions; track option) {
                        <option
                          [value]="option.key"
                          [disabled]="disableMapping[option.key]"
                        >
                          {{ option.value }}
                        </option>
                      }
                    </select>
                  </div>
                  @if (item.error && item.selectedIndex === "") {
                    <div class="flex gap-2 items-center pt-1 pl-1">
                      <fa-icon
                        class="text-common-red-color text-[12px]"
                        [icon]="faCircleExclamation"
                        animation="shake"
                        size="lg"
                      ></fa-icon>
                      <p
                        class="text-common-red-color text-xs font-medium font-roboto"
                      >
                        Required
                      </p>
                    </div>
                  }
                </td>
              }
            </tr>

            @if (data?.fileHeader?.length) {
              <tr>
                <td>1</td>
                @for (item of data?.fileHeader; track item) {
                  <td>{{ item }}</td>
                }
              </tr>
            }
            @for (row of checkData; track row; let i = $index) {
              <tr>
                <td>{{ data?.fileHeader?.length ? i + 2 : i + 1 }}</td>
                <td>{{ row.date }}</td>
                <td>{{ row.checkNumber }}</td>
                <td>{{ row.amount }}</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
    <div class="flex justify-end mt-4">
      <app-common-button-v35
        [type]="{ style: 'filled', name: 'main' }"
        backGroundInput="var(--common-green-color)"
        (clickEvent)="submit()"
        [disabled]="isSubmit()"
        [loading]="isSubmit()"
        text="Submit"
        width="100%"
        class="w-24 max-sm:w-full"
      >
      </app-common-button-v35>
    </div>
  </div>
</div>
