<div class="px-6 py-6 max-w-md mx-auto">
  <!-- Modal Header -->
  <div class="text-center mb-8">
    <h2 class="text-xl font-semibold text-main-text-color">{{ config.title }}</h2>
    <p class="text-sm text-secondary-text-color">{{ config.subtitle }}</p>
  </div>

  <!-- Modal Body -->
  <form [formGroup]="resetPasswordForm" class="space-y-4">
    
    <!-- Email Address Field -->
    <div class="single_input">
      <app-common-input-field
        class="w-full"
        formControlName="email"
        placeholder="Email Address"
        type="email"
        [maxLength]="100"
        [readOnly]="true"
      />
    </div>

    <!-- Password Field -->
    <div class="single_input relative">
      <app-common-input-field
        class="w-full"
        formControlName="password"
        placeholder="Password"
        [maxLength]="100"
        [type]="passwordInputType"
        (inputEvent)="isPasswordValid()"
        (inputFocusEvent)="showValidBox = true"
        (inputFocusOutEvent)="showValidBox = false"
      />
      @if (passwordInputType === 'password') {
      <fa-icon
        class="absolute top-2 right-3 text-sm cursor-pointer text-secondary-text-color"
        (click)="togglePasswordType()"
        [icon]="faEye"
      ></fa-icon>
      }@else{
      <fa-icon
        class="absolute top-2 right-3 text-sm cursor-pointer text-secondary-text-color"
        (click)="togglePasswordType()"
        [icon]="faEyeSlash"
      ></fa-icon>
      }
      <!-- Password Validation Box -->
      <div class="password-info" [ngClass]="{ active: showValidBox }">
        <ul id="validationList">
          <li id="letter" class="invalid">At least one lower case</li>
          <li id="capital" class="invalid">At least one capital letter</li>
          <li id="number" class="invalid">At least one number</li>
          <li id="specialCharacter" class="invalid">At least one special character</li>
          <li id="length" class="invalid">Be at least 8 characters</li>
        </ul>
      </div>
      <app-control-message-v35 [control]="resetPasswordForm.controls.password"
      />
    </div>

    <!-- Confirm Password Field -->
    <div class="single_input">
      <app-common-input-field
        class="w-full"
        formControlName="confirmPassword"
        placeholder="Confirm Password"
        type="password"
        [maxLength]="100"
      />
      <app-control-message-v35 [control]="resetPasswordForm.controls.confirmPassword"
      />
      @if (passWordMismatch()) {
        <span class="text-common-red-color text-xs font-medium font-roboto flex items-center gap-1 mt-1 ml-1">
          <fa-icon
            class="text-common-red-color text-[12px]"
            [icon]="faCircleExclamation"
            animation="shake"
            size="lg"
          ></fa-icon>
            <span class="required">Passwords do not match</span>
        </span>
      } 
    </div>

    <div class="flex gap-1 flex-col">
      @if(!env?.isItWhiteLabel){
      <label class="flex items-start min-w-[16px]">
        <input id="termsAccepted" type="checkbox" formControlName="eSign"
          class="mr-2 min-w-[16px] w-4 h-4 mt-0.5 flex-shrink-0" (change)="openTermsDialog($event.target.checked)">
        <span class="font-inter font-normal text-[12px] leading-5 text-main-text-color cursor-pointer">By proceeding, you,
          as the authorized representative of your business, agree to
          <a href="https://zilmoney.com/zil-money-e-signature-agreement" class="text-common-blue-color hover:underline" target="_blank"> Zil Money’s E-Signature
            Agreement</a>
          and consent to receive all disclosures and agreements electronically. You acknowledge that electronic signatures
          are legally binding and that all account communications will be delivered in electronic form.
        </span>
      </label>
      }
      <label class="flex items-start min-w-[16px]">
        <input type="checkbox" formControlName="termsAndCondition" class="mr-2 min-w-[16px] w-4 h-4 mt-0.5 flex-shrink-0" />
        @if (env?.isItWhiteLabel) {
        <span class="text-sm cursor-pointer">
          I Agree to the
          <a [href]="staticWhiteLabelConditions.termsAndConditions" target="_blank" rel="noopener">
            Terms and Conditions
          </a>
        </span>
        }@else{
        <span class="font-inter font-normal text-[12px] leading-5 text-main-text-color cursor-pointer">
          I accept Zil Money's <a href="https://zilmoney.com/terms-and-condition" class="text-common-blue-color hover:underline" target="_blank">Terms and Conditions</a>
          and <a href="https://zilmoney.com/privacy-policy" target="_blank">Privacy Policy</a>, and confirm compliance with
          the <a href="http://zilmoney.com/usa-patriot-act-notice/" class="text-common-blue-color hover:underline" target="_blank">USA PATRIOT Act</a>, including identity
          verification. I consent to receive communications from Zil Money as described in the <a
            href="https://zilmoney.com/communications-policy/" class="text-common-blue-color hover:underline" target="_blank">Zil Money Communication Policy</a>, including
          contact via SMS and other communication methods.
        </span>
        }
      </label>
      <app-control-message-v35 [control]="resetPasswordForm.controls.termsAndCondition"
        errorMessage="You must accept the terms and conditions to continue" />
      <label class="flex items-start min-w-[16px]">
        <input type="checkbox" formControlName="ccpa" class="mr-2 min-w-[16px] w-4 h-4 mt-0.5 flex-shrink-0" />
        <span class="font-inter font-normal text-[12px] leading-5 text-main-text-color cursor-pointer">I acknowledge my
          rights under the <a href="https://zilmoney.com/california-consumer-privacy-act-disclosure/"
            class="text-common-blue-color hover:underline" target="_blank">California Consumer Privacy Act (CCPA)</a> to access, delete, and opt-out of data sales.</span>
      </label>
    </div>
  </form>

  <!-- Modal Footer -->
  <div class="mt-8 space-y-3">
    <app-common-button-v35
      width="100%"
      [type]="{ style: 'filled', name: 'main' }"
      [loading]="formSubmitting"
      [disabled]="formSubmitting"
      (click)="onReset()"
      [text]="config.mainButtonText"
      class="w-full"
    />
    
    <div class="text-center">
      <app-common-button-v35
        width="100%"
        [type]="{ style: 'bordered', name: 'action' }"
        [disabled]="formSubmitting"
        (click)="onCancel()"
        [text]="config.secondaryButtonText"
        class="w-full text-common-blue-color"
      />
    </div>
  </div>
</div>