<div class="flex flex-col items-center gap-7 font-inter pt-5">
  @if (!afterPayment) {
    <div class="flex flex-col items-center">
      <h2 class="text-center font-bold text-xl text-main-text-color">
        Get Bank Data Now
      </h2>
      <div class="h-3"></div>
      <span class="text-center font-normal text-xs text-secondary-text-color">{{
        dialogData.target === "plans" ? planDesc : addonDesc
      }}</span>
    </div>
    <div
      class="w-[180px] h-44 border-2 border-common-green-color rounded-[3px] relative flex flex-col items-center overflow-hidden bg-common-secondary-green-color justify-center p-2.5 gap-5"
    >
      <div
        class="absolute h-[73px] w-9 -rotate-45 bg-common-green-color -top-[26px] -right-1.5 flex items-center justify-center pr-1.5"
      >
        <img
          class="text-white -rotate-[27deg]"
          ngSrc="assets/images/star-sharp.svg"
          height="24"
          width="24"
          alt="Star"
        />
      </div>
      <div class="flex flex-col items-center">
        <h3 class="text-center font-bold text-xl text-main-text-color">
          Bank Data
        </h3>
        <span class="text-center font-medium text-sm text-main-text-color"
          >{{ cost | currency }}/month</span
        >
      </div>
      <span class="font-normal text-[12px] text-center text-main-text-color"
        >Track all your bank data in one place. Manage them easily.</span
      >
    </div>
  } @else {
    <fa-icon size="5x" class="text-common-green-color" [icon]="faCircleCheck" />
    <div class="flex flex-col items-center">
      <h2 class="text-center font-bold text-xl text-main-text-color">
        Congrats!!!
      </h2>
      <div class="h-3"></div>
      <span class="text-center font-normal text-xs text-secondary-text-color">
        You are done. Enjoy the bank data feature now!
      </span>
    </div>
  }
  <div class="flex justify-center gap-2.5">
    <app-common-button-v35
      (click)="closeModal()"
      width="115px"
      textColorInput="var(--common-dark-blue-color)"
      [type]="{ style: 'bordered', name: 'main' }"
      [text]="afterPayment ? 'Ok' : 'Cancel'"
    />
    @if (!afterPayment) {
      <app-common-button-v35
        (click)="onBuy()"
        minWidth="115px"
        [type]="{ style: 'modal', name: 'main' }"
        [text]="dialogData.target === 'plans' ? 'Subscribe Now' : 'Buy Now'"
        [loading]="paymentLoading"
      />
    }
  </div>
</div>
