<div
  [formGroup]="form()"
  class="grid grid-cols-[repeat(auto-fit,minmax(max(210px,45%),1fr))] gap-x-5 gap-y-4"
>
  <app-common-input-v4
    fieldLabel="Full Name"
    placeholder="Enter full name"
    errorLabel="Full Name"
    formControlName="name"
    [control]="form().controls.name"
    [maxLength]="35"
  />

  <app-common-input-v4
    fieldLabel="Nick Name"
    placeholder="Enter nick name"
    errorLabel="Nick Name"
    formControlName="nickName"
    [control]="form().controls.nickName"
    [maxLength]="35"
  />

  <app-common-input-v4
    fieldLabel="Company Name"
    placeholder="Optional"
    formControlName="company"
    [control]="form().controls.company"
    [isFieldRequired]="false"
    [maxLength]="35"
  />

  <app-common-input-v4
    fieldLabel="Phone Number"
    placeholder="(555) 000-0000"
    errorLabel="Phone Number"
    formControlName="phone"
    [control]="form().controls.phone"
    [customMask]="'(000) 000-0000'"
  />

  <app-common-input-v4
    fieldLabel="Email Address"
    placeholder="name@company.com"
    errorLabel="Email Address"
    formControlName="email"
    [control]="form().controls.email"
    [isFieldRequired]="false"
  />

  <app-address-autocomplete-v4
    label="Address Line 1"
    placeholder="Street address"
    [control]="address1Control"
    [allowedCountries]="['us']"
    [displayShortName]="true"
    (addressSelected)="onAddressSelected($event)"
  />

  <app-common-input-v4
    fieldLabel="Address Line 2"
    placeholder="Apt, suite, unit"
    formControlName="address2"
    [control]="form().controls.address2"
    [isFieldRequired]="false"
  />

  <app-common-input-v4
    fieldLabel="City"
    placeholder="Enter city"
    errorLabel="City"
    formControlName="city"
    [control]="form().controls.city"
  />

  <div
    class="flex flex-wrap items-start gap-x-4 gap-y-4 midrange:flex-col midrange:flex-nowrap midrange:items-stretch"
  >
    <div
      class="flex-[2] min-w-[150px] flex flex-col midrange:flex-none midrange:w-full"
    >
      <label
        class="block text-sm font-medium text-v4-secondary-text-color font-peridot mb-1.5"
      >
        Country <span class="text-v4-common-red-color">*</span>
      </label>
      <app-common-country-select-v4
        formControlName="country"
        placeholder="Select country"
        [allowedCountries]="allowedCountries"
        [isRequired]="true"
        [clearable]="false"
      />
    </div>
    <div class="flex-1 min-w-[110px] midrange:flex-none midrange:w-full">
      <app-common-input-v4
        fieldLabel="Zip"
        placeholder="00000"
        errorLabel="Zip"
        formControlName="zip"
        [control]="form().controls.zip"
        [maxLength]="10"
      />
    </div>
  </div>

  <div class="flex flex-col">
    <label
      class="block text-sm font-medium text-v4-secondary-text-color font-peridot mb-1.5"
    >
      State <span class="text-v4-common-red-color">*</span>
    </label>
    <app-common-state-select-v4
      formControlName="state"
      placeholder="Select state"
      [country]="countryCode"
      [isRequired]="true"
    />
  </div>
</div>
