@use "../../../../../assets/style_varients/mixins" as m;

:host {
  ::ng-deep .ng-dropdown-panel {
    z-index: 10000;
  }
  ::ng-deep .ng-option {
    text-align: left;
  }
}

.ocw_modal_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  svg {
    height: 20px;
    -ms-flex-item-align: baseline;
    align-self: baseline;
    cursor: pointer;
  }
}

.ocw_modal_footer {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.sub_head {
  @include m.SubHeader(16px);
}
.remittance_table {
  padding: 0 5px;

  table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    overflow-x: auto;
    // display: block;

    .trash_btn {
      width: 16px;
      height: 16px;
      margin: auto;
      cursor: pointer;
      -webkit-transition: 0.2s ease-in-out all;
      -o-transition: 0.2s ease-in-out all;
      transition: 0.2s ease-in-out all;
      opacity: 0.91;

      &:hover {
        opacity: 1;
      }

      path {
        fill: var(--text_danger_lite);
      }
    }

    input,
    select {
      padding: 0.35rem 0.2rem;
      background-color: var(--main-theme-variable);
    }

    &::-webkit-scrollbar {
      width: 9px;
      height: 9px;
      background-color: var(--scroll_track_color);
    }

    &::-webkit-scrollbar-track {
      background-color: var(--scroll_track_color);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--scroll_thumb_color);
      opacity: 0.7;
      border-radius: 30px;
    }

    thead {
      tr {
        td {
          background-color: var(--icon-hover-color);
          color: var(--common-font-color);
          text-align: center;
          font-size: 12.3px;
          padding: 8px 8px;
          text-transform: uppercase;
          font-weight: 700;
          font-family: var(--secondary-font);
          border-right: 1px solid var(--main-theme-variable);
          white-space: nowrap;
          letter-spacing: 0.3px;
        }
      }
    }

    tbody {
      td {
        border: 1px solid var(--input-border);
      }
    }
  }

  input {
    padding: 3px 7px;
    width: 100px;
  }
}

.control_table_btn {
  display: flex;
  align-items: center;
  gap: 6px;
  padding-left: 7px;

  button {
    &:not(:last-child) {
      @include m.flex();
    }

    &:nth-child(1) {
      background: #0bb783;
      border-radius: 0;
      border-radius: 2px;
      width: 35px;
      height: 25px;
    }

    &:nth-child(2) {
      background: #ff6464;
      border-radius: 2px;
      width: 35px;
      height: 25px;
    }

    &:nth-child(3) {
      font-family: "Inter", Arial, sans-serif;
      letter-spacing: 0.3px;
      border: 1px solid #a1cef9;
      font-size: 14px;
      padding: 2px 6px;
      border-radius: 2px;
    }

    svg {
      width: 15px;
      height: 15px;

      path {
        fill: var(--main-theme-variable);
      }
    }
  }
}
