.ocw-plexe-container {
  max-width: 900px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.main-body,
.header-section {
  border-radius: 5px;
  background-color: var(--main-background-color);
}
.header-section {
  font-family: var(--inter);

  .progress-header {
    display: flex;
    justify-content: center;
    height: 93px;
    padding: 18px 0px;

    .item {
      flex: 1 1 20%;
      display: flex;
      justify-content: center;
      position: relative;

      img {
        z-index: 1;
        width: 25px;
        height: 25px;
      }

      .name {
        font-family: var(--inter);
        position: absolute;
        top: 30px;
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
        color: var(--common-secondary-font-color);
        padding-top: 12px;
      }

      &:not(:last-child)::after {
        content: " ";
        position: absolute;
        background: #e4ecff;
        border-radius: 8px;
        height: 4px;
        width: 80%;
        top: 22%;
        left: 60%;
        z-index: 0;
        transition: background 600ms ease-out;
      }

      &.active {
        svg {
          fill: #3b6ef0;
        }
      }

      &.done {
        &::after {
          background-position: left;
          background: #3b6ef0;
        }
      }

      .shape {
        background-image: url("/assets/images/plexe/round-shape.svg");
        height: 25px;
        width: 25px;
        text-align: center;
        span {
          font-weight: 500;
          font-size: 12px;
          line-height: 15px;
          color: #968181;
        }
      }
    }
    @media (max-width: 767.98px) {
      height: 80px;
      padding: 9px;

      .item {
        .name {
          top: 25px;
          font-size: 12px;
        }

        &:not(:last-child)::after {
          top: 14%;
        }
      }
    }
  }
}
.main-body {
  height: 400px;
  margin-top: 10px;
}

.plexe-success-container {
  padding: 15px;
  font-family: var(--inter);
  display: flex;
  flex-direction: column;
  gap: 30px;
  .header-section {
    text-align: center;
    span {
      font-size: 15px;
      font-weight: 600;
      line-height: 18px;
      color: var(--common-secondary-font-color);
    }
  }
  .text-info {
    width: 61%;
  }
}

@media (max-width: 444px) {
  .item {
    &:not(:last-child)::after {
      left: 74%;
      width: 51%;
    }
  }
}

.checkmark {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  display: block;
  stroke-width: 5;
  stroke: white;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px var(--text_success);
  animation:
    fill 0.4s ease-in-out 0.4s forwards,
    scale 0.3s ease-in-out 0.9s both;
  position: relative;
  top: 5px;
  margin: 0 auto;
}
.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: var(--text_success);
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%,
  100% {
    transform: none;
  }

  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 50px var(--text_success);
  }
}
