<div
  class="w-full rounded-xl border-2 p-4 transition-all duration-200 hover:shadow-md hover:scale-[1.02]"
  [ngClass]="[classes().border, classes().bg]"
>
  <div class="flex items-center gap-1.5 mb-2">
    <lucide-icon
      class="shrink-0"
      [name]="card().icon"
      [size]="16"
      [ngClass]="classes().icon"
    />
    <span
      class="text-[12px] md:text-xs font-semibold leading-tight"
      [ngClass]="classes().label"
      >{{ card().label }}</span
    >
  </div>
  <p class="text-xl font-bold mb-1" [ngClass]="classes().count">
    {{ card().count }}
  </p>
  <p class="text-[12px] md:text-xs" [ngClass]="classes().subtitle">
    {{ card().subLabel }}
  </p>
</div>
