.sms_preview {
  position: relative;
  display: flex;
  justify-content: center;
}
.mobile_view {
  img {
    width: 360px;
    padding-top: 30px;
  }
}
.sms_content {
  position: absolute;
  top: 150px;
  width: 250px;
  word-break: break-word;
  left: 180px;
  color: #f2f2f2;
  font-size: 13px;
  background: #2e77fe;
  border-radius: 0px 20px 20px 20px;
  padding: 12px;
}

@media (max-width: 767.98px) {
  .sms_content {
    width: 170px;
    top: 115px;
    left: 80px;
    font-size: 12px;
  }
  .mobile_view {
    img {
      width: 250px;
    }
  }
}
