//===> main from header
.ocw-form-header {
  max-width: 1000px;
  margin: auto;
  width: 95%;
  overflow-y: hidden;

  .main-body {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 95%;
    max-width: 1300px;
    position: relative;
    margin: auto;
    padding-top: 10px;

    .ocw-from-bg {
      background-color: var(--main-theme-variable);
      -webkit-box-shadow: 1px 1px 15px rgb(0 0 0/ 10%);
      box-shadow: 1px 1px 15px rgb(0 0 0/ 10%);
      position: relative;
      overflow: hidden;
      border-radius: 12px;

      &::after {
        content: "";
        position: absolute;
        width: 110px;
        height: 110px;
        background: -o-linear-gradient(
          323deg,
          var(--ocw-btn-peacock),
          transparent
        );
        background: linear-gradient(
          127deg,
          var(--ocw-btn-peacock),
          transparent
        );
        border-radius: 50%;
        -webkit-transition: 0.2s ease-in-out all;
        -o-transition: 0.2s ease-in-out all;
        transition: 0.2s ease-in-out all;
        right: -56px;
        top: -45px;
      }

      &::before {
        content: "";
        position: absolute;
        width: 110px;
        height: 110px;
        background: -o-linear-gradient(54deg, #ade2f273, transparent);
        background: linear-gradient(36deg, #ade2f273, transparent);
        border-radius: 50%;
        -webkit-transition: 0.2s ease-in-out all;
        -o-transition: 0.2s ease-in-out all;
        transition: 0.2s ease-in-out all;
        top: -37px;
        right: -46px;
      }
    }
  }
}

// main from body
.ocw-form-body {
  padding: 32.5px 32px 16px 32px;
}

// main form body head section
.main-head {
  padding-bottom: 25px;

  h1 {
    font-family: var(--Roboto);
    font-weight: 500;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    color: var(--process-card-clover-machine-font-color);
    margin: 0;
    text-transform: uppercase;
    -webkit-text-stroke: 0.5px var(--process-card-clover-machine-font-color);

    span {
      &:nth-child(3) {
        margin-left: 8px !important;
      }

      .zil-icon {
        margin: 0px -3px 16px 7px;
        width: 33px;
        opacity: 0.9;
        animation: leftMoveModal 0.65s linear infinite alternate;
        transform-origin: right;
      }

      @keyframes leftMoveModal {
        0% {
          -webkit-transform: rotateZ(-9deg);
          transform: rotateZ(-9deg);
          opacity: 0.85;
        }

        50% {
          opacity: 0.9;
        }

        100% {
          -webkit-transform: rotateZ(2deg);
          transform: rotateZ(2deg);
          opacity: 1;
        }
      }

      img {
        vertical-align: middle;
        border-style: none;
      }
    }
  }

  p {
    line-height: 25px;
    max-width: 785px;
    font-family: var(--secondary-font);
    margin: auto;
    text-align: center;
    font-size: 15px;
    position: relative;
    color: var(--common-secondary-font-color);
    letter-spacing: 0.5px;

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 33%;
      height: 1px;
      background: var(--input-border);
      bottom: -13px;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 55px;
      height: 3px;
      background: var(--ocw-btn-peacock);
      bottom: -13px;
      left: 50%;

      transform: translate(-50%, -50%);
    }
  }
}

// zill bank feature section
.zil-bank {
  position: relative;
  margin: 24px auto 0 auto;
  padding: 0px 23px;
}

.clover_images {
  position: absolute;

  display: flex;
  .img {
    width: 200px;
    height: 150px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
  }
}

//=====================

// `

.offer_msg1 {
  font-size: 16px;
  color: var(--process-card-clover-machine-secondary-header-font-colors);
  font-weight: 500;
  font-family: "Inter", Arial, sans-serif;
  letter-spacing: 0.32px;
  margin-bottom: 5px;
}
.offer_msg2 {
  font-size: 14px;
  color: var(--common-secondary-font-color);
  font-family: "Inter", Arial, sans-serif;
}
.content {
  margin-bottom: 12px;
  background: var(--common-standout-background-color);
  padding: 8px 16px;
  border-radius: 6px;
}

// zill bank sub section
.row {
  margin-right: -15px;
  margin-left: -15px;
}

// zil bank feature section
.featur-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .zil-featur {
    padding-top: 15px;
    padding-left: 13px;

    .h6 {
      font-size: 23px;
      font-family: "Inter", Arial, sans-serif;
      color: var(--primary-color);
      font-weight: 600;
      position: relative;
      margin-bottom: 23px;
      color: var(--process-card-clover-machine-font-color);

      &::before {
        content: "";
        display: block;
        width: 48px;
        height: 2.5px;
        background: var(--primary-color-lite);
        position: absolute;
        top: 33px;
        left: 16px;
        border-radius: 5px;
        opacity: 0.7;
      }

      &::after {
        content: "";
        display: block;
        width: 10px;
        height: 2.5px;
        background: var(--primary-color-lite);
        position: absolute;
        top: 33px;
        left: 1px;
        border-radius: 5px;
        opacity: 0.65;
      }
    }

    ul {
      margin-top: 18px;
      padding-left: 0;

      li {
        position: relative;
        padding-left: 26.5px;
        font-family: "Inter", Arial, sans-serif;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.2px;
        color: var(--common-secondary-font-color);

        &:not(:first-child) {
          margin-top: 10px;
        }

        &::before {
          content: "\f00c";
          position: absolute;
          left: 2px;
          font-size: 13.5px;
          transform: translateY(-50%);
          font-family: "FontAwesome", sans-serif;
          top: 12px;
          color: #60859c;
        }
      }
    }
  }

  .finance-app {
    width: 60%;
  }
  .offer_msg {
    color: #e56139;
    font-weight: 500;
  }
}

.ocw-from-bg {
  .ocw-btn-cloud {
    text-transform: uppercase !important;
    font-family: "Inter", Arial, sans-serif;
    letter-spacing: 0.5px !important;
    border-radius: 4px !important;
    font-weight: 600 !important;
    gap: 8px !important;

    i {
      font-size: 12px !important;
    }
  }
}
// bottom section

.account_btn {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .ocw-btn-dark-green {
    text-transform: uppercase;
    font-size: 14px;
    i {
      animation: activeMove 0.3s ease-in-out infinite alternate;
      font-size: 12px;
    }
  }

  .support {
    font-size: 12.55px;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 500;
    color: #7d7d7d;
    letter-spacing: 0.55px;
    margin-top: 7px;
    margin-bottom: 0;
    display: flex;
    text-align: center;
    max-width: 45ch;
  }

  .disclousre {
    font-size: 0.8rem;
    color: #afafbc;
    margin: 0;
    font-family: "Inter", Arial, sans-serif;
    letter-spacing: 0.2px;
    font-weight: 500;
    margin-top: 20px;

    a:hover {
      font-size: 0.8rem;
      color: var(--ocw-btn-dark-green);
    }
  }
}

@keyframes activeMove {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(3px);
  }
}

/*======> mobile devices <=======*/

@media (max-width: 767.98px) {
  .ocw-form-header {
    max-width: 1000px;
    margin: auto;
    padding-top: 48px;
    width: 109%;
    overflow-y: hidden;
    margin-left: -4%; // Common Modules
    // main from header
    .ocw-form-header {
      max-width: 1000px;
      margin: auto;
      width: 95%;
      overflow-y: hidden;
      .main-body {
        align-items: center;
        width: 95%;
        max-width: 1300px;
        position: relative;
        margin: auto;
        padding-top: 10px;
        .ocw-from-bg {
          // background: linear-gradient(45deg, var(--main-theme-variable));
          background-color: var(--main-theme-variable);
          box-shadow: 1px 1px 15px rgb(0 0 0/ 10%);
          position: relative;
          overflow: hidden;
          border-radius: 12px;
          &::after {
            content: "";
            position: absolute;
            width: 110px;
            height: 110px;
            background: linear-gradient(
              127deg,
              var(--ocw-btn-peacock),
              transparent
            );
            border-radius: 50%;
            transition: 0.2s ease-in-out all;
            right: -56px;
            top: -45px;
          }
          &::before {
            content: "";
            position: absolute;
            width: 110px;
            height: 110px;
            background: linear-gradient(36deg, #ade2f273, transparent);
            border-radius: 50%;
            transition: 0.2s ease-in-out all;
            top: -37px;
            right: -46px;
          }
        }
      }
    }

    // main from body
    .ocw-form-body {
      padding: 32.5px 32px 16px 32px;
    }

    // main form body head section
    .main-head {
      padding-bottom: 25px;
      h1 {
        font-family: var(--Roboto);
        font-weight: 500;
        align-items: center;
        justify-content: center;
        font-size: 28px;
        color: var(--process-card-clover-machine-font-color);
        margin: 0;
        text-transform: uppercase;
        -webkit-text-stroke: 0.5px var(--process-card-clover-machine-font-color);
        span {
          &:nth-child(3) {
            margin-left: 8px !important;
          }
          .zil-icon {
            margin: 0px -3px 16px 7px;
            width: 33px;
            opacity: 0.9;
            animation: leftMoveModal 0.65s linear infinite alternate;
            transform-origin: right;
          }
          @keyframes leftMoveModal {
            0% {
              -webkit-transform: rotateZ(-9deg);
              transform: rotateZ(-9deg);
              opacity: 0.85;
            }
            50% {
              opacity: 0.9;
            }
            100% {
              -webkit-transform: rotateZ(2deg);
              transform: rotateZ(2deg);
              opacity: 1;
            }
          }
          img {
            vertical-align: middle;
            border-style: none;
          }
        }
      }
      p {
        line-height: 25px;
        max-width: 785px;
        font-family: var(--secondary-font);
        margin: auto;
        text-align: center;
        font-size: 15px;
        position: relative;
        color: var(--common-secondary-font-color);
        letter-spacing: 0.5px;
        &::before {
          content: "";
          position: absolute;
          display: block;
          width: 33%;
          height: 1px;
          background: var(--input-border);
          bottom: -13px;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        &::after {
          content: "";
          position: absolute;
          display: block;
          width: 55px;
          height: 3px;
          background: var(--ocw-btn-peacock);
          bottom: -13px;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    // zill bank feature section
    .zil-bank {
      margin: 24px auto 0 auto;
      padding: 0px 23px;
    }

    // zill bank sub section
    .row {
      margin-right: -15px;
      margin-left: -15px;
    }

    // zil bank feature section
    .featur-head {
      display: flex;
      flex-direction: row;
      .zil-featur {
        padding-top: 15px;
        padding-left: 13px;
        .h6 {
          font-size: 23px;
          font-family: "Inter", Arial, sans-serif;
          color: var(--primary-color);
          font-weight: 600;
          position: relative;
          margin-bottom: 23px;
          color: var(--process-card-clover-machine-font-color);
          &::before {
            content: "";
            display: block;
            width: 48px;
            height: 2.5px;
            background: var(--primary-color-lite);
            position: absolute;
            top: 33px;
            left: 16px;
            border-radius: 5px;
            opacity: 0.7;
          }
          &::after {
            content: "";
            display: block;
            width: 10px;
            height: 2.5px;
            background: var(--primary-color-lite);
            position: absolute;
            top: 33px;
            left: 1px;
            border-radius: 5px;
            opacity: 0.65;
          }
        }
        ul {
          margin-top: 18px;
          padding-left: 0;
          li {
            position: relative;
            padding-left: 26.5px;
            font-family: "Inter", Arial, sans-serif;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 0.2px;
            color: var(--common-secondary-font-color);
            &:not(:first-child) {
              margin-top: 10px;
            }
            &::before {
              content: "\f00c";
              position: absolute;
              left: 2px;
              font-size: 13.5px;
              transform: translateY(-50%);
              font-family: "FontAwesome", sans-serif;
              top: 12px;
              color: #60859c;
            }
          }
        }
      }
      .finance-app {
        width: 35%;
      }
    }

    .ocw-from-bg {
      .ocw-btn-cloud {
        text-transform: uppercase !important;
        font-family: "Inter", Arial, sans-serif;
        letter-spacing: 0.5px !important;
        border-radius: 4px !important;
        font-weight: 600 !important;
        gap: 8px !important;
        i {
          font-size: 12px !important;
        }
      }
    }

    // bottom section
    .account_btn {
      margin-top: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .ocw-btn-dark-green {
        text-transform: uppercase;
        font-size: 14px;
        i {
          animation: activeMove 0.3s ease-in-out infinite alternate;
          font-size: 12px;
        }
      }
      .support {
        font-size: 12.55px;
        font-family: "Inter", Arial, sans-serif;
        font-weight: 500;
        color: #7d7d7d;
        letter-spacing: 0.55px;
        margin-top: 7px;
        margin-bottom: 0;
        display: flex;
        text-align: center;
        max-width: 45ch;
      }
      .disclousre {
        font-size: 0.8rem;
        color: #afafbc;
        margin: 0;
        font-family: "Inter", Arial, sans-serif;
        letter-spacing: 0.2px;
        font-weight: 500;
        margin-top: 20px;
        a:hover {
          font-size: 0.8rem;
          color: var(--ocw-btn-dark-green);
        }
      }
    }

    @keyframes activeMove {
      0% {
        transform: translateX(0px);
      }
      100% {
        transform: translateX(3px);
      }
    }

    /*======> mobile devices <=======*/

    @media (max-width: 767.98px) {
      .ocw-form-header {
        max-width: 1000px;
        margin: auto;
        padding-top: 48px;
        width: 109%;
        overflow-y: hidden;
        margin-left: -4%;
        .main-body {
          align-items: center;
          width: 98%;
          max-width: 1300px;
          position: relative;
          margin: auto;
          padding-top: 10px;
          margin-bottom: 7%;
        }
      }
      .zil-icon {
        display: none;
      }
      .zil-bank {
        margin: 24px auto 0 auto;
        padding: 0px;
        width: 100%;
      }
      .featur-head {
        display: flex;
        flex-direction: column;
        padding-left: 0%;
        .finance-app {
          width: 100%;
        }
      }
      .header {
        // display: none;
        display: flex;
        flex-flow: wrap;
      }
      .mobile {
        display: flex;
      }
    }

    /*=======> tablet normal <=======*/

    @media (min-width: 768px) and (max-width: 991.98px) {
      .ocw-form-header {
        max-width: 1000px;
        margin: auto;
        padding-top: 48px;
        width: 102%;
        overflow-y: hidden;
        .main-body {
          align-items: center;
          width: 95%;
          max-width: 1300px;
          position: relative;
          margin: auto;
          padding-top: 10px;
        }
      }
      .featur-head {
        display: flex;
        flex-direction: row;
        width: 109%;
      }
      .zil-featur {
        width: 58%;
      }
      .finance-app {
        width: 35%;
      }
    }

    /*=======> tablet ipad pro <=======*/

    @media (min-width: 992px) and (max-width: 1024px) and (orientation: portrait) {
      .ocw-form-header {
        max-width: 1000px;
        margin: auto;
        padding-top: 48px;
        width: 100%;
        overflow-y: hidden;
        .main-body {
          align-items: center;
          width: 95%;
          max-width: 1300px;
          position: relative;
          margin: auto;
          padding-top: 10px;
        }
      }
    }

    /*=======> laptop small screens <=======*/

    @media (max-width: 768px) {
      .ocw-form-body {
        padding: 32.5px 20px 16px 20px !important;
      }
    }

    .main-body {
      align-items: center;
      width: 98%;
      max-width: 1300px;
      position: relative;
      margin: auto;
      padding-top: 10px;
      margin-bottom: 7%;
    }
  }

  .zil-icon {
    display: none;
  }

  .zil-bank {
    margin: 24px auto 0 auto;
    padding: 0px;
    width: 100%;
  }

  .featur-head {
    display: flex;
    flex-direction: column;
    padding-left: 0%;

    .finance-app {
      width: 100%;
    }
  }

  .header {
    display: flex;
    flex-flow: wrap;
  }

  .mobile {
    display: flex;
  }
}

/*=======> tablet normal <=======*/

@media (min-width: 768px) and (max-width: 991.98px) {
  .ocw-form-header {
    max-width: 1000px;
    margin: auto;
    padding-top: 48px;
    width: 102%;
    overflow-y: hidden;

    .main-body {
      align-items: center;
      width: 95%;
      max-width: 1300px;
      position: relative;
      margin: auto;
      padding-top: 10px;
    }
  }

  .featur-head {
    display: flex;
    flex-direction: row;
    width: 109%;
  }

  .zil-featur {
    width: 58%;
  }

  .finance-app {
    width: 35%;
  }
}

/*=======> tablet ipad pro <=======*/

@media (min-width: 992px) and (max-width: 1024px) and (orientation: portrait) {
  .ocw-form-header {
    max-width: 1000px;
    margin: auto;
    padding-top: 48px;
    width: 100%;
    overflow-y: hidden;

    .main-body {
      align-items: center;
      width: 95%;
      max-width: 1300px;
      position: relative;
      margin: auto;
      padding-top: 10px;
    }
  }
}

/*=======> laptop normal <=======*/

@media (min-width: 1024px) and (max-width: 1600px) and (orientation: landscape) {
}

/*=======> laptop small screens <=======*/

@media (min-height: 400px) and (max-height: 630px) and (orientation: landscape) {
}

@media (max-width: 768px) {
  .ocw-form-body {
    padding: 32.5px 20px 16px 20px !important;
  }
}
