.message-section {
  width: 40%;
  min-width: 400px;
  .messages-container {
    border-radius: 8px;
    border: 1px solid var(--table-border);
    background-color: var(--light-green);
    overflow: auto;
    .no-message-text {
      font-weight: 500;
      color: var(--text-light-dark);
    }
    .sending-label {
      color: var(--common-font-color);
      opacity: 0.5;
      font-size: 12px;
      font-weight: 500;
      margin-top: 5px;
      .loadingSpinner {
        &::after {
          width: 15px !important;
          height: 15px !important;
          border-color: var(--common_border_color) transparent
            var(--common_border_color) transparent;
        }
      }
    }
    .message-item-right,
    .message-item-left {
      box-shadow: 1px 1px 6px rgb(0 0 0 / 27%);
      width: 80%;
      background: var(--common-applied-background-color);
      border-radius: 5px;
      padding: 10px;
      .contact-name,
      .contact-name-you {
        color: var(--bank-ag-grid-link-color);
        font-size: 12px;
        font-weight: 500;
        margin-top: -5px;
      }
      .contact-name-you {
        color: var(--brand-color-lite-2);
      }
      .message-text {
        font-size: 15px;
        word-break: break-word;
      }
    }
    .message-item-left {
      border-radius: 0px 8px 8px 8px;
    }
    .message-item-right {
      border-radius: 8px 8px 0px 8px;
    }
  }
}

.sub-header {
  font-size: 20px;
  font-weight: 500;
  font-family: var(--roboto);
  color: var(--common-font-color);
  padding: 0rem 0 0.5rem 0;
  // text-align: center;
}

.dt-container {
  margin-top: -3rem;
}

.send-message-container {
  min-height: 45px;
}

//dataTable

:host ::ng-deep .ocw-data-body {
  padding: 0 !important;
}

:host ::ng-deep .module_main_body {
  margin-top: 0px !important;
}

:host ::ng-deep .ocw-all-table-section {
  min-height: 300px;
  height: calc(100vh - 400px);
}

:host ::ng-deep .ocw-data-table .ag-root-wrapper {
  min-height: 280px;
  height: calc(100vh - 420px);
}

:host ::ng-deep.ocw-data-table {
  min-height: 260px;
  height: calc(100vh - 440px);
}

:host ::ng-deep .ag-row-loading {
  height: 22vh !important;
}
