nav {
  position: fixed;
  z-index: 99;
  width: 100%;
  top: 0;
  left: 0;
  background: #415a80;
  padding: 0 20px;
}

nav .wrapper {
  position: relative;
  max-width: 1300px;
  height: 75px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ocw_logo {
  height: 100%;
}

.ocw_logo .ocw_img {
  height: 80px;
  width: 100%;
}

.nav-links {
  gap: 10px;
}

.wrapper .nav-links {
  display: inline-flex;
  color: #fff;
  padding-bottom: 0px !important;
  line-height: 35px !important;
  margin-top: 5px;
}

.nav-links .header_li {
  list-style: none;
}

.nav-links .header_li .header-item {
  color: #fff;
  text-decoration: none;
  //   font-size: 18px !important;
  font-size: 15px;
  font-weight: 700;
  padding: 9px 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
  font-family: "Nunito", sans-serif;
}

.nav-links .mobile-item {
  display: none;
}

.nav-links .header_li:hover .mega-box {
  transition: all 0.5s ease;
  top: 75px;
  opacity: 1;
  visibility: visible;
  animation: move 0.3s;
  color: #00a5b2;
}

.mega-box {
  position: absolute;
  left: 0;
  width: 100%;
  top: 75px;
  opacity: 0;
  visibility: hidden;
}

.mega-box .ocw-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0px 53px 50px 0px rgba(0, 165, 178, 0.06);
  border-radius: 0 0 20px 20px;
}

.wrapper .btn {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.wrapper .btn.close-btn {
  position: absolute;
  right: 30px;
  top: 10px;
  color: black;
}

@media screen and (min-width: 970px) {
  .header_li {
    // height: 70px !important;
  }

  .nav-links {
    margin-top: 25px !important;
    
  }
}

@media screen and (max-width: 1100px) {
  .ocw_buttons {
    margin-left: 0 !important;
  }
}

@media screen and (max-width: 1301px) {
  .wrapper .btn {
    display: block;
  }

  .wrapper .nav-links {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0px;
    left: -100%;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
    transition: all 0.3s ease;
    height: 100%;
    text-align: start;
  }

  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #c1dce4;
    width: 2px !important;
  }

  ::-webkit-scrollbar-thumb {
    background: #415a80;
    border-radius: 50px;
    width: 2px !important;
  }

  #menu-btn:checked ~ .nav-links {
    left: 0%;
    background: #ffffff;
  }

  #menu-btn:checked ~ .btn.menu-btn {
    display: none;
  }

  #close-btn:checked ~ .btn.menu-btn {
    display: block;
  }

  .nav-links .header_li {
    margin: 15px 10px;
  }

  .nav-links .header_li .header-item {
    padding: 0 20px;
    display: block;
    font-size: 20px;
    color: black;
  }

  #showMega:checked ~ .mega-box {
    max-height: 100%;
  }

  .nav-links .desktop-item {
    display: none !important;
    font-size: 15px !important;
  }

  .menu-items-new {
    // font-size: 15px !important;
  }

  .nav-links .mobile-item {
    display: block;
    color: black;
    font-weight: 600;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
    font-family: "Nunito", sans-serif;
    font-size: 19px;
  }

  .zil_label,
  .ocw_label {
    font-size: 15px !important;
  }

  .mega-box {
    position: static;
    top: 75px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }

  .mega-box .ocw-content {
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }

  .mega-box .ocw-content .row:nth-child(1) {
    border-top: 0px;
  }

  .ocw_megamenu {
    flex-direction: column;
  }

  .ocw_line,
  .zil_line {
    display: none;
  }

  .left_ocw_side,
  .right_zilbank_side {
    width: 100% !important;
    padding: 0 !important;
    margin-left: -20px;
    border-top: none !important;
    background: #fff !important;
  }

  .ocw_menu {
    flex-direction: column;
    margin-top: 0;
    background: white;
    
    .ocw_menu_item {
      width: 100%;
      
      .ocw_menu_heading {
        cursor: pointer;
        padding: 15px 20px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        background: white;
        
        p {
          color: #00a5b2;
          font-weight: 600;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 0;
          font-size: 16px;
          
          &:after {
            content: '\f107';
            font-family: 'FontAwesome';
            transition: transform 0.3s ease;
            margin-left: 10px;
          }
        }

        &.active {
          p:after {
            transform: rotate(180deg);
          }
        }

        &:hover {
          background: rgba(59, 244, 147, 0.1);
        }
      }

      .ocw_menu_item_link {
        height: 0;
        opacity: 0;
        padding: 0 20px;
        color: black;
        transition: all 0.3s ease;
        pointer-events: none;
        background: white;
        cursor: pointer;
        
        &:hover {
          background: #00a5b2;
        }
      }

      &.expanded {
        .ocw_menu_item_link {
          height: auto;
          opacity: 1;
          padding: 12px 30px;
          pointer-events: auto;
        }
      }
    }
  }

  .right_zilbank_side {
    background: #fff !important;
    color: #415a80;
  }

  .zil_title .zil_label {
    margin-top: 30px;
    color: #415a80 !important;
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    line-height: 33px;
  }

  .zil_menu_heading {
    font-size: 15px;
    font-weight: 600;
    color: black !important;
  }

  .zil_menu_item {
    margin-top: -20px !important;
  }

  .zil_menu_item_link {
    text-decoration: none;
    font-size: 13px;
    color: #545454 !important;
    line-height: 35px;
    font-style: normal;
    font-weight: 300;
    line-height: 33px;
  }

  .zil_description {
    color: #545454 !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    word-spacing: 3px !important;
  }

  .ocw_buttons {
    margin-left: 23px !important;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    width: 87%;
    font-family: "Barlow Condensed", sans-serif;
  }

  .ocw_login_btn {
    color: black !important;
    border: 1px solid black !important;
    padding: 0 20px;
    display: block;
    font-size: 20px;
    color: black;
  }

  .ocw_demo {
    color: black !important;
    font-weight: 700 !important;
    margin-left: 10px !important;
    padding: 0 20px;
    display: block;
    font-size: 20px !important;
  }
}

nav input {
  display: none;
}

.body-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0 30px;
}

.body-text div {
  font-size: 45px;
  font-weight: 600;
}

@keyframes move {
  0% {
    top: -70px;
  }

  50% {
    top: 90px;
  }

  100% {
    top: 70px;
  }
}

.ocw_megamenu {
  display: flex;
  width: 100%;
}

.left_ocw_side {
  width: 100%;
  padding: 40px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: 1px solid rgba(0, 165, 178, 0.19);
  background: #3d3d3d!important;
}

.ocw_title .ocw_label {
  color: #415a80;
  font-style: normal;
  font-weight: 800;
  line-height: 33px;
  font-size: 20px;
}

.ocw_description {
  color: #545454;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.ocw_line {
  height: 2px;
  background: #00a5b2;
  margin-top: 30px;
}

.right_zilbank_side {
  width: 40%;
  padding: 60px;
  background-color: #415a80;
  border-bottom-right-radius: 20px;
  border-top: 1px solid rgba(0, 165, 178, 0.19);
}

.zil_title .zil_label {
  color: #fff;
  font-style: normal;
  font-weight: 800;
  line-height: 33px;
  font-size: 20px;
}

.zil_description {
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.zil_line {
  height: 2px;
  background: #ffffff;
  margin-top: 30px;
}

.ocw_menu,
.zil_menu {
  margin-top: 0px;
  display: flex;
  gap: 15%;
}

.ocw_menu_item,
.zil_menu_item {
  display: flex;
  flex-direction: column;
  align-items: start;

}

.ocw_menu_heading {
  font-size: 15px;
  font-weight: 600;
}

.zil_menu_heading {
  font-size: 15px;
  font-weight: 600;
  color: black !important;
}

.ocw_menu_item_link {
  text-decoration: none;
  font-size: 14px;
  line-height: 35px;
  color: #ffff;
  font-style: normal;
  font-weight: 600;
  line-height: 33px;
}

.ocw_menu_item_link:hover {
  color: #00a5b2;
  text-decoration: underline;
}

.zil_menu_item_link {
  text-decoration: none;
  font-size: 14px;
  color: black !important;
  line-height: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
}

.zil_menu_item_link:hover {
  color: #00a5b2 !important;
  transition: 0.5s;
}

.ocw_buttons {
  font-family: "Nunito", sans-serif;
  margin-left: 10px;
  margin-top: -3px;
}

.ocw_login_btn {
  padding: 6px 20px 7px 20px;
  cursor: pointer;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  margin-right: 20px;
  border: 1px solid #fff;
  border-radius: 5px;
  font-family: "Nunito", sans-serif;

}

.ocw_signup_btn {
  padding: 6px 20px 7px 20px;
  color: black;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  background-color: #00a5b2;
  border-radius: 5px;
  font-family: "Nunito", sans-serif;

}

button {
  line-height: normal !important;
}

ul {
  margin-bottom: 0 !important;
}

.ocw_demo {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  margin-left: 10px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
}

/* zm header close */
