//===========> CUSTOM INPUT FILE START===========//

.file_input {
  color: transparent;
}

.file_input::-webkit-file-upload-button {
  visibility: hidden;
}

.file_input::-webkit-file-upload-button,
.file_input::file-selector-button {
  visibility: hidden;
}

.file_input_selector {
  position: absolute;
  right: 0;
  top: 0;
  font-weight: 400;
  height: 100%;
  background-color: var(--upload-button-background-color);
  color: #000000;
  height: calc(1.9rem + 0.51rem);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  letter-spacing: 0.3px !important;
  padding: 0.4rem 1rem;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.file_input:active {
  outline: 0;
}

.file_input_label {
  position: absolute;
  top: 6px;
  left: 0;
  padding: 0 1rem;
  color: var(--secondary-font-color);
  font-size: 15px;
  max-width: 65%;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.main_wrapper {
  display: flex;

  div {
    flex: 0 1 calc(50% - 10px);
    h5 {
      padding-left: 26.5px;
      font-family: "Inter", Arial, sans-serif;
      font-size: 15px;
      font-weight: 500;
      letter-spacing: 0.2px;
      color: var(--ocw-btn-dark-blue);
      margin-bottom: 3px;
    }
    p {
      position: relative;
      padding-left: 26.5px;
      font-family: "Inter", Arial, sans-serif;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.2px;
      color: var(--common-font-color);
    }
  }
}
