@use "../../../../../assets/style_varients/mixins" as m;
$light-blue: #3f51b5;

.body_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;

  .sign_up_box {
    position: relative;
    margin: auto;
    height: 500px;
    width: 400px;
    background: #fff;
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 8px;

    @media (max-width: 450px) {
      margin: 0;
      width: 100%;
    }
  }
}

.header {
  .logo {
    text-align: center;

    img {
      display: inline-block;
      width: 100px;
      height: 100px;
    }
  }

  p {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02rem;
    margin-left: 15px;
    font-family: var(--roboto);
  }
}

.actions {
  position: absolute;
  bottom: 16px;
  -webkit-transform: translate(16%);
  -ms-transform: translate(16%);
  transform: translate(16%);

  button {
    width: 286px;
    @include m.flex();
    gap: 4px;
    color: #fff;
    padding: 8px;
    border-radius: 3px;
    font-size: 14px;
    background-color: hsl(215deg 33% 38%);
  }
}

.input_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 1rem;

  .single_input {
    margin-bottom: 25px;
  }
}

.alert_label {
  @include m.flex(center, baseline);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 3px 0 0.5px;

  p {
    color: #cd3d64;
    margin-top: 0px;
    font-weight: 5000;
    font-family: var(--secondary-font);
    min-width: 100px;
    text-align: center;
    display: inline-block;
    -webkit-animation: shakes 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    animation: shakes 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    border-radius: 5px;
    font-size: 13px;
    -webkit-transition: 0.3s linear all;
    -o-transition: 0.3s linear all;
    transition: 0.3s linear all;
    height: 100%;
    line-height: 17px;
    font-weight: 600;
    letter-spacing: 0.5px;
  }

  &::before {
    content: "";
    font-family: "FontAwesome";
    position: relative;
    left: 2px;
    top: 9px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #cd3d64;
    padding-right: 7px;
    font-size: 12px;
  }

  @-webkit-keyframes shakes {
    10%,
    90% {
      -webkit-transform: translate3d(-1px, 0, 0);
      transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
      -webkit-transform: translate3d(2px, 0, 0);
      transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
      -webkit-transform: translate3d(-4px, 0, 0);
      transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
      -webkit-transform: translate3d(4px, 0, 0);
      transform: translate3d(4px, 0, 0);
    }
  }

  @keyframes shakes {
    10%,
    90% {
      -webkit-transform: translate3d(-1px, 0, 0);
      transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
      -webkit-transform: translate3d(2px, 0, 0);
      transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
      -webkit-transform: translate3d(-4px, 0, 0);
      transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
      -webkit-transform: translate3d(4px, 0, 0);
      transform: translate3d(4px, 0, 0);
    }
  }
}

.notes {
  i {
    font-size: 16px;
    color: $light-blue;
    margin-right: 10px;
  }
  margin-bottom: 7px;
  font-size: 13px;
}
