.center-div {
  display: flex;
  justify-content: center;
  margin-top: 75px;
  @media (max-width: 1300px) {
    margin-left: 20px;
  }
}

.logo-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 36px;
}

.start-now {
  background: var(--spending-limit-interval-font-color);
  font-size: 14px;
  padding: 8px 85px;
  border-radius: 3px;
  cursor: pointer;
}

.button-div {
  display: flex;
  justify-content: center;
}

.text-div .header {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  font-weight: 600;
  color: var(--black_header);
  @media (max-width: 1200px) {
    font-size: 21px;
  }
  @media (max-width: 760px) {
    font-size: 18px;
    left: 35%;
  }
}

.text-div .content {
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  color: var(--black_header);
  @media (max-width: 1100px) {
    font-size: 12px;
  }
  @media (max-width: 760px) {
    font-size: 12px;
    left: 40%;
    white-space: wrap;
  }
}

.help-div {
  background-color: #f1f6ff;
  .title {
    color: var(--text_blue);
  }
  i {
    width: 18px;
    height: 18px;
    color: var(--text_blue);
  }
}

.help-video {
  background-color: #f1f6ff;
  .watch {
    color: var(--text_blue);
    text-decoration: underline;
  }
}

.image-div {
  position: relative;
}

.video-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 10px 50px 0 0;
}

@media (max-width: 1300px) {
  .support-div {
    margin-right: 20px;
  }
}
