@mixin color-mixin() {
  //=========== App Colors ===========//
  $main-background-color: #1d2027 !global;
  $secondary-background-color: #141515 !global;
  $tertiary-background-color: #232834 !global;
  $input-border-color: #3a3e47 !global;
  $main-text-color: #c9cfe0 !global;
  $secondary-text-color: #a8b4c8 !global;
  $common-blue-color: #1d6aa5 !global;
  $common-green-color: #099753 !global;
  $common-violet-color: #7d4de1 !global;
  $common-yellow-color: #f2a735 !global;
  $common-red-color: #eb2e2e !global;
  $common-secondary-blue-color: #041a33 !global;
  $common-secondary-green-color: #05350d !global;
  $common-secondary-violet-color: #12062d !global;
  $common-secondary-yellow-color: #372c1a !global;
  $common-secondary-red-color: #3f1f1f !global;
  $common-tertiary-blue-color: #4DB6E2 !global;
  $common-tertiary-green-color: #69DC9E !global;
  $common-tertiary-yellow-color: #FFB84D !global;
  $common-tertiary-violet-color: #B39DDB !global;
  $common-dark-blue-color: #8ec5ec !global;
  $common-sidebar-color: #161921 !global;
  $common-box-shadow: 0px 12px 37px 0px rgba(0, 0, 0, 0.37) !global;
  $ottimate-color: #0fb794 !global;
  $sidebar-selection: #1d6aa5 !global;
  $sidebar-hover: #323753 !global;
  $sidebar-branch: #3a3e47 !global;
  $subscription-red: #221d27 !global;
  $subscription-green: #041306 !global;
}
