//====== Font Variables ========//

$roboto: "Inter", Arial, sans-serif;
$info-font: "Inter", Arial, sans-serif;
$open_sans: "Inter", Arial, sans-serif;
$muli: "Inter", Arial, sans-serif;
$baloo: "Inter", Arial, sans-serif;
$Roboto: "Inter", Arial, sans-serif;
$light-font: "Inter", Arial, sans-serif;
$Roboto: "Inter", Arial, sans-serif;
$inter: "Inter", Arial, sans-serif;
$primary-font: "Inter", Arial, sans-serif;
$secondary-font: "Inter", Arial, sans-serif;
$semi-font: "Inter", Arial, sans-serif;
$signature-font: "Dancing Script", sans-serif;
$digital_sign: "Dancing Script", cursive;

:root {
  --roboto: #{$roboto};
  --info-font: #{$info-font};
  --open_sans: #{$open_sans};
  --muli: #{$muli};
  --baloo: #{$baloo};
  --Roboto: #{$Roboto};
  --light-font: #{$light-font};
  --Roboto: #{$Roboto};
  --inter: #{$inter};
  --primary-font: #{$primary-font};
  --secondary-font: #{$secondary-font};
  --semi-font: #{$semi-font};
  --signature-font: #{$signature-font};
  --digital_sign: #{$digital_sign};
}
