@use "../../../../../assets/style_varients/common_block/loaders_common.scss";

/*============> single_input <============*/
.single_input {
  margin-bottom: 12px;
}

.selct-for-margin {
  margin-bottom: 12px;
}

.extra-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  gap: 20px;
  margin-bottom: 15px;
}

.sub-head {
  color: var(--primary-color);
  letter-spacing: 0.3px;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}

.error_msg {
  color: var(--text_danger_lite);
  font-family: "Inter", Arial, sans-serif;
  font-size: 12.5px;
  font-weight: 400;
  letter-spacing: 0.2px;
}

.spinner-gap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.display-grid {
  display: -ms-grid;
  display: grid;
}
//#2196f3
