@use "../../../../../../assets/style_varients/mixins" as m;

.add_account_modal_wrapper {
  position: relative;
  margin: -24px;
  overflow-x: hidden;
  padding: 24px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 0;
    background: var(--ocw-cloud-gradient);
    transition: 0.2s ease-in-out all;
    left: -102px;
    top: -91px;
    transform: rotate(45deg);
  }

  &:before {
    content: "";
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 0;
    background: var(--ocw-cloud-gradient-lite);
    transition: 0.2s ease-in-out all;
    left: -91px;
    top: -88px;
    transform: rotate(45deg);
  }
}

/* ===================================================
                  MAIN HEADER STYLE
=================================================== */
.head_icon {
  @include m.flex();
  img {
    width: 62.5px;
    margin-bottom: 8px;
  }
}

.modal-subhead {
  text-align: center;

  h5 {
    font-family: "Inter", sans-serif;
    max-width: 31ch;
    margin: 6px auto 17px auto;
    font-weight: 600;
    color: var(--small-modal-header);
    letter-spacing: 0.31px;
    line-height: 24px;
    font-size: 17.5px;
  }

  p {
    margin-bottom: 0px;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 0.1px;
    color: var(--common-font-color);
    margin-top: 23px;
    margin-bottom: 6px;
    font-size: 14px;
  }
}

.close_btn {
  position: absolute;
  right: 16px;
  top: 14px;
  width: 12px;
  height: 10px;
  cursor: pointer;
  z-index: 99;
  transition: 0.25s ease-in-out all;

  svg {
    path {
      fill: var(--semi-gray-color);
    }
  }

  &:hover {
    transform: scale(1.03);
  }
}

/* ===================================================
                  BUSINESS LIST AREA
=================================================== */
.business_name_lists {
  max-height: 266px;
  overflow-x: auto;
  padding: 10px 0;
  max-width: 365px;
  margin: auto;

  .business_name {
    display: block;
    max-width: 309px;
    margin: auto;
    background: var(--main-theme-variable);
    box-shadow: var(--adding-existing-business-box-shadow);
    padding: 8px 40px 8px 15px;
    border-radius: 5px;
    /* min-width: 0; */
    font-family: "Inter", Arial, sans-serif;
    font-weight: 400;
    color: var(--common-font-color);
    border-left: 3px solid #53c7a9;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    position: relative;
    transition: 0.2s ease-in-out all;
    text-transform: capitalize;
    font-size: 14px;
    letter-spacing: 0.3px;
    opacity: 0.98;
    cursor: pointer;

    &::after {
      content: "\f178";
      font-family: "fontAwesome";
      position: absolute;
      right: 15px;
      color: #33a487;
      font-size: 16.5px;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;
    }

    &:hover {
      &::after {
        animation: MoveFast 0.25s linear infinite alternate;

        //==> Arrow animation start
        @keyframes MoveFast {
          0% {
            transform: translateX(0px);
          }

          100% {
            transform: translateX(5px);
          }
        }

        //==> Arrow animation end
      }
    }

    &:hover {
      box-shadow: 1px 1px 13px rgba(0, 0, 0, 0.2);
    }

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &::-webkit-scrollbar-track {
    background-color: #f5f5f5;
  }
}

/* ===================================================
                'OR' TEXT DESIGN AREA
=================================================== */
.__or {
  color: rgb(121 139 155);
  position: relative;
  font-size: 19px;
  margin: 15px auto 16px auto;
  opacity: 0.95;
  text-align: center;
  font-weight: 600;

  &::before {
    content: "";
    position: absolute;
    display: inline-block;
    left: -6px;
    top: 50%;
    transform: translateY(-50%);
    width: 46%;
    height: 1.2px;
    font-family: "Inter", Arial, sans-serif;
    background: linear-gradient(
      to left,
      rgb(121 139 155 / 71%),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
    );
  }

  &::after {
    content: "";
    position: absolute;
    display: inline-block;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
    width: 46%;
    height: 1.2px;
    background: linear-gradient(
      to right,
      rgb(121 139 155 / 71%),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
    );
  }
}

.hint_text_mod {
  font-size: 14px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  color: var(--common-secondary-font-color);
  display: flex;
  text-align: center;
  margin: 0px auto 9px;
  text-align: center;
  justify-content: center;
}

/* ===================================================
                  CLOUD BUTTON AREA
=================================================== */
.bus_modal_btn_wrapper {
  @include m.flex();
  text-align: center;

  button {
    text-transform: uppercase;
  }
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}
