.send-sms-container {
  border: 1px solid var(--my-business-cards-icon-background);
  border-radius: 5px;
  padding: 0px 1rem;
  font-family: var(--roboto);

  .send-sms-form {
    background-color: var(--main-theme-variable);
    border-radius: 5px;
    padding: 0px 1rem 1rem 5px;

    min-width: 500px;
  }

  .contacts-section {
    min-width: 500px;
    margin-left: 2rem;
    min-height: 500px;

    color: var(--semi_black);
    border-radius: 5px;
    background-color: var(--main-theme-variable);
  }

  .message-text-area-wrapper {
    height: 300px;

    textarea {
      height: 290px;
      background-color: var(--main-theme-variable);
    }
  }

  .sub-header {
    font-size: 22px;
    font-weight: 700;
    font-family: var(--roboto);
    color: var(--common_text_color_light);
    padding: 1rem 0 1rem 0;
  }

  .sub-header2 {
    font-size: 22px;
    font-weight: 700;
    font-family: var(--roboto);
    color: var(--light_black);
    padding: 1rem 0 0rem 0;
  }

  .sub-header3 {
    font-weight: 600;
    font-size: 14px;
  }

  .fa-square {
    height: 4px;
    vertical-align: middle;
    font-size: 5px;
    display: inline-block;
    align-items: center;
    color: #000000;
  }

  .li-content {
    font-size: 13px;
  }

  .instructions-2 {
    border: 1px solid var(--input-border);
  }

  .instructions-list {
    font-family: var(--open_sans);
    color: var(--common-font-color);
    font-size: 13px;
    font-weight: 600;
    border-radius: 3px;
    padding: 1.5rem;
    background-color: var(--my-business-cards-icon-background);
  }

  .message-count-text {
    font-size: 12px;
    font-weight: 400;
  }

  .append-btn {
    background-color: var(--main-theme-variable);
    border: 1px solid;
    padding: 5px 8px;
    min-width: 150px;
    max-width: 150px;
    height: 35px;
    border-radius: 3px;
    color: var(--text_blue);
    font-weight: 500;
  }

  .group-info {
    background-color: var(--my-business-cards-icon-background);
    padding: 5px 1rem;
    border-radius: 4px;

    .group-name {
      font-weight: 500;
      margin-top: -3px;
    }

    .group-name-label {
      font-weight: 400;
      font-size: 12px;
    }

    .fa-pen-to-square {
      color: var(--text_blue);
      padding: 2px;
      font-size: 20px;
    }

    .fa-xmark {
      font-weight: 400;
      color: var(--very_light_hash);
      font-size: 18px;
    }
  }

  .image-container {
    background-color: var(--common-applied-background-color);
    border-radius: 5px;

    .image-header {
      font-size: 27px;
      text-align: center;
      width: 70%;
      font-weight: 600;
      padding: 6% 0px;
      font-family: var(--roboto);
    }

    img {
      width: 375px;
    }
  }

  .send-btn {
    padding: 7px 1.5rem;
  }

  .add_modal_btn {
    height: 40px;
    width: 40px;
    border-radius: 3px;
  }

  .input-title {
    pointer-events: all !important;

    svg {
      width: 15px;
      margin-left: 5px;
      color: var(--ocw-btn-peacock);
    }
  }

  .custom-switch1 {
    height: 35px;
    width: 80%;
    padding: 3px;
    background-color: var(--sms-panel-secondary-background-color);
    border-radius: 5px;

    .slider-container {
      height: 0px;
      width: 100%;

      .slider {
        height: 29px;
        width: calc(50%);
        background-color: var(--main-theme-variable);
        transition: ease 0.25s;
        border-radius: 5px;
      }

      .slider-state2 {
        transform: translateX(calc(100%));
      }
    }

    .switch-container {
      position: relative;
      z-index: 1;
      height: 100%;
      width: 100%;

      .switch-item {
        width: calc(50% - 3px);

        span {
          font-weight: 600;
          font-size: 13px;
        }
      }
    }
  }

  ul {
    padding-left: 20px;

    li {
      list-style: disc;
      list-style-type: disc;
    }
  }
}
