@use "../../../../../assets/style_varients/block-sections/create-double-side.scss"
  as c;
@use "../../../../../assets/style_varients/common_block/table_common.scss" as t;

.activit-log {
  max-height: 30vh;
  overflow: scroll;
}

.main_common_module {
  @include c.mainCommonModule(80vw);
}

.spinner-gap {
  display: flex;
  gap: 8px;
}

.max-size1 {
  max-height: 57.2vh;
}
.max-size2 {
  max-height: 56.2vh;
}

.error_msg {
  color: var(--text_danger_lite);
  font-family: "Inter", Arial, sans-serif;
  font-size: 12.5px;
  font-weight: 400;
  letter-spacing: 0.2px;
  float: left;
  width: 100%;
}

// SAMPLE CHECK DESIGN
.main_left_wrapper {
  @include c.mainLeftSection(1 1 50%, 50%);
}
.main_right_section {
  @include c.mainRightSection(1 1 50%, 50%);
}

@mixin check-h5 {
  font-weight: 600;
  font-size: 13px;
  font-family: var(--info-font);
}
@mixin check_span_uderline {
  font-size: 12px;
  color: var(--secondary-text-color);
  border-bottom: 1px solid;
  font-family: var(--info-font);
}
@mixin check-span {
  font-size: 12px;
  color: var(--secondary-text-color);
  font-family: var(--info-font);
}
@mixin grid-systems {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 6px;
  gap: 6px;
  justify-content: flex-start;
}
// SAMPLE CHECK DESIGN
.check-design {
  position: relative;
  .check-body-sec {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 32px 38px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;

    .addres-bank-date {
      @include grid-systems;
      .address {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(50% - 10px);
        flex: 1 1 calc(50% - 10px);
        h6 {
          @include check-h5;
          padding-bottom: 2px;
        }
        p {
          @include check-span;
        }
      }
      .names_dates {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(50% - 10px);
        flex: 1 1 calc(50% - 10px);
        .name_date {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: end;
          -ms-flex-align: end;
          align-items: flex-end;
          -webkit-box-pack: start;
          -ms-flex-pack: start;
          justify-content: flex-start;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          width: 100%;
          span {
            @include check-span;
          }
          h5 {
            @include check-h5;
            span {
              @include check_span_uderline;
              padding: 0 8px;
            }
          }
        }
      }
    }

    .payto-order-sec {
      @include grid-systems;
      .sub-head {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(8% - 5px);
        flex: 1 1 calc(8% - 5px);
        h6 {
          @include check-h5;
          width: 60px;
          font-size: 12px;
        }
      }
      .text {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(67% - 10px);
        flex: 1 1 calc(67% - 10px);

        @include check_span_uderline;
        p {
          @include check_span;
          width: 100%;
        }
      }
      .money {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(20% - 10px);
        flex: 1 1 calc(20% - 10px);
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        h6 {
          white-space: nowrap;
          @include check_span_uderline;
          width: 100%;
        }
      }
    }

    .payments {
      @include grid-systems;
      .text {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(80% - 10px);
        flex: 1 1 calc(80% - 10px);
        h6 {
          @include check_span_uderline;
          width: 100%;
        }
      }
      .dolllar {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(20% - 10px);
        flex: 1 1 calc(20% - 10px);
        h6 {
          @include check-h5;
        }
      }
    }

    .memo-sign {
      @include grid-systems;
      .memo {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(70% - 10px);
        flex: 1 1 calc(70% - 10px);
        p {
          @include check-span;
        }
        h6 {
          @include check-h5;
        }
      }
      .sign {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(30% - 10px);
        flex: 1 1 calc(30% - 10px);
        text-align: center;
        p {
          @include check_span_uderline;
          width: 100%;
        }
        h6 {
          @include check-h5;
          white-space: nowrap;
          padding: 5px 0;
        }
      }
    }
  }
}
.activity_table {
  td {
    @include t.tableDataStyle(6px 6px !important);
  }
  .info {
    margin-left: 7px;
    cursor: pointer;
    &:hover {
      color: var(--text_link);
    }
  }
}

.link {
  cursor: pointer;
}

.metadata_table {
  width: 100%;
  overflow-x: auto;
  table {
    width: 100%;
    border-collapse: collapse;

    tbody {
      tr {
        font-weight: 400;
        padding-bottom: 1px;
        font-size: 14px;
        border-bottom: 1px solid var(--input-border-color);

        td {
          padding: 7px 5px;
          border-bottom: none !important;
        }

        &:not(:first-child) {
          border-top: none;
        }
        
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}
// RESPONSIVE START

@media (max-width: 767.98px) {
  .check-design-sec {
    display: none;
  }
  .check-design {
    .check-body-sec {
      position: relative;
      padding: 5px;
      .addres-bank-date {
        display: block;
        .address {
          padding: 8px 0;
        }
        .names_dates {
          .name_date {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start;
          }
        }
      }
      .payto-order-sec {
        margin-top: 10px;
        .sub-head {
          -webkit-box-flex: 1;
          -ms-flex: 1 1 calc(100% - 5px);
          flex: 1 1 calc(100% - 5px);
          h6 {
            width: 100%;
            @include check-h5;
          }
        }
      }
      .payments {
        margin-top: 10px;
      }
      .memo-sign {
        margin-top: 10px;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .check-design {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    .check-body-sec {
      padding: 24px 22px;
    }
  }

  .payto-order-sec {
    .text {
      -webkit-box-flex: 1 !important;
      -ms-flex: 1 1 calc(55% - 10px) !important;
      flex: 1 1 calc(55% - 10px) !important;
    }
  }

  @mixin check-h5 {
    font-size: 12px !important;
  }
  @mixin check_span_uderline {
    font-size: 12px !important;
  }
  @mixin check-span {
    font-size: 12px !important;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .check-design {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    .check-body-sec {
      padding: 35px 45px;
    }
  }
  .payto-order-sec {
    .text {
      -webkit-box-flex: 1 !important;
      -ms-flex: 1 1 calc(71% - 10px) !important;
      flex: 1 1 calc(71% - 10px) !important;
    }
  }

  @mixin check-h5 {
    font-size: 13px;
  }
  @mixin check_span_uderline {
    font-size: 12px;
  }
  @mixin check-span {
    font-size: 12px;
  }
}

.void-check {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 32px 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  transition: 0.5s;
  justify-content: center;
  align-items: center;
  font-family: var(--roboto);
  font-size: 49px;
  font-weight: bold;
}

@media (max-width: 1754px) and (min-width: 991px) {
  .cheque-sub-headers {
    font-size: 12px !important;
  }

  .cheque-details-text {
    font-size: 12px !important;
  }

  .check-body-sec {
    padding: 24px 31px !important;
  }
}

@media (max-width: 1637px) and (min-width: 875px) {
  .cheque-sub-headers {
    font-size: 12px !important;
  }

  .cheque-details-text {
    font-size: 8px !important;
  }

  .check-body-sec {
    padding: 24px 31px !important;
  }
}

@media (max-width:875px) and (min-width: 750px) {
  .top-section{
    width: 100% !important;
    max-width: 100% !important;
  }
  .main_right_section{
    width: 100% !important;
    max-width: 100% !important;
  }
  .cheque-sub-headers {
    font-size: 12px !important;
  }

  .cheque-details-text {
    font-size: 8px !important;
  }

  .check-body-sec {
    padding: 24px 31px !important;
  }
}

.loader {
  color: var(--common-blue-color);
  width: 4px;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow:
    19px 0 0 7px,
    38px 0 0 3px,
    57px 0 0 0;
  transform: translateX(-38px);
  animation: l21 0.5s infinite alternate linear;
  z-index: 1;
}

@keyframes l21 {
  50% {
    box-shadow:
      19px 0 0 3px,
      38px 0 0 7px,
      57px 0 0 3px;
  }
  100% {
    box-shadow:
      19px 0 0 0,
      38px 0 0 3px,
      57px 0 0 7px;
  }
}

.new-table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--main-background-color);
  display: block;
  th,
  td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid var(--input-border-color);
    font-family: var(--roboto);
    flex-basis: 100%;
    flex-grow: 2;
    display: block;
    text-align: left;
  }

  td {
    font-size: 13px;
    font-weight: 400;
    color: var(--main-text-color);
  }

  th {
    background-color: var(--secondary-background-color);
    font-weight: 500;
    font-size: 12px;
    color: var(--secondary-text-color);
  }

  tbody {
    display: block;
    position: relative;
    width: 100%;
    overflow-y: auto;
    max-height: 245px;
  }

  tr {
    width: 100%;
    display: flex;
  }

  thead {
    position: relative;
    display: block;
    width: 100%;
  }
}

.mat-mdc-tab-group {
  height: 100% !important;
}

.recieved-checks-mat-tab ::ng-deep .mat-mdc-tab-body-wrapper {
  height: 100% !important;
}

.recieved-checks-mat-tab .mat-mdc-tab-body {
  height: 100% !important;
}

.recieved-checks-mat-tab
  :host
  ::ng-deep
  .mat-mdc-tab-body.mat-mdc-tab-body-active {
  overflow: hidden !important;
}

.recieved-checks-mat-tab :host ::ng-deep .mat-mdc-tab-body-content {
  overflow: hidden !important;
}
