@use "../../../../../assets/style_varients/mixins";

/* ==============================================
:: COMMON RESETS AREA
=============================================== */
.payment_main_wrapper {
  width: 100%;
  min-height: 100vh;
  background: var(--subsciptions-page-main-background-color);
  position: relative;

  .payment_container {
    max-width: 650px;
    width: 93%;
    margin: auto;
    padding-top: 60px;
  }
}

/* ==============================================
:: HEADER LIST DESIGN
=============================================== */
.pay_type_list_wrapper {
  margin: 16px 0 0;
  display: flex;

  li {
    flex: 1;
    background-color: var(--main-theme-variable);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.15s linear all;

    &:hover {
      transform: scale(1.03);
      box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
    }

    &.active {
      transform: scale(1.03);
      box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);

      .radio_label {
        border: none !important;
        background: #16a76e;
        position: relative;

        &::before {
          content: "\f00c";
          font-family: "FontAwesome", sans-serif;
          position: absolute;
          left: 50%;
          top: 50%;
          color: var(--common-font-color);
          font-size: 12px;
          transform: translate(-50%, -50%);
        }
      }
    }

    &:not(:last-child) {
      margin-right: 15px;
    }

    > * {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    .radio_label {
      width: 17px;
      height: 17px;
      min-width: 17px;
      min-height: 17px;
      max-width: 17px;
      max-height: 17px;
      border-radius: 50%;
      border: 1px solid #cacaca;
      background-color: var(--main-theme-variable);
      display: inline-block;
    }

    .pay_name {
      font-family: "Open sans";
      font-weight: 600;
      font-size: 15px;
      color: var(--primary-color);
    }

    .type_img {
      display: flex;
      align-items: center;
      img {
        width: 20px;

        &:not(:first-child) {
          padding-left: 5px;
        }
      }
    }
  }
}

.payment_main_head {
  h3 {
  }
  h2 {
    font-family: var(--inter);
    font-weight: 500;
    color: var(--common-secondary-font-color);
    text-align: center;
    font-size: 23px;
  }
}

/* ==============================================
:: ACTION BUTTONS
=============================================== */
.action_area {
  .action_btn {
    transition: 0.25s ease-in-out all;

    svg {
      width: 32px;
      height: 32px;

      @media (max-width: 767px) {
        width: 25px;
        height: 25px;
      }

      path {
        fill: var(--common-font-color);
      }
    }

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.7);
    }
  }

  .close_btn {
    position: absolute;
    right: 42px;
    top: 29px;
    cursor: pointer;

    @media (max-width: 767px) {
      right: 25px;
    }
  }

  .back_btn {
    position: absolute;
    left: 42px;
    top: 29px;
    cursor: pointer;

    @media (max-width: 767px) {
      left: 25px;
    }
  }
}

/* ==============================================
:: PAYMENT BODY
=============================================== */
.payment_form_area {
  margin-top: 16px;
  background-color: var(--main-theme-variable);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
  padding: 30px 32px;
  min-height: 227px;
  transition: height 300ms ease-in-out;
  position: relative;
  // height: 60vh;
  overflow: hidden;
  .alert-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    .alert_area {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: var(--alert_danger_text);
      p {
        font-weight: 600;
        font-size: 12px;
        font-weight: 600;
        max-width: 45ch;
        text-align: center;
        margin-top: 5px;
        line-height: 22px;
        letter-spacing: 0.35px;
      }
      svg {
        height: 56px;
        width: 56px;
        opacity: 0.9;
      }
    }
  }
}

.single_form_wrapper {
  border-radius: 3px;
  animation: zoomUpz 0.25s ease-in-out forwards;
  transform: scale(0.95);

  @keyframes zoomUpz {
    0% {
      transform: scale(0.95);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  .sub_heads {
    font-family: var(--inter);
    font-weight: 500;
    color: var(--primary-color);
  }

  .form_group {
    margin-top: 25px;

    .single_input {
      &:not(:first-child) {
        margin-top: 15px;
      }
    }
  }

  .submit_btn_wrapper {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    max-width: 50%;
    max-width: 350px;
    align-items: center;

    .total_price {
      span {
        font-family: var(--inter);

        &:nth-child(1) {
          font-weight: 500;
          color: var(--common-secondary-font-color);
          display: inline-block;
          padding-right: 6px;
          font-size: 17px;
        }
        &:nth-child(2) {
          font-weight: 600;
          color: var(--subs_color);
        }
      }
    }

    button {
      background: var(--subs_color) !important;
      font-size: 14.5px;
      padding: 7px 21px;
    }
  }

  .skelton_loader {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 650px;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to left,
        transparent,
        rgba(255, 255, 255, 0.5),
        transparent
      );
      border-radius: 10px;
      animation: skeltonLoading 0.4s linear infinite;
      transform: translateX(-100%);
      z-index: 1;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: #f6f3f3;
      border-radius: 10px;
    }

    &.done {
      &::before,
      &::after {
        animation: fadeOutz 0.35s ease-in-out forwards;
        opacity: 1;
        pointer-events: none;
      }
    }

    @keyframes fadeOutz {
      0% {
        opacity: 1;
      }

      100% {
        opacity: 0;
      }
    }

    @keyframes skeltonLoading {
      100% {
        transform: translateX(100%);
      }
    }
  }
}

/* ==============================================
:: SECURED FOOTER LABEL DESIGN
=============================================== */
.secured_label {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  max-width: fit-content;
  margin: auto;

  .secured_icon {
    width: 34px;
  }

  h3 {
    font-size: 17px;
    font-family: "Open sans", sans-serif;
    font-weight: 600;
    color: var(--primary-color);
    margin: 0 11px;
  }

  .zill_logo {
    width: 110px;
  }
  .zill_logo_option {
    width: 90px;
  }
}

/* ==============================================
:: SECURED LOADING
=============================================== */
.secured_loading {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: var(--subsciptions-page-main-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;

  &.remove {
    animation: removeBg 0.25s ease-in-out forwards;

    @keyframes removeBg {
      100% {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
      }
    }
  }

  .loder_areas {
    margin-bottom: 30px;
    svg {
      width: 110px;
      height: 110px;
      margin: auto;
    }
  }

  .secure_shield {
    position: absolute;
    width: 56px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -103%);

    animation: shieldAnim 0.7s ease-in-out infinite;
    opacity: 1;

    @keyframes shieldAnim {
      0% {
        opacity: 0.5;
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 0.5;
      }
    }
  }

  h3 {
    margin-top: 9px;
    font-weight: 600;
    text-align: center;
    font-size: inherit;
    color: var(--common-secondary-font-color);
    font-size: 18px;
  }
}

/* ==============================================
:: RESPONSIVE AREA
=============================================== */
@media (max-width: 700px) {
  .payment_form_area {
    padding: 22px 20px !important;
  }
  .pay_type_list_wrapper {
    li {
      justify-content: center;
      padding: 12px 11px !important;

      &:not(:last-child) {
        margin-right: 10px !important;
      }

      &.active {
        transform: scale(1) !important;
        box-shadow: 0px 0px 3px rgb(0 0 0 / 10%) !important;
      }

      .type_img {
        display: none;
      }

      .pay_name {
        font-size: 14px !important;
      }

      .radio_label {
        margin-right: 6px !important;
      }
    }
  }

  .payment_main_head {
    text-align: center;
  }

  .secured_label {
    transform: scale(0.83);
    transform-origin: bottom;
  }
}
