.main_body {
  display: flex;
  height: 100%;
  .main_section {
    padding: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
  }
  .heading {
    line-height: 26px;
    > :first-child {
      font-weight: 600;
      font-size: 16px;
    }
  }
}

.address_box {
  margin-top: 20px;
  border: 1px solid var(--white);
  max-width: 100%;
  height: 500px;
}

.not_found_image {
  display: flex;
  justify-content: center;
  font-size: 15px;
  position: absolute;
  top: 46%;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
}

.address_card {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-height: 500px;
  overflow-y: auto;
  width: 100%;
  &::-webkit-scrollbar {
    width: 9px;
    height: 9px;
    background-color: var(--scroll_track_color);
  }

  &::-webkit-scrollbar-track {
    background-color: var(--scroll_track_color);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scroll_thumb_color);
    opacity: 0.7;
    border-radius: 30px;
  }
  .card {
    position: relative;
    gap: 12px;
    border: 1px solid var(--input-border);
    border-radius: 5px;
    padding: 1rem 3rem 1rem 1rem;
    max-width: 320px;
    max-height: 165px;
    min-width: 395px;
    cursor: pointer;

    .title {
      font-weight: 400;
      font-size: 14px;
      align-items: center;
      line-height: 22px;
      word-wrap: break-word;
    }

    .address {
      font-weight: 400;
      font-size: 12px;
      align-items: center;
      line-height: 22px;
      word-wrap: break-word;
    }
  }
  .active_address {
    border: 1.5px solid var(--common_input_color) !important;
  }

  .address_label {
    width: 275px;
  }

  .flex-col {
    margin-left: 20px;
    margin-top: -20px;
  }

  .close_btn {
    position: absolute;
    margin-left: 340px;
    @media (max-width: 767.98px) {
      margin-left: 255px;
    }
  }

  .edit_btn {
    position: absolute;
    margin-left: 320px;
    @media (max-width: 767.98px) {
      margin-left: 235px;
    }
  }
}

.action_buttons {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 46px;
  bottom: 10px;
  gap: 10px;

  button {
    width: 145px;
    height: 45px;
    border-radius: 3px;
    font-size: 14px;
  }

  .next {
    background: var(--ocw-btn-very-dark-blue);
    color: #fff;
  }

  .back {
    border: 0.5px solid var(--light-blue-button-color);
  }
}

@media (max-width: 767.98px) {
  .main_body {
    .main_section {
      padding: 1px;
      .heading {
        margin-top: 17px;
      }
    }
  }
  .address_card {
    .card {
      padding: 1rem 3rem 1rem 1rem;
      max-width: 320px;
      max-height: 123px;
      min-width: 259px;
    }
    .title {
      font-size: 12px;
    }

    .address {
      font-size: 12px;
    }
  }
  .action_buttons {
    position: relative;
    margin-top: 40px;
    margin-right: -42px;
  }
}
