@use "../../../../../../assets/style_varients/mixins";

.curtain {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #0000004a;
}

.onboarding-adp-container {
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1000;
  background: var(--add-card-background);
  .main-cont {
    height: 70%;
    min-height: 700px;
    max-height: 1000px;
    width: 50%;
    min-width: 400px;
    max-width: 600px;
    .content-wrapper {
      height: 72%;
      .header-1 {
        font-size: 25px;
        color: var(--ag-default-icon-text-color);
        font-weight: 600;
        text-align: center;
      }
      .item {
        .icon-wrapper {
          max-width: 55px;
          min-width: 55px;
          font-size: 40px;
          color: var(--sky-blue-2);
          margin-right: 3rem;
          img {
            max-width: 55px;
            height: auto;
          }
        }
        .icon-wrapper1 {
          max-width: 45px;
          min-width: 45px;
          font-size: 40px;
          color: var(--sky-blue-2);
          margin-right: 3rem;
          img {
            max-width: 45px;
            height: auto;
          }
        }
        .detail {
          font-size: 15px;
          font-weight: 500;
        }
      }

      .ocw-btn-skyblue {
        height: 45px;
      }
    }

    .image-wrapper {
      border: 0.5px solid var(--ag-default-icon-background-color);
      img {
        width: 250px;
        margin-right: 8px;
      }
    }
  }
}

.main-container {
  display: flex;
  gap: 10px;
  max-width: 1365px;
  min-height: 640px;
}
.disclaimer-section {
  display: flex;
  gap: 8px;
  align-items: center;
  max-width: 1365px;
  padding-top: 30px;

  svg {
    path {
      fill: var(--mat-radio-btn-theme-colour);
    }
  }
}
.central-block {
  flex-grow: 1;
  position: relative;
  background-color: var(--getting-started-background-color);
  border-radius: 5px;
}
.remove-data {
  .btn-blue,
  .btn-green,
  .disabled-button,
  .done-button {
    opacity: 0;
  }
}
.skeleton {
  height: 33px;
  width: 110px;
  background: var(--common-skeleton-gradient-one);
  background: var(--common-skeleton-gradient-two);
  background: var(--common-skeleton-gradient-three);
  border-radius: 5px;
  background-size: 200%;
  animation: loader 1s infinite reverse;
}
.left-section {
  padding: 10px;
  position: relative;
  text-align: center;

  h1 {
    font-family: "Inter", Arial, sans-serif;
    font-size: 28px;
    font-weight: 600;
  }
  h2 {
    font-family: "Inter", Arial, sans-serif;
    font-size: 28px;
    font-weight: 600;
    color: #337ce9;
  }
  span {
    font-family: "Inter", Arial, sans-serif;
    font-size: 28px;
    font-weight: 600;
    color: #337ce9;
  }
  h3 {
    font-family: "Inter", Arial, sans-serif;
    font-size: 15px;
    color: var(--common-font-color);
  }

  embed {
    width: 100%;
  }
}
.image-text {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-section {
  display: flex;
  position: absolute;
  gap: 31px;
  left: 10%;
  bottom: 11%;
  text-align: left;

  .left-portion {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .description {
      h3 {
        height: 41px;
        width: 344px;
        font-family: var(--inter);
        font-size: 13px;
        font-weight: 400;
      }
    }
    .view-more-button {
      cursor: pointer;
      display: flex;
      gap: 10px;
      align-items: center;
      width: 88px;

      .view-more-icon {
        svg {
          path {
            fill: var(--mat-radio-btn-theme-colour);
          }
        }
      }
      .view-more-text {
        h4 {
          color: var(--mat-radio-btn-theme-colour);
          font-family: var(--inter);
          font-size: 12px;
          font-weight: 400;
        }
      }
    }
  }
  .right-portion {
    img {
      width: 162px;
      height: 85px;
    }
  }
}

.right-section {
  padding: 6%;
  position: relative;

  h1 {
    font-family: "Inter", Arial, sans-serif;
    font-size: 24px;
    font-weight: 600;
  }
  h4 {
    font-family: "Inter", Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--common-font-color);
  }
  .btn-blue {
    background-color: #5980e3;
    border-radius: 3px;
    height: 33px;
    width: 110px;
    font-family: "Inter", Arial, sans-serif;
    font-size: 14px;
    color: #ffffff;
  }
  .btn-blue2 {
    height: 50px;
    position: relative;
    top: -12px;
  }
  .ocw-btn-modal-bordered {
    border-radius: 3px;
    height: 33px;
    width: 110px;
    display: flex;
    justify-content: center;
    cursor: help;
  }
  .done-button {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-right: 28px;
    height: fit-content;

    i {
      color: #40c585;
      font-size: 20px;
    }
  }

  .reset-button {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-right: 4px;
    height: fit-content;
    i {
      color: var(--very_light_black_2);
      font-size: 15px;
    }
    .action-label {
      font-size: 12px;
      font-weight: 600;
      text-decoration: underline;
      color: var(--text_link);
    }
  }

  .bank-add-section {
    height: 70px;
  }

  .btn-green {
    font-family: var(--inter);
    font-size: 13px;
    font-weight: 500;
    cursor: text;
  }
  .horizontal-line {
    border-top: solid 0.5px #cecece;
    width: 86%;
  }
  .adp_video {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 30px;
  }
}
.disabled-button {
  @extend .btn-blue;
  pointer-events: none;
  opacity: 50%;
}
.image-container {
  height: 100%;
  width: 100%;
  position: relative;
  background: var(--getting-started-image-background-color);
}
.character {
  position: absolute;
  bottom: 174px;
  height: 128px;
  right: 231px;
}
.backdrop {
  position: absolute;
  bottom: 120px;
  height: 355px;
}
.fixed-height {
  height: 100px;
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}
.icon-panel {
  padding-top: 11px;
  display: flex;
}
.icon-panel2 {
  display: flex;
  align-items: center;
  .icon-box {
    width: 60px;
    height: 60px;
    background: var(--add-contact-background-color);
    img {
      width: 32px;
    }
    i {
      font-size: 28px;
    }
  }
}
.checked embed {
  height: 68.5px;
  width: 72.7861328125px;
}
.gs-icons {
  padding-top: 9px;
  embed {
    height: 59px;
    width: 66px;
  }
}
.action-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: span 5 / span 5;
}
.image-text-small-screens {
  display: none;
  .adp_slug_video {
    display: flex;
    flex: 1 1 20%;
    justify-content: center;
  }
}
.help-section {
  border-radius: 5px;
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 56px;
  padding: 10px;
  height: 194px;
  background-color: var(--common-applied-background-color);

  h1 {
    font-size: 14px;
    position: relative;
    font-weight: 600;
    color: var(--common-font-color);
  }

  h1::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 90%;
    background-color: #d8d8d8;
  }

  .help_options {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;

    > a {
      display: flex;
      justify-content: center;
      position: relative;
      cursor: pointer;
      margin: auto;

      > :nth-child(2) {
        position: absolute;
        left: 150%;
        top: -5px;
        background: var(--main-theme-variable);
        color: var(--text_link);
        padding: 5px 10px;
        font-size: 13px;
        border-radius: 8px;
        visibility: hidden;
        white-space: nowrap;
      }

      &:hover {
        svg {
          fill: var(--text_link) !important;
        }
        > :nth-child(2) {
          visibility: visible;
        }
      }
    }

    svg {
      width: 20px;
      height: 20px;
      fill: var(--common-font-color);
    }
  }
}
.action-label {
  .action-label1 {
    color: var(--common-font-color);
    font-family: var(--inter);
    font-size: 14px;
    font-weight: 500;
    text-align: center;
  }
  .action-label2 {
    color: var(--mat-radio-btn-theme-colour);
    font-family: var(--inter);
    font-size: 12px;
    font-weight: 400;
  }
}

// ===============> Media Queries <================ //

// Mobile
@media (max-width: 767.98px) {
  .done-button {
    margin-right: 21px !important;
  }
  .help-section {
    display: none;
  }
  .central-block {
    display: block;
    grid-template-columns: none;
    margin: 0;
  }
  .fixed-height {
    height: 100px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .icon-panel {
    padding-top: 0;
    display: flex;
    align-items: center;
  }
  .action-panel {
    grid-column: span 3 / span 3;
    padding-top: 0;
    display: flex;
    align-items: center;

    h4 {
      min-width: 50px;
      max-width: 119px;
      text-align: center;
    }
  }

  .gs-icons {
    padding-top: 0;
    embed {
      height: 59px;
      width: 66px;
    }
  }
  .left-section,
  .getting-started-lg-header {
    display: none;
  }
  .image-text-small-screens {
    display: block;
    h1 {
      font-family: "Inter", Arial, sans-serif;
      font-size: 28px;
      font-weight: 600;
    }
    h2 {
      font-family: "Inter", Arial, sans-serif;
      font-size: 28px;
      font-weight: 600;
      color: #337ce9;
    }
    h3 {
      font-family: "Inter", Arial, sans-serif;
      font-size: 24px;
      font-weight: 600;
    }
  }
}

// Tablet
@media (min-width: 768px) and (max-width: 991.98px) {
  .central-block {
    display: block;
    grid-template-columns: none;
    margin: 0;
  }
  .fixed-height {
    height: 100px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .icon-panel {
    padding-top: 0;
    display: flex;
    align-items: center;
  }
  .action-panel {
    grid-column: span 3 / span 3;
    padding-top: 0;
    display: flex;
    align-items: center;
    h4 {
      max-width: 50px;
      max-width: 262px;
      text-align: center;
    }
  }

  .gs-icons {
    padding-top: 0;
    embed {
      height: 59px;
      width: 66px;
    }
  }
  .left-section,
  .getting-started-lg-header {
    display: none;
  }
  .image-text-small-screens {
    display: block;
    h1 {
      font-family: "Inter", Arial, sans-serif;
      font-size: 28px;
      font-weight: 600;
    }
    h2 {
      font-family: "Inter", Arial, sans-serif;
      font-size: 28px;
      font-weight: 600;
      color: #337ce9;
    }
    h3 {
      font-family: "Inter", Arial, sans-serif;
      font-size: 24px;
      font-weight: 600;
    }
  }
}

// iPad Pro
@media (min-width: 992px) and (max-width: 1024px) and (orientation: portrait) {
  .central-block {
    display: block;
    grid-template-columns: none;
    margin: 0;
  }
  .fixed-height {
    height: 100px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .icon-panel {
    padding-top: 0;
    display: flex;
    align-items: center;
  }
  .action-panel {
    grid-column: span 3 / span 3;
    padding-top: 0;
    display: flex;
    align-items: center;
    h4 {
      max-width: 50px;
      max-width: 262px;
      text-align: center;
    }
  }

  .gs-icons {
    padding-top: 0;
    embed {
      height: 59px;
      width: 66px;
    }
  }
  .left-section,
  .getting-started-lg-header {
    display: none;
  }
  .image-text-small-screens {
    display: block;
    h1 {
      font-family: "Inter", Arial, sans-serif;
      font-size: 28px;
      font-weight: 600;
    }
    h2 {
      font-family: "Inter", Arial, sans-serif;
      font-size: 28px;
      font-weight: 600;
      color: #337ce9;
    }
    h3 {
      font-family: "Inter", Arial, sans-serif;
      font-size: 24px;
      font-weight: 600;
    }
  }
}

// Laptop Normal
@media (min-width: 1024px) and (max-width: 1600px) and (orientation: landscape) {
  .central-block {
    display: block;
    grid-template-columns: none;
    margin: 0;
  }
  .fixed-height {
    height: 100px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .icon-panel {
    padding-top: 0;
    display: flex;
    align-items: center;
  }
  .action-panel {
    grid-column: span 3 / span 3;
    padding-top: 0;
    display: flex;
    align-items: center;
    h4 {
      max-width: 50px;
      max-width: 262px;
      text-align: center;
    }
  }

  .gs-icons {
    padding-top: 0;
    embed {
      height: 59px;
      width: 66px;
    }
  }
  .left-section,
  .getting-started-lg-header {
    display: none;
  }
  .image-text-small-screens {
    display: block;
    h1 {
      font-family: "Inter", Arial, sans-serif;
      font-size: 28px;
      font-weight: 600;
    }
    h2 {
      font-family: "Inter", Arial, sans-serif;
      font-size: 28px;
      font-weight: 600;
      color: #337ce9;
    }
    h3 {
      font-family: "Inter", Arial, sans-serif;
      font-size: 24px;
      font-weight: 600;
    }
  }
}

// Small Laptop
@media (min-width: 1024px) and (max-width: 1600px) and (orientation: landscape) {
  .central-block {
    display: block;
    grid-template-columns: none;
    margin: 0;
  }
  .fixed-height {
    height: 100px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .icon-panel {
    padding-top: 0;
    display: flex;
    align-items: center;
  }
  .action-panel {
    grid-column: span 3 / span 3;
    padding-top: 0;
    display: flex;
    align-items: center;
    h4 {
      max-width: 50px;
      max-width: 262px;
      text-align: center;
    }
  }

  .gs-icons {
    padding-top: 0;
    embed {
      height: 59px;
      width: 66px;
    }
  }
  .left-section,
  .getting-started-lg-header {
    display: none;
  }
  .image-text-small-screens {
    display: block;
    .header01,
    h1 {
      font-family: "Inter", Arial, sans-serif;
      font-size: 28px;
      font-weight: 600;
    }
    h2 {
      font-family: "Inter", Arial, sans-serif;
      font-size: 28px;
      font-weight: 600;
      color: #337ce9;
    }
    .header02,
    h3 {
      font-family: "Inter", Arial, sans-serif;
      font-size: 24px;
      font-weight: 600;
    }
  }
}

@media (max-width: 1024px) {
  .help_options {
    flex-direction: row;

    > a {
      margin-right: 20px;
    }

    > div {
      > :nth-child(2) {
        display: none !important;
      }
    }
  }
}
::ng-deep .custom-dialog-container {
  overflow: visible !important;
  .mat-mdc-dialog-container {
    overflow: visible;
  }
}
