@use "./../../../styles/payment-forms-v35.scss";
@use "../../../../../../../assets/style_varients/mixins" as m;

:host {
  @apply flex justify-center items-center;
}

::ng-deep .cdk-overlay-pane {
  max-height: 90vh;
  overflow-y: auto;
  border: 1px solid rgba(156, 156, 156, 0.281);
  overflow-x: auto;
}

::ng-deep .ng-dropdown-panel {
  width: 100% !important;
  min-width: 100% !important;
}
::ng-deep .mat_select_style {
  padding: 0px !important;
  padding-top: 7px !important;
  padding-bottom: 6px !important;
}

::ng-deep .mat-mdc-select-value {
  padding: 0px !important;
  padding-left: 9px !important;
}

::ng-deep .mat-mdc-select-arrow {
  padding-right: 29px !important;
  padding-top: 9px !important;
}

.mat_select_style {
  @include m.inputStyle();
  border: 1px solid var(--input-border-color);
  &:focus,
  &active {
    outline: none !important;
  }

  &:placeholder-shown {
    ~ .floating_label_field {
      position: absolute;
      top: 10.1px;
      font-size: 13.5px;
      pointer-events: none;
      padding-top: 0;
      font-family: var(--info-font);
      font-weight: normal;
      padding-left: 8px;
      letter-spacing: 0.45px;
    }
  }

  &:placeholder-shown {
    ~ .floating_label_field {
      position: absolute;
      top: 9.1px;
      font-size: 13.5px;
      pointer-events: none;
      padding-top: 0;
      font-family: var(--info-font);
      font-weight: normal;
      padding-left: 8px;
      letter-spacing: 0.45px;
    }
  }

  &:not(placeholder-shown) + .floating_label_field,
  &:focus + .floating_label_field {
    position: absolute;
    top: -7px;
    transition: 0.2s ease all;
    left: 6px;
    font-family: var(--info-font);
    /* color: rgb(128, 126, 126); */
    font-size: 12px;
    pointer-events: none;
    color: var(--common_input_color);
    background-color: var(--main-background-color);
    font-weight: normal;
    padding-left: 3px;
    padding-right: 3px;
    letter-spacing: 0.1px;
  }
}

::ng-deep .mdc-tooltip__surface {
  min-width: unset !important;
  max-width: 600px !important;
  width: auto !important;
  white-space: pre-line !important;
}

.memo-input-with-icon {
  padding-right: 30px !important;
}