.ocw_form_header {
  max-width: 550px !important;
  margin: auto;
  padding-top: 100px;
  width: 95%;
  .wrapper {
    perspective: 1000px;

    .success___wrapper {
      transition: all 1.4s cubic-bezier(0.77, 0, 0.175, 1.6);
      transform: translate3d(0, -10%, 0) rotateX(-96deg);
      transform-origin: 50% -30%;
      transform-style: preserve-3d;
      opacity: 0;

      animation: showUpd 1.6s cubic-bezier(0.77, 0, 0.175, 1.6) forwards 1s;
    }

    @-webkit-keyframes showUpd {
      100% {
        transform: translate3d(0, 0, 0) rotateX(0deg);
        opacity: 1;
      }
    }

    @keyframes showUpd {
      100% {
        transform: translate3d(0, 0, 0) rotateX(0deg);
        opacity: 1;
      }
    }

    .ocw-form-bg {
      background-color: var(--main-theme-variable);
      border-radius: 10px;
      position: relative;
      overflow: hidden;

      .ocw-form-bg::before {
        content: "";
        position: absolute;
        width: 100px;
        height: 100px;
        background: -o-linear-gradient(246deg, #bef0ff73, transparent);
        background: linear-gradient(204deg, #bef0ff73, transparent);
        border-radius: 50%;
        -webkit-transition: 0.2s ease-in-out all;
        -o-transition: 0.2s ease-in-out all;
        transition: 0.2s ease-in-out all;
        bottom: -37px;
        left: -46px;
      }
      .ocw-form-body {
        padding: 2.2rem 2.2rem;
        position: relative;
        overflow: hidden;
        border-radius: 10px;

        &::after {
          content: "";
          position: absolute;
          width: 100px;
          height: 100px;

          background: linear-gradient(127deg, #6ac8e5, transparent);
          border-radius: 50%;
          transition: 0.2s ease-in-out all;
          right: -56px;
          top: -45px;
        }

        &::before {
          content: "";
          position: absolute;
          width: 100px;
          height: 100px;
          background: -o-linear-gradient(54deg, #ade2f273, transparent);
          background: linear-gradient(36deg, #ade2f273, transparent);
          border-radius: 50%;
          -webkit-transition: 0.2s ease-in-out all;
          -o-transition: 0.2s ease-in-out all;
          transition: 0.2s ease-in-out all;
          top: -37px;
          right: -46px;
        }
        .bank-congrats {
          .cong-head {
            h4 {
              font-family: var(--baloo);
              font-weight: 600;
              // color: #4f5e6e;
              color: var(--medium-dark-blue);
              font-size: 24px;
              padding-left: 0px;
              text-align: center;
              margin-top: 25px;
              margin-bottom: 5px;
            }
          }
          .main_head {
            font-size: 13px;
            letter-spacing: 0.3px;
            font-weight: 400;
            // color: #6e6e6e;
            color: var(--very_light_black);
            font-family: var(--muli);
            font-weight: 600;
            margin-bottom: 17px;
            margin: 0px auto 17px auto;
            max-width: 41ch;
            line-height: 22px;
            text-align: center;
          }
        }
        .btn___wrapper {
          margin-top: 15px;
          .cnt__btn {
            color: var(--main-theme-variable) !important;
            background: -o-linear-gradient(45deg, #478aa4, #0bb783) !important;
            background: linear-gradient(45deg, #478aa4, #0bb783) !important;
            font-size: 1em;
            padding: 7px 16px;
            font-weight: 600;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            border-radius: 3px;
            display: inline-flex;
            align-items: center;
            gap: 5px;
            transition: 0.3s ease-in-out all;
            &:hover {
              box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
            }
          }
        }
      }
    }
  }
}

.btn___wrapper .cnt__btn i {
  animation: activeMove 0.3s ease-in-out infinite alternate;
  font-size: 12px;
}

@-webkit-keyframes showUp {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes showUp {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.bt__text {
  font-size: 12px;
  letter-spacing: 0.3px;
  font-weight: 400;
  // color: #6e6e6e;
  color: var(--secondary-color-lite);
  font-family: var(--secondary-font);
  font-weight: 600;
  margin: 4px auto 0px auto;
  line-height: 17px;
  text-align: left;
  max-width: 50ch;
  text-align: center;
}

@media (max-width: 767.98px) {
  .cong-head {
    display: block;
  }
  .oc_numbers {
    display: block;
    margin: 10px 0px;
  }

  .succ {
    white-space: pre-wrap;
  }

  .bank-congrats h1 {
    font-size: 2em;
    padding: 0;
  }

  .bt__text {
    margin-bottom: 12px;
  }

  .ocw_form_header {
    padding-top: 45px;
    width: 92%;
  }

  .ocw-form-bg {
    border-radius: 10px;
  }

  .cong-head svg {
    display: none;
  }
}
