@use "../../../../../assets/style_varients/block-sections/create-double-side.scss";

.module_main_body {
  margin-top: 1em;
}

.pending {
  font-weight: 500;
  font-size: 1.05em;
  text-transform: unset;
  color: var(--primary-color);
  position: relative;
  letter-spacing: 0.1px;
  background: var(--extreme-color-opposite);
  align-items: center;
  padding: 9px 13px 9px 11px;
  box-shadow: 1px 1px 15px rgb(0 0 0 / 11%);
  border-left: 5px solid #04a57a66;
  line-height: 20px;
  letter-spacing: 0.3px;
  align-items: center;
  border-radius: 5px;
  margin: 0;
  display: flex;
}

.cart_btn {
  padding: 4px;
  background: var(--shop-cart-secondary-background-color);
  color: var(--common-font-color);
}

.font_light {
  font-size: 16px;
  font-family: "Inter", Arial, sans-serif;
  color: #b2b3c9;
}
