@use "../../../../../assets/style_varients/mixins" as m;

.title {
  color: var(--text_danger);
  font-family: var(--light-font);
  font-size: 15px;
}

.spinner-gap {
  display: flex;
  gap: 8px;
}

.input_group {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start;

  .single_input {
    //=======> input field width start
    &:nth-child(1),
    &:nth-child(2) {
      flex: 1 1 calc(100% / 2 - 20px);
    }

    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7),
    &:nth-child(8) {
      flex: 1 1 calc(100% / 4 - 20px);
    }

    &:nth-child(9) {
      flex: 1 1 calc(100% / 2 - 20px);
    }

    &:nth-child(10) {
      flex: 1 1 100%;
    }
    //=======> input field width end

    &:not(.no_modal_btn) {
      input,
      select {
        border-radius: 5px 0px 0px 5px;
        border-right: none;
      }
    }

    @include m.flex();
  }
}

.flex-half {
  flex: 1 1 calc(100% / 2 - 20px);
  display: flex !important;
  justify-content: center !important;
  align-items: flex-start !important;
  flex-direction: column;
}

.error_msg {
  color: var(--text_danger_lite);
  font-family: "Inter", Arial, sans-serif;
  font-size: 12.5px;
  font-weight: 400;
  letter-spacing: 0.2px;
  padding-left: 4px;
}
