@use "../../../../../assets/style_varients/mixins" as m;
@use "../../../../../assets/style_varients/block-sections/create-double-side.scss";

.grid-row {
  margin: 16px 0;
}

.height-content {
  height: 38px !important;
}

.edit-button {
  margin-right: 2px;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  fill: var(--common_text_color_light);

  &:hover {
    svg {
      fill: var(--extreme-color);
    }
  }
}

.selected-bank {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 14px;
  color: var(--common-font-color);
  gap: 3px;

  .weight {
    font-weight: 600;
  }
}

.bottom-size {
  margin-bottom: 15px !important;
}

.permission-label {
  font-weight: 700;
  color: var(--text_success);
  text-transform: uppercase;
  letter-spacing: 0.2px;
  font-size: 15px;
  font-family: var(--info-font);
  margin: 0;
  padding-right: 6px;
}

.ng-select-d {
  width: 160px !important;
}

.add-btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid var(--border-color-lite);
  margin-top: 27px;
  padding-top: 21px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  .add_btn {
    position: relative;
    -webkit-box-shadow: 1px 1px 4px rgb(0 0 0 / 18%);
    box-shadow: 1px 1px 4px rgb(0 0 0 / 18%);
    margin-bottom: 10px;
    text-align: center;
    font-family: "Inter", Arial, sans-serif;
    padding: 9px 17px;
    border-radius: 5px;
    white-space: nowrap;
    display: block;
    max-width: 100%;
    background: var(--main-theme-variable);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;

    -webkit-transition: 0.25s ease-in-out all;

    -o-transition: 0.25s ease-in-out all;

    transition: 0.25s ease-in-out all;
    overflow: hidden;
    border-left: 3px solid var(--body-color);
    cursor: pointer;

    span {
      color: var(--common_text_color_light);
      font-weight: 500;
      position: relative;
      letter-spacing: 0.1px;
      font-family: var(--info-font);
    }
    &:hover {
      -webkit-box-shadow: 1px 1px 10px rgb(0 0 0 / 20%);
      box-shadow: 1px 1px 10px rgb(0 0 0 / 20%);
    }
  }
}

.word-break {
  word-break: break-word;
}

.not-allowed {
  pointer-events: none;
  opacity: 0.5;
  &::after {
    content: "";
    cursor: no-drop;
  }
}

.category-w {
  width: calc(100% - 37px) !important;
}

/*======> remettance section <=======*/
.remittance__wrapper {
  margin-top: 18px;

  .sub_head {
    @include m.SubHeader(16px);
  }
}

.remittance_table {
  padding: 0 5px;

  table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    overflow-x: auto;
    display: block;

    .trash_btn {
      width: 16px;
      height: 16px;
      margin: auto;
      cursor: pointer;
      -webkit-transition: 0.2s ease-in-out all;
      -o-transition: 0.2s ease-in-out all;
      transition: 0.2s ease-in-out all;
      opacity: 0.91;

      &:hover {
        opacity: 1;
      }

      path {
        fill: var(--text_danger_lite);
      }
    }

    input,
    select {
      padding: 0.35rem 0.2rem;
    }

    &::-webkit-scrollbar {
      width: 9px;
      height: 9px;
      background-color: var(--scroll_track_color);
    }

    &::-webkit-scrollbar-track {
      background-color: var(--scroll_track_color);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--scroll_thumb_color);
      opacity: 0.7;
      border-radius: 30px;
    }

    thead {
      tr {
        td {
          background-color: var(--icon-hover-color);
          color: var(--secondary-color);
          text-align: center;
          font-size: 12.3px;
          padding: 8px 8px;
          text-transform: uppercase;
          font-weight: 700;
          font-family: var(--secondary-font);
          border-right: 1px solid var(--main-theme-variable);
          white-space: nowrap;
          letter-spacing: 0.3px;
        }
      }
    }

    tbody {
      td {
        border: 1px solid var(--input-border);
      }
    }
  }

  input {
    padding: 3px 7px;
    width: 100px;
  }
}

.remi_bottom_area {
  .top_sec {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 27px;
    margin-top: 8px;

    .right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding-right: 8px;
    }

    .insert_area {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-right: 32px;
      cursor: pointer;

      .text {
        font-size: 15.5px;
        color: var(--text_danger);
        font-weight: 600;
        position: relative;
        white-space: nowrap;
      }

      .icon {
        fa-icon {
          width: 13px;
          height: 13px;
          padding-left: 3px;
          position: relative;
          bottom: 1px;
          color: var(--text_danger);
        }
      }
    }

    .total_val {
      p {
        font-weight: 600;
        color: var(--primary-color);
        font-size: 17px;
        white-space: nowrap;
      }
    }
  }

  .save_remi_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;

    button {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      gap: 8px;

      span {
        white-space: nowrap;
      }

      svg {
        width: 16px;
        height: 16px;
      }
    }
  }
}

.top_sec {
  .left {
    .control_table_btn {
      @include m.flex();
      gap: 6px;
      padding-left: 7px;

      button {
        &:not(:last-child) {
          @include m.flex();
        }

        &:nth-child(1) {
          background: #0bb783;
          border-radius: 0;
          border-radius: 2px;
          width: 35px;
          height: 25px;

          &:disabled {
            background: #94d6c2;
          }
        }
        &:nth-child(2) {
          background: #ff6464;
          border-radius: 2px;
          width: 35px;
          height: 25px;
        }
        &:nth-child(3) {
          letter-spacing: 0.3px;
          border: 1px solid #a1cef9;
          font-size: 14px;
          padding: 2px 6px;
          border-radius: 2px;
        }
        svg {
          width: 15px;
          height: 15px;

          path {
            fill: var(--main-theme-variable);
          }
        }
      }
    }
  }
}
.ask-permission {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;

  .check {
    margin-top: 12px;
  }
}

.total {
  margin-top: 8px;
  font-weight: 600;
  font-size: 15px;
  color: var(--input-text-color);
  span {
    color: var(--text_success_lite);
  }
}

.action_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
}

.payee_summary_table {
  table {
    width: 100%;
    border-collapse: collapse;

    tbody {
      tr {
        color: var(--common_text_color_light);
        font-weight: 400;
        padding-bottom: 1px;
        font-size: 14px;

        td {
          padding: 7px 5px;
        }

        &:not(:first-child) {
          border-top: 1px solid #ddd;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .action_buttons {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
