<div>
  <!-- modal header -->
  <div
    class="flex justify-between px-6 py-4 bg-v4-secondary-background-color border-b border-v4-border-color"
  >
    <div class="flex flex-col">
      <h1 class="text-xl font-semibold text-v4-main-text-color font-funnel">
        {{ data?.editMode ? "Edit Contact" : "Add Contact" }}
      </h1>
      <h2 class="text-xs text-v4-subtle-text-color">
        {{ data?.editMode ? "Update contact details" : "Add a new contact" }}
      </h2>
    </div>
    <div
      (click)="close()"
      class="w-9 h-9 rounded-lg hover:bg-v4-tertiary-background-color cursor-pointer flex justify-center items-center"
    >
      <lucide-icon name="x" [size]="20" class="text-v4-subtle-text-color" />
    </div>
  </div>

  <!-- modal body -->
  <div class="p-6 bg-v4-tertiary-background-color">
    <form [formGroup]="contactForm" class="flex flex-col gap-4">
      <app-common-input-v4
        [placeholder]="'Full Name'"
        [fieldLabel]="'Full Name'"
        [isFieldRequired]="true"
        [control]="contactForm.controls['name']"
        formControlName="name"
      />

      <app-common-input-v4
        [placeholder]="'Email Address'"
        [fieldLabel]="'Email'"
        [type]="'email'"
        [isFieldRequired]="true"
        [control]="contactForm.controls['email']"
        formControlName="email"
      />

      <div class="flex flex-col gap-1.5">
        <label
          class="block text-sm font-medium text-v4-secondary-text-color font-peridot mb-1.5"
          for="contact-phone-number"
        >
          Phone Number<span class="text-v4-common-red-color">*</span>
        </label>
        <input
          id="contact-phone-number"
          class="w-full h-[38px] px-3 text-[13px] font-funnel text-v4-main-text-color bg-v4-secondary-background-color border border-v4-input-border-color rounded-lg outline-none focus:border-v4-primary-brand-color"
          type="text"
          placeholder="Phone Number"
          formControlName="phoneNumber"
          mask="(000) 000-0000"
          autocomplete="off"
        />
        <app-control-message-v4
          [control]="contactForm.controls['phoneNumber']"
        />
      </div>

      <div class="flex flex-col gap-1.5">
        <label
          class="block text-sm font-medium text-v4-secondary-text-color font-peridot mb-1.5"
          for="contact-type"
        >
          Contact Type<span class="text-v4-common-red-color">*</span>
        </label>
        <select
          id="contact-type"
          class="w-full h-[38px] px-3 text-[13px] font-funnel text-v4-main-text-color bg-v4-secondary-background-colorr border border-v4-input-border-color rounded-lg outline-none cursor-pointer focus:border-v4-primary-brand-color"
          formControlName="contactType"
        >
          <option value="" disabled>Select Contact Type</option>
          @for (item of contactType; track item.value) {
            <option [value]="item.value">{{ item.name }}</option>
          }
        </select>
        <app-control-message-v4
          [control]="contactForm.controls['contactType']"
        />
      </div>
    </form>
  </div>

  <!-- modal footer -->
  <div
    class="flex justify-end gap-3 p-6 bg-v4-secondary-background-color border-t border-v4-border-color"
  >
    <app-common-button-v4
      width="120px"
      [type]="{ style: 'outline', name: 'main' }"
      text="Cancel"
      (clickEvent)="close()"
    />
    <app-common-button-v4
      width="120px"
      [type]="{ style: 'primary', name: 'main' }"
      [text]="data?.editMode ? 'Update' : 'Save'"
      [loading]="submitting"
      [disabled]="submitting"
      (clickEvent)="submit()"
    />
  </div>
</div>
