@use "../../../../../../assets/style_varients/mixins" as m;

.main_body {
  display: flex;
  height: 100%;
  .main_section {
    padding: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .heading {
    line-height: 26px;
    > :first-child {
      font-weight: 600;
      font-size: 16px;
    }
    .sub_heading {
      font-size: 14px;
      color: #847777;
      display: flex;
      justify-content: flex-start;
    }
    .toolTip {
      margin-top: 5px;
      font-size: 20px;
      color: var(--common-font-color);
    }
  }
}

.package {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.package_item {
  width: 186px;
  height: 58px;
  border: 1px solid var(--input-border-color);
  border-radius: 2px;
  cursor: pointer;
  .items {
    display: flex;
    align-items: center;
    margin-left: 25px;
    padding: 10px;
  }
}
.label {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  padding: 10px;
  color: var(--input-label);
}
.active_package {
  border: 2px solid var(--input-border-color);
  background: var(--common-blue-color);
  .label {
    color: var(--extreme-color);
  }
}

.line {
  border-bottom: 1px solid #dddddd;
}

.address_section {
  margin-top: 25px;
}

.header {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 16px;
}

.address_btn {
  text-align: center;
  button {
    border: 1px solid var(--light-blue-button-color);
    border-radius: 15px;
    cursor: pointer;
    gap: 5px;
    font-size: 12px;
    width: 115px;
    height: 25px;
    line-height: 22px;
    color: var(--light-blue-button-color);
    font-weight: 500;
  }
}

.input_group {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 25px;

  .single_input {
    flex: 1 1 45%;

    &:nth-child(10),
    &:nth-child(11) {
      flex: 1 1 20%;
    }
  }
  @media (max-width: 767.98px) {
    .single_input {
      flex: 1 1 100% !important;
    }
  }
}

.action_buttons {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 30px;
  gap: 10px;
  bottom: -25px;

  button {
    width: 145px;
    height: 45px;
    border-radius: 3px;
    font-size: 14px;
  }

  .next {
    background: var(--ocw-btn-very-dark-blue);
    color: #fff;
  }

  .loadingSpinner {
    margin-left: 10px;
    margin-bottom: 8px;
    width: 8px;
    height: 8px;
  }

  .btnDisabled {
    opacity: 0.7;
  }
}

//ipad
@media (min-width: 1024px) and (max-width: 1600px) and (orientation: landscape) {
  .package {
    gap: 15px;
  }
  .package_item {
    width: 140px;
    height: 50px;
    .items {
      display: flex;
      align-items: center;
      margin-left: 3px;
      padding: 5px;
    }
  }
  .label {
    font-size: 12px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .package {
    gap: 15px;
  }
  .package_item {
    width: 185px;
    height: 45px;
    .items {
      display: flex;
      align-items: center;
      margin-left: 28px;
      padding: 1px;
    }
    .label {
      font-size: 12px;
      padding: 10px;
    }
  }
  .action_buttons {
    bottom: -20px;
  }
}

@media (min-width: 991.98px) and (max-width: 1024px) and (orientation: portrait) {
  .package_item {
    width: 140px;
    height: 50px;
    .items {
      display: flex;
      align-items: center;
      margin-left: 3px;
      padding: 5px;
    }
  }
  .label {
    font-size: 12px;
    padding: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .package_item {
    width: 168px;
    height: 45px;
    .items {
      display: flex;
      align-items: center;
      margin-left: 28px;
      padding: 1px;
    }
  }
  .label {
    font-size: 12px;
    padding: 10px;
  }
}

@media (max-width: 767.98px) {
  .main_body {
    .main_section {
      padding: 12px;
      .heading {
        > :first-child {
          font-size: 14px;
        }
        .sub_heading {
          font-size: 12px;
        }
      }
    }
  }
  .package {
    gap: 7px;
    margin-top: 12px;
    margin-bottom: 15px;
  }
  .package_item {
    width: 136px;
    height: 30px;
    .items {
      margin-left: 25px;
      padding: 5px;
    }
    img {
      width: 20px;
    }
    .label {
      font-size: 12px;
      padding: 3px;
      line-height: 8px;
    }
  }
  .header {
    font-size: 14px;
  }

  .address_section {
    margin-top: 18px;
  }

  .address_btn {
    button {
      font-size: 12px;
    }
  }

  .action_buttons {
    position: relative;
    margin-top: 40px;
  }
}
