.main-container {
  background-color: var(--common-background-color-light);

  .header-0 {
    font-size: 20px;
    font-family: var(--roboto);
    font-weight: 500;
    color: var(--brand-color);
  }

  .header-1 {
    font-size: 14px;
    font-weight: 500;
  }

  .header-4 {
    font-size: 15px;
    font-weight: 500;
    color: var(--very_light_black);
  }

  .header-5 {
    font-size: 14px;
    font-weight: 500;
    color: var(--waikava-gray);
  }

  .header-6 {
    color: var(--component-header-brand-color);
    font-size: 15px;
    font-weight: 600;
  }

  .single_input,
  app-drop-down-bank {
    width: 200px;
    height: 38px;
  }

  .add_modal_btn {
    height: 38px;
  }

  .form-wrapper {
    min-width: 430px;
  }

  i.not-verified {
    font-size: 18px;
    color: var(--ocw-btn-warning);
  }
  mat-expansion-panel {
    box-shadow: none;
  }
}

.video-container {
  background-color: var(--common-background-color-light);
  height: fit-content;

  .header-3 {
    font-size: 16px;
    font-family: var(--roboto);
    font-weight: 500;
    color: var(--brand-color);
  }

  video {
    width: 100%;
  }
}

.note-container {
  background-color: var(--common-background-color-light);
}

.header-4 {
  font-size: 16px;
  font-family: var(--roboto);
  font-weight: 500;
  color: var(--ash-blue1);
}

p {
  font-size: 14px;
  font-weight: 500;
}

.btn-blue {
  background-color: #5980e3;
  border-radius: 3px;
  height: 33px;
  width: 110px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  color: #ffffff;
}
.btn-blue2 {
  height: 50px;
  position: relative;
}
.ocw-btn-modal-bordered {
  border-radius: 3px;
  height: 33px;
  width: 110px;
  display: flex;
  justify-content: center;
  cursor: help;
}
.done-button {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-right: 28px;
  height: fit-content;

  i {
    color: #40c585;
    font-size: 20px;
  }
}
.btn-green {
  font-family: var(--inter);
  font-size: 13px;
  font-weight: 500;
  cursor: text;
}

.action-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: span 5 / span 5;
  .action-label {
    .action-label1 {
      color: var(--common-font-color);
      font-family: var(--inter);
      font-size: 14px;
      font-weight: 500;
      text-align: center;
    }
    .action-label2 {
      color: var(--mat-radio-btn-theme-colour);
      font-family: var(--inter);
      font-size: 12px;
      font-weight: 400;
    }
  }
}

.remove-data {
  .btn-blue,
  .btn-green,
  .disabled-button,
  .done-button {
    opacity: 0;
  }
}
.skeleton {
  height: 33px;
  width: 110px;
  background: var(--common-skeleton-gradient-one);
  background: var(--common-skeleton-gradient-two);
  background: var(--common-skeleton-gradient-three);
  border-radius: 5px;
  background-size: 200%;
  animation: loader 1s infinite reverse;
}
