@use "../../../../../../assets/style_varients/mixins" as m;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ocw_modal_body {
  text-align: center;
  h5 {
    text-align: center;
    font-family: var(--secondary-font);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2px;
    max-width: 91%;
    margin: 17px auto;
  }
  h1 {
    text-align: center;
    font-size: 1.2em;
    font-family: var(--semi-font);
    color: var(--primary-color);
    font-weight: 600;
    position: relative;
    padding: 6px 20px;
    margin: 12px auto;
    background: var(--common-standout-background-color);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 7px;
  }
  h6 {
    font-size: 12px;
    margin: 8px 0;
    span {
      color: red;
    }
  }
  h4 {
    text-align: center;
    font-family: var(--secondary-font);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2px;
    max-width: 100%;
    margin: 0 0 17px auto;
  }
  .password {
    width: 250px;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 300;
  }

  .otp-box {
    position: relative;
    @include m.flex;
    justify-content: flex-start;
    .otp_box {
      width: 40px;
      height: 40px;
      display: block;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: var(--common-font-color);
      background-color: var(--secondary-background-color) !important;
      background-clip: padding-box;
      border: 1px solid var(--input-border-color) !important;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-radius: 0.25rem;
      -webkit-transition:
        border-color 0.15s ease-in-out,
        -webkit-box-shadow 0.15s ease-in-out;
      transition:
        border-color 0.15s ease-in-out,
        -webkit-box-shadow 0.15s ease-in-out;
      -o-transition:
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
      transition:
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
      transition:
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out,
        -webkit-box-shadow 0.15s ease-in-out;
      margin: 0 2px;
      -webkit-box-shadow: var(--confirm-otp-box-shadow);
      box-shadow: var(--confirm-otp-box-shadow);
      -moz-appearance: textfield;
      &:focus {
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 2px solid #0bb783;
      }
    }
    .resent {
      position: absolute;
      top: 6px;
      right: 15px;
      text-transform: capitalize;
      font-family: var(--semi-font);
      color: #416887;
      margin-bottom: 23px;
      a {
        color: #2739c1;
        font-size: 12px;
      }
    }
    .disabled {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .resent {
    top: 43px !important;
    right: 3px !important;
  }
  .ocw_modal_body {
    h1 {
      font-size: 1rem;
    }
  }
}
