@use "../../../../../assets/style_varients/block-sections/create-single-side.scss";

.ocw_one_side_body {
  .ocw_welcome_left_pane {
    .title {
      h3 {
        font-size: 2rem;
        font-weight: 500;
        font-family: "Inter", Arial, sans-serif;
        color: var(--ocw-btn-light-dark);
      }
      p {
        color: var(--text-light-dark);
      }
    }

    .what-we-provide-header {
      background: var(--main-theme-variable);
      padding: 7px 10px;
      border-left: 2px solid var(--ocw-btn-peacock);
      border-radius: 4px;
      width: 150px;
      -webkit-box-shadow: 0 0 3px 0px #00000030;
      box-shadow: 0 0 3px 0px #00000030;
      text-transform: uppercase;
      font-size: 13px;
    }

    ul {
      .what-we-provide-options {
        font-size: 14px;
        margin-bottom: 14px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        &::before {
          font-family: "FontAwesome";
          content: "\f00c";
          font-weight: 400;
          color: var(--ocw-btn-light-dark);
          margin-right: 10px;
        }
      }
    }
  }
}

.ocw_welcome_right_pane {
  margin-top: 13px;

  .image-container {
    -webkit-box-shadow: 0 0 4px 1px rgb(0 0 0 / 15%);
    box-shadow: 0 0 4px 1px rgb(0 0 0 / 15%);
    border-radius: 5px;
  }

  .image-sub-text {
    font-size: 20px;
    margin-top: 14px;
    text-align: center;
    font-family: var(--semi-font);
    font-weight: 600;
    color: var(--ocw-btn-light-dark);
  }
}
