.support_wrapper {
  .support_container {
    .support__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 6px;
      .left {
        .sub_head {
          font-weight: 700;
          font-size: 16px;
          color: var(--primary-color);
          margin-bottom: 12px;
          font-family: "Inter", Arial, sans-serif;
          letter-spacing: 0.3px;
        }
      }
    }
    .support_body {
      .p-arrow {
        .p-arrow-text {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: start;
          -ms-flex-pack: start;
          justify-content: flex-start;
          line-height: 25px;

          &::before {
            content: "\f105";
            font-family: FontAwesome;
            display: inline-block;
            padding-right: 3px;
            vertical-align: middle;
            font-weight: 500;
          }

          p {
            padding-left: 9px;
            padding-bottom: 8px;
            font-weight: 400;
            font-size: 14px;
          }

          svg {
            width: 6px;
            margin-top: 6px;
          }
          a {
            color: var(--text_link);
            &:hover {
              cursor: pointer;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
