.add-account-details-container {
  font-family: var(--roboto);
  height: 100%;

  .close-icon-container {
    width: 40px;
    height: 40px;
    cursor: pointer;

    .close-icon {
      font-size: 18px;
      color: var(--very_light_hash);
    }
  }

  .header {
    font-size: 18px;
    font-weight: 500;
    color: var(--common-font-color);
  }

  .content-section {
    overflow: auto;

    .detail {
      font-size: 13.49px;
      font-weight: 400;
      color: var(--common-font-color);
      line-height: 16px;
    }

    .accounts-list {
      overflow: auto;
      margin-left: 0;
      .accounts-list-item {
        border: 1px solid var(--border-color-lite);
        height: 50px;
        width: 100%;

        border-radius: 5px;

        .bank_account_name {
          font-size: 15px;
          font-weight: 400;
        }
        .bank_name {
          font-size: 12px;
          font-weight: 700;
          margin-top: -4px;
          margin-left: 0.6px;
          color: var(--medium-grey);
        }
        .acc_no {
          font-size: 15px;
          font-weight: 400;
        }

        .bank-icon {
          font-size: 15px;
          padding-bottom: 5px;
        }
        .delete-icon {
          font-size: 18px;
          color: var(--very_light_black);
        }
        .full_acc_no {
          border: 1px solid var(--bank-skeleton-background);
          padding: 2px 5px;
          font-size: 14px;
        }
        .address_req {
          color: var(--bank-ag-grid-link-color);
          text-decoration: underline;
          font-size: 13px;
          cursor: pointer;
        }
      }
    }

    .invalid-icon {
      font-size: 20px;
      color: var(--icon-bg-magenta-light);
    }

    .valid-icon {
      font-size: 20px;
      color: var(--ocw-btn-dark-green);
    }
  }

  .invalid {
    border: 1px solid red !important;
  }
}
