.setting_heading {
  display: block;
  margin: 0 0 0.5rem 0;
  color: var(--secondary-color-lite);
  font-weight: 600;
}

.setting_heading_main {
  color: var(--secondary-color-lite);
  font-weight: 500;
}

svg {
  height: 17px;
  width: 17px;
}

.import_from_wrapper {
  .no_data {
    font-size: 12px;
    text-align: center;
  }
}

.shadow-md {
  -webkit-box-shadow: 1px 1px 4px var(--very_light_white);
  box-shadow: 1px 1px 4px var(--very_light_white);
}

.submit-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mat-mdc-radio-group {
  margin: 15px 0;
}

.mat-mdc-radio-button {
  margin: 5px;
}
