<div class="px-[6px] pb-[6px]">
  <!-- modal header -->
  <div class="flex justify-between pb-6">
    <div>
      <span
        class="mt-18 w-full text-base text-main-text-color align-middle flex items-center"
      >
        <span class="pl-1 font-inter font-semibold text-base pb-0.5"
          >{{ this.data.mode === "E" ? "Update" : "Add new" }} link</span
        >
      </span>
    </div>
    <div [mat-dialog-close]="false">
      <fa-icon
        class="text-secondary-text-color cursor-pointer"
        [icon]="faXmark"
      ></fa-icon>
    </div>
  </div>
  <!-- modal body start -->
  <div [formGroup]="addnewLinkForm" class="flex flex-col gap-5">
    <div>
      <app-common-input-field
        placeholder="Amount($)"
        formControlName="amount"
        [maxLength]="13"
        [isNumberOnly]="true"
        numberType="decimal"
        customMask="separator.2"
      />
      <app-control-message-v35 [control]="addnewLinkForm.controls.amount" />
    </div>
    <div>
      <app-common-input-field
        placeholder="Nick Name"
        formControlName="nickname"
        [maxLength]="15"
        (inputEvent)="addSlugUrl($event)"
      />
      <app-control-message-v35 [control]="addnewLinkForm.controls.nickname" />
      @if (showNickNameError()) {
        <span
          class="text-common-red-color text-xs font-medium font-roboto absolute"
        >
          <fa-icon
            class="text-common-red-color text-[12px]"
            [icon]="faCricleExcamation"
            animation="shake"
            size="lg"
          ></fa-icon>
          {{ errorMsg }}</span
        >
      }
    </div>
    <div class="single_input">
      <div class="input_style !h-auto">
        <span class="font-inter font-normal text-main-text-color text-sm"
          >{{ staticWhiteLabelConditions.paymentShortLink }}/{{
            data.shortUrl
          }}/</span
        >
        <input
          type="text"
          id="slug_url"
          name="slug_url"
          formControlName="slugurl"
          maxlength="15"
          class="w-36"
        />
      </div>
      @if (showSlugUrlError()) {
        <span
          class="text-common-red-color text-xs font-medium font-roboto absolute"
        >
          <fa-icon
            class="text-common-red-color text-[12px]"
            [icon]="faCricleExcamation"
            animation="shake"
            size="lg"
          ></fa-icon>
          {{ errorMsg }}</span
        >
      }
    </div>
    <div class="flex flex-col gap-1 pb-1">
      <div class="flex items-center cursor-pointer gap-1">
        <input
          class="cursor-pointer"
          type="checkbox"
          id="is_single_use"
          formControlName="is_single_use"
        />
        <label
          for="is_single_use"
          class="font-inter font-medium text-main-text-color text-sm cursor-pointer"
          >One time link</label
        >
      </div>
      <div class="flex items-center cursor-pointer gap-1">
        <input
          class="cursor-pointer"
          type="checkbox"
          id="is_recurring"
          formControlName="isRecurring"
        />
        <label
          for="is_recurring"
          class="font-inter font-medium text-main-text-color text-sm cursor-pointer"
          >Recurring Link</label
        >
      </div>
    </div>
    @if (showRecurring) {
      <div class="flex gap-5">
        <div>
          <app-common-input-field
            placeholder="Months"
            formControlName="months"
            [maxlength]="4"
            [isNumberOnly]="true"
          />
          <app-control-message-v35 [control]="addnewLinkForm.controls.months" />
        </div>
        <div>
          <app-common-input-field
            placeholder="Date"
            formControlName="startDate"
            [isNumberOnly]="true"
            type="date"
            [minDate]="tomorrow"
          />
          <app-control-message-v35
            [control]="addnewLinkForm.controls.startDate"
          />
        </div>
      </div>
    }
  </div>
  <!-- modal body end -->
  <div class="flex justify-end gap-3 pt-8">
    <app-common-button-v35
      width="120px"
      mat-dialog-close=""
      [type]="{ style: 'bordered', name: 'main' }"
      text="Close"
    ></app-common-button-v35>
    <app-common-button-v35
      width="120px"
      [type]="{ style: 'modal', name: 'main' }"
      [text]="this.data.mode === 'E' ? 'Update' : 'Add'"
      (clickEvent)="submit()"
      [disabled]="loading()"
      [loading]="loading()"
    ></app-common-button-v35>
  </div>
</div>
