$border-radius: 8px;
$box-shadow: 1px 1px 5px rgb(0 0 0 / 10%);

h1,
h3 {
  font-family: "Inter", Arial, sans-serif;
}

.total_amount {
  color: var(--text_link);
  cursor: pointer;
}

.right_div {
  display: flex;
  justify-content: space-between;
}
.details {
  color: var(--text_link);
  cursor: pointer;
  font-size: 15px;
}

.main_common_module {
  display: flex;
  justify-content: center;
  max-width: 1500px;
  margin: auto;
  gap: 20px;
  transform: scale(0.93);
  transform-origin: top;
}

.common_block {
  background: var(--main-theme-variable);
  padding: 23px 25px;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}

.main_left_wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 60%;
  gap: 1.5rem;
  width: 100%;
}

.first_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .header {
    margin: 2em;
    h1 {
      font-size: 1.9rem;
      font-weight: 700;
      color: var(--secondary-color);
    }
  }

  .brand_font {
    font-size: 1.5rem;
    color: var(--component-header-brand-color);
    font-weight: 700;
    margin-bottom: 1.5em;
  }

  .content {
    width: 70%;
    text-align: center;

    p {
      color: var(--primary-color);
      font-size: 15px;
    }

    input {
      width: 70%;
    }

    .copy_link {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 2em 0;

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.8rem;
        white-space: nowrap;
        margin-left: -25px;

        &:active {
          transform: unset;
        }

        img {
          width: 25px;
        }
      }
    }

    .social_icons_wrapper {
      width: 650px;
      display: flex;
      justify-content: center;
      gap: 1rem;
      flex-wrap: wrap;
      margin: 2em 0;

      .icon {
        width: 40px;
        transform: scale(0.7);
        cursor: pointer;
        transition: 0.2s;
      }

      .icon:hover {
        transform: scale(0.9);
      }
    }
  }
}

.right_wrapper {
  flex: 1 1 15%;
}

.earnings,
.support {
  padding: 15px;
  h3 {
    font-size: 1.3rem;
    color: var(--secondary-color);
  }
}

.earnings {
  .body {
    margin: 1rem 0;
    gap: 2rem;

    span {
      font-size: 1.6rem;
      font-weight: 600;
    }
  }

  .credit_amount {
    width: 50%;
    text-align: end;
    background: var(--add-new-payee-background-color);
    color: var(--component-header-brand-color);
    border-radius: 8px;
    padding: 0 10px;
  }
}

.support {
  & > div {
    margin: 2rem 0;
  }
}

.tables_block {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  h3 {
    font-size: 1.3rem;
    color: var(--secondary-color);
    margin: 1rem 0;
  }

  table {
    thead tr {
      background-color: var(--add-new-payee-background-color);
    }
  }
}

a {
  color: var(--primary-color-lite);
}

.earnings_hidden,
.support_hidden {
  display: none;
}

@media (max-width: 1311px) {
  .right_wrapper {
    display: none;
  }

  .earnings_hidden,
  .support_hidden {
    display: unset;
  }
}

@media (max-width: 380px) {
  .first_block {
    .header h1 {
      font-size: 1.52rem;
    }

    .content {
      width: 100%;
    }
  }
}
