@import "../../../../../../assets/style_varients/block-sections/create-single-side";

.ocw_one_side_body {
  @include ocwOneSideBody(1295px);
  height: 694px;
  position: relative;
  border-bottom: 20px solid var(--white);

  .ocw_body {
    .ocw_table_wrapper {
      height: 580px;

      table {
        width: 100%;

        thead {
          tr {
            position: sticky;
            top: -5px;
            background: var(--white);
          }
        }

        tbody {
          .no_data {
            &:last-child {
              background: none;

              td {
                text-align: center;
                padding: 60px 0;
              }
            }
          }

          .map_bank {
            background: #5088fc;
            width: fit-content;
            padding: 3px 11px;
            border-radius: 3px;
            color: #fff;
            font-size: 12px;
            cursor: pointer;

            &:hover {
              background: var(--ocw-btn-light-blue);
            }
          }
        }

        a {
          cursor: pointer;

          &:first-child {
            i {
              color: #2f2f2f;
            }
          }

          &:last-child {
            margin-left: 10px;

            i {
              color: var(--text_danger);
            }
          }
          .hidden {
            visibility: hidden;
          }
        }
      }
    }
  }
}
