.ocw_modal_footer {
  .mat-mdc-dialog-actions {
    display: flex;
    gap: 8px;
  }
  .add_btn {
    display: flex;
    align-items: center;
    gap: 3px;

    svg {
      width: 12px;
      height: 12px;
      fill: var(--main-theme-variable);
    }
  }
}

.device_table {
  width: 100%;
  td {
    text-align: left;
    padding: 8px 8px 8px 10px;
    color: #4f4d4d;
    font-family: "Inter", Arial, sans-serif;
    white-space: nowrap;
    font-size: 15px;
    letter-spacing: 0.3px;
  }
}
