<div 
  class="min-h-[736px] min-w-80 h-auto bg-main-background-color rounded-lg transition-all duration-300 font-roboto max-laptop:!hidden sidebar-container">
  @if(selectedRecipient()){
    <div class="py-4 pr-4 sidebar-content slide-in">
  
      <div class="flex justify-between items-center mb-2">
        <span class="text-sm font-medium text-secondary-text-color">Recipient Details</span>
        <button class="text-sm font-medium text-common-blue-color" (click)="onEditPayeeClick()">Edit</button>
      </div>
      <div class="bg-main-background-color rounded-lg p-3 mb-3 shadow">
        
        <div class="space-y-2">
          <div
          class="flex flex-col gap-1 p-2 rounded bg-main-background-color"
        >
          @if (selectedRecipient()?.name) {
            <div
              class="text-[13px] font-inter text-main-text-color font-semibold pb-3"
              [matTooltip]="
                selectedRecipient()?.name &&
                selectedRecipient()?.name?.length > 25
                  ? selectedRecipient()?.name
                  : ''
              "
            >
              {{
                selectedRecipient()?.name ?? ""
                  | truncate: 25
              }}
            </div>
          }
          @if (selectedRecipient()?.phone) {
            <div
              class="text-xs font-normal font-roboto text-secondary-text-color"
            >
              {{ selectedRecipient()?.phone }}
            </div>
          }
          @if (selectedRecipient()?.addressLine1) {
            <div
              class="text-xs font-normal font-roboto text-secondary-text-color"
              [matTooltip]="
                selectedRecipient()?.addressLine1 &&
                selectedRecipient()?.addressLine1?.length > 30
                  ? (selectedRecipient()?.addressLine1 ?? '')
                  : ''
              "
            >
              {{
                selectedRecipient()?.addressLine1 ?? ""
                  | truncate: 30
              }}
            </div>
          }
          @if (selectedRecipient()?.addressLine2) {
            <div
              class="text-xs font-normal font-roboto text-secondary-text-color"
              [matTooltip]="
                selectedRecipient()?.addressLine2 &&
                selectedRecipient()?.addressLine2?.length > 30
                  ? (selectedRecipient()?.addressLine2 ?? '')
                  : ''
              "
            >
              {{
                selectedRecipient()?.addressLine2 ?? ""
                  | truncate: 30
              }}
            </div>
          }
          @if (selectedRecipient()?.city) {
            <div
              class="text-xs font-normal font-roboto text-secondary-text-color"
              [matTooltip]="
                selectedRecipient()?.city &&
                selectedRecipient()?.city?.length > 30
                  ? (selectedRecipient()?.city ?? '')
                  : ''
              "
            >
              {{ selectedRecipient()?.city | truncate: 30 }}
            </div>
          }
          @if (selectedRecipient()?.company) {
            <div
              class="text-xs font-normal font-roboto text-secondary-text-color"
              [matTooltip]="
                selectedRecipient()?.company &&
                selectedRecipient()?.company?.length > 30
                  ? (selectedRecipient()?.company ?? '')
                  : ''
              "
            >
              {{
                selectedRecipient()?.company ?? ""
                  | truncate: 30
              }}
            </div>
          }
          @if (
            selectedRecipient()?.country ||
            selectedRecipient()?.state
          ) {
            <div
              class="text-xs font-normal font-roboto text-secondary-text-color"
              [matTooltip]="
                selectedRecipient()?.state &&
                selectedRecipient()?.state?.length > 30
                  ? (selectedRecipient()?.state ?? '')
                  : ''
              "
            >
              {{
                selectedRecipient()?.state ?? ""
                  | truncate: 30
              }}
              @if (
                selectedRecipient()?.state &&
                selectedRecipient()?.country
              ) {
                ,
              }
              {{ selectedRecipient()?.country }}
            </div>
          }
          @if (selectedRecipient()?.zip) {
            <div
              class="text-xs font-normal font-roboto text-secondary-text-color"
            >
              {{ selectedRecipient()?.zip }}
            </div>
          }
          @if (selectedRecipient()?.email) {
            <div
              class="text-xs font-normal font-roboto text-secondary-text-color"
              [matTooltip]="
                selectedRecipient()?.email && selectedRecipient()?.email.length > 30
                  ? (selectedRecipient()?.email ?? '')
                  : ''
              "
            >
              {{
                selectedRecipient()?.email ?? ""
                  | truncate: 30
              }}
            </div>
          }
        </div>
        </div>
      </div>
      @if(selectedBank()){
        <div class="flex justify-between items-center mb-2">
          <span class="text-sm font-medium text-secondary-text-color">International Bank Account Details</span>
          <button class="text-common-blue-color text-sm font-medium " (click)="onEditBankClick()">Edit</button>
        </div>
        <div class="bg-main-background-color rounded-lg p-3 shadow">
          
          <div class="space-y-2">
            @if(!isIbanBank()){
              <div class="flex justify-between">
                <span class="text-xs text-secondary-text-color">Account No</span>
                <span class="text-xs text-main-text-color">{{utils.getMaskedAcNo(selectedBank()?.account_number)}}</span>
              </div>
            }

            @if(!isIbanBank() && !isIndiaBank()){
              <div class="flex justify-between">
                <span class="text-xs text-secondary-text-color">Bank Identifier Type</span>
                <span class="text-xs text-main-text-color">{{selectedBank()?.bank_identifier_type}}</span>
              </div>

              <div class="flex justify-between">
                <span class="text-xs text-secondary-text-color">Bank Identification Code</span>
                <span class="text-xs text-main-text-color">{{selectedBank()?.bank_identifier_code}}</span>
              </div>
            }

            <div class="flex justify-between">
              <span class="text-xs text-secondary-text-color">Account Type</span>
              <span class="text-xs text-main-text-color">{{selectedBank()?.account_type}}</span>
            </div>

            <div class="flex justify-between">
              <span class="text-xs text-secondary-text-color">Bank name</span>
              <span class="text-xs text-main-text-color">{{selectedBank()?.bank_name || 'N/A'}}</span>
            </div>

            @if(isIbanBank()){
              <div class="flex justify-between">
                <span class="text-xs text-secondary-text-color">IBAN</span>
                <span class="text-xs text-main-text-color">{{utils.getMaskedAcNo(selectedBank()?.account_number)}}</span>
              </div>
            }
            @if(selectedBank()?.ifsc){
              <div class="flex justify-between">
                <span class="text-xs text-secondary-text-color">IFSC Code</span>
                <span class="text-xs text-main-text-color">{{selectedBank()?.ifsc}}</span>
              </div>
            }
          </div>
          
          <div class="mt-3 pt-3">
            <span class="text-sm font-medium text-secondary-text-color">Beneficiary Bank Details</span>
            @if(selectedBank()?.beneficiaryBankDetails){
            <div class="space-y-2 mt-2">
             @if(selectedBank()?.beneficiaryBankDetails?.addressLine1){
              <div class="flex justify-between">
                <span class="text-xs text-secondary-text-color">Address</span>
                <span class="text-xs text-main-text-color">{{selectedBank()?.beneficiaryBankDetails?.addressLine1}}</span>
              </div>
             }
             @if(selectedBank()?.beneficiaryBankDetails?.city){
              <div class="flex justify-between">
                <span class="text-xs text-secondary-text-color">City</span>
                <span class="text-xs text-main-text-color">{{selectedBank()?.beneficiaryBankDetails?.city}}</span>
              </div>
             }
             @if(selectedBank()?.beneficiaryBankDetails?.state){
              <div class="flex justify-between">
                <span class="text-xs text-secondary-text-color">State</span>
                <span class="text-xs text-main-text-color">{{selectedBank()?.beneficiaryBankDetails?.state}}</span>
              </div>
             }
             @if(selectedBank()?.beneficiaryBankDetails?.zip){
              <div class="flex justify-between">
                <span class="text-xs text-secondary-text-color">Zip</span>
                <span class="text-xs text-main-text-color">{{selectedBank()?.beneficiaryBankDetails?.zip}}</span>
              </div>
             }
               @if(selectedBank()?.beneficiaryBankDetails?.country){
              <div class="flex justify-between">
                <span class="text-xs text-secondary-text-color">Country</span>
                <span class="text-xs text-main-text-color">{{selectedBank()?.beneficiaryBankDetails?.country}}</span>
              </div>
             }
            </div>
            }
          </div>
        </div>
      }
    </div>
  }@else{
   <div class="flex flex-col gap-4 max-w-[330px] sidebar-content fade-in">
     <div class="border border-[#004a7c70] rounded-2xl bg-common-secondary-blue-color p-4 flex flex-col gap-4">
       <h1 class=" text-sm font-semibold text-main-text-color">Why Choose Us?</h1>
       @for (feature of featuresList; track feature.title) {
         <div class="flex items-center gap-3 pt-1.5">
           <div class="w-6 h-6 rounded-full bg-common-secondary-green-color flex items-center justify-center border border-common-green-color">
             <fa-icon [icon]="feature.icon" class="text-common-green-color pt-[2px]" />
           </div>
           <div>
             <h1 class="text-[13px] font-semibold text-main-text-color">{{feature.title}}</h1>
             <p class="text-xs text-secondary-text-color font-normal">{{feature.description}}</p>
           </div>
         </div>
       }
     </div>
     <div class="border border-[#004a7c70] rounded-2xl p-4 flex flex-col gap-4">
       <div class="flex items-center justify-between">
         <h1 class=" text-sm font-semibold text-main-text-color">Countries Available</h1>
       </div>
       @if(isLoading()){
        <div class="gap-2 grid grid-cols-4 pt-2.5 pl-4 gap-y-7">
          @for (_ of [].constructor(8); track $index) {
            <div class="w-8 h-8 skelton"></div>
          }
        </div>
       }@else{
         <div class="gap-2 grid grid-cols-4 pt-2.5 pl-4 gap-y-7">
           @for (country of getCountriesToDisplay(); track country.key) {
             <div class="flex items-center gap-2 flex-col">
               <img [src]="country.value.flag" class="w-6 h-6" alt="">
               <span class="text-main-text-color text-xs pt-2">{{ country.key === 'United Kingdom' ? 'UK' : country.key }}</span>
             </div>
           }
         </div>
         @if(Object.keys(enabledCountries()).length > 8 && !isCountriesExpanded()){
           <button 
             class="flex items-center justify-end gap-2 text-common-blue-color text-xs font-normal hover:underline"
             (click)="toggleCountriesExpansion()">
             <span>+{{getRemainingCountriesCount()}} more</span>
           </button>
         }
         @if(isCountriesExpanded()){
           <div class="flex flex-col gap-2">
             <div class="gap-2 grid grid-cols-4 pt-2.5 pl-4 gap-y-7">
               @for (country of getExpandedCountries(); track country.key) {
                 <div class="flex items-center gap-2 flex-col">
                   <img [src]="country.value.flag" class="w-6 h-6" alt="">
                   <span class="text-main-text-color text-xs pt-2">{{ country.key === 'United Kingdom' ? 'UK' : country.key }}</span>
                 </div>
               }
             </div>
             <button 
               class="flex items-center justify-end text-common-blue-color text-xs font-normal hover:underline"
               (click)="toggleCountriesExpansion()">
               <fa-icon [icon]="faAngleUp" class="text-sm mb-[-3px] mr-[1px]"></fa-icon>
               <span>Show Less</span>
             </button>
           </div>
         }
       }
       <div class="flex items-center justify-between">
         <span class="text-xs text-main-text-color font-normal">{{Object.keys(enabledCountries()).length}} countries available</span>
         <div class="flex items-center gap-2 text-common-green-color">
           <div class="w-2 h-2 rounded-full bg-common-green-color"></div>
           <p class="text-xs font-normal">Active</p>
         </div>
       </div>
     </div>
     <div class="border border-[#004a7c70] rounded-2xl p-4 flex flex-col gap-4">
       <h1 class=" text-sm font-semibold text-main-text-color">Need Help?</h1>
       <div class="flex flex-col gap-2 pt-2.5">
         @for (help of helpList; track help.id) {
           <div role="presentation" class="hover:shadow-common-box-shadow flex items-center gap-2 border rounded-md p-2 justify-center cursor-pointer" [ngClass]="'border-common-' + help.color + '-color'"
           (click)="onHelpClick(help.id, help.link)">
             <fa-icon [icon]="help.icon" [ngClass]="'text-common-' + help.color + '-color'" />
             <p class="text-xs font-normal" [ngClass]="'text-common-' + help.color + '-color'">{{help.title}}</p>
           </div>
         }
       </div>
       <span class="text-center text-[12px] text-secondary-text-color font-normal">Our customer support team is available 24/7</span>
     </div>
   </div>
  }
</div>
