.main-container {
  border: 1px solid var(--light_white);
  padding: 1rem 1.5rem;
  background-color: var(--main-theme-variable);
  border-radius: 8px;
  font-family: var(--roboto);
  min-height: 500px;
  margin-top: 1rem;
}

.send-sms-form {
  min-width: 500px;
}

.contacts-section {
  width: 30%;
  min-width: 500px;
  margin-left: 2rem;
  padding: 0px 2rem;
  min-height: 500px;

  color: var(--semi_black);
  -webkit-box-shadow: var(--application-settings-box-shadow);
  box-shadow: var(--application-settings-box-shadow);
  border-radius: 5px;
}

.message-text-area-wrapper {
  height: 300px;

  textarea {
    height: 100%;
    background-color: var(--main-theme-variable);
  }
}

.sub-header {
  font-size: 22px;
  font-weight: 700;
  font-family: var(--roboto);
  color: var(--common_text_color_light);

  .question-mark {
    width: 18px;

    svg {
      color: var(--ocw-btn-peacock);
    }
  }
}

.settings-list {
  padding: 0rem 1rem;

  min-width: 500px;
}

.contacts-table {
  padding-bottom: 1rem;
}

.table-body {
  max-height: 350px;
  overflow: auto;

  .fa-trash-can {
    color: var(--text_danger);
  }

  .fa-pen {
    color: var(--primary-color);
  }
}

.table-column-width {
  width: calc(22%);
}

.group-info {
  background-color: var(--light_white);
  padding: 5px 1rem;
  border-radius: 4px;

  .group-name {
    font-weight: 500;
    margin-top: -3px;
  }

  .group-name-label {
    font-weight: 400;
    font-size: 12px;
  }

  .fa-pen-to-square {
    color: var(--text_blue);
    padding: 2px;
    font-size: 20px;
  }

  .fa-xmark {
    font-weight: 400;
    color: var(--very_light_hash);
    font-size: 18px;
  }
}

.add_modal_btn {
  height: 40px;
  width: 40px;
  border-radius: 3px;
}

.send-btn {
  padding: 7px 1.5rem;
}
