.selected-row {
  background-color: var(--v4-tertiary-background-color) !important;
}

::ng-deep .v4-ocw-table {
  thead th {
    font-size: 12px;
    padding: 10px;
  }

  tbody td {
    font-size: 13px;
    padding: 10px;
  }
}
