@import "../../../../../../assets/style_varients/block-sections/create-double-side";

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@mixin globalInput {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 12px;
}

.pay-send {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .single_input {
    width: 100%;
  }
  .add_modal_btn {
    padding: 11px 10px;
    svg {
      width: 17px;
      height: 17px;
      color: var(--common_text_color_light);
    }
  }
}

.check_box {
  display: flex;
  margin-right: 17px;
  margin-bottom: 10px;

  .typeLabel {
    font-size: 15px;
    align-items: center;
    margin-left: 5px;
  }
}

.check {
  margin-right: 10px;
  .label {
    cursor: pointer;
  }
}

.wire_form1 {
  margin-top: 10px;
  @include globalInput();
  .single_input {
    &:nth-child(1),
    &:nth-child(2) {
      flex: 1 1 calc(100% / 2 - 24px);
    }
  }
}

.wire_form {
  margin-top: 10px;
  @include globalInput();
  .single_input {
    &:nth-child(1),
    &:nth-child(2) {
      flex: 1 1 calc(100% / 2 - 24px);
    }
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      flex: 1 1 calc(100% / 3 - 24px);
    }
    &:nth-child(6),
    &:nth-child(7) {
      flex: 1 1 calc(100% / 2 - 24px);
    }
    &:nth-child(8),
    &:nth-child(9) {
      flex: 1 1 calc(100% / 2 - 24px);
    }
  }
}

.wire_form2 {
  margin-top: 10px;
  @include globalInput();
  .single_input {
    &:nth-child(1),
    &:nth-child(2) {
      flex: 1 1 calc(100% / 2 - 24px);
    }
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      flex: 1 1 calc(100% / 3 - 24px);
    }
  }
}

.wire_form3,
.wire_form4 {
  margin-top: 10px;
  @include globalInput();
  .single_input {
    &:nth-child(1),
    &:nth-child(2) {
      flex: 1 1 calc(100% / 2 - 24px);
    }
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6) {
      flex: 1 1 calc(100% / 4 - 24px);
    }
  }
}

.sec_from_head {
  // margin: 23px 0 10px 3px;
  color: var(--small-modal-header);
  font-size: 12px;
  font-weight: 500;
  max-width: max-content;
  letter-spacing: 0.7px;
  position: relative;
  text-transform: uppercase;
  font-family: "Inter", Arial, sans-serif;
  margin: 18px auto 0px auto;
}

.onEdit {
  cursor: pointer;
}
.name {
  font-size: 15px;
  font-weight: 600;
}

.labels {
  font-size: 13px;
}

.contact_list {
  color: var(--text_link);
  cursor: pointer;
  font-size: 14px;
}

.note_lists {
  margin-top: 13px;
  padding-left: 17px;

  li {
    position: relative;
    font-family: "Inter", Arial, sans-serif;
    font-size: 13.5px;
    color: #262626;
    letter-spacing: 0.3px;
    margin-bottom: 8px;

    a {
      color: #082fe5;

      &:hover {
        text-decoration: underline;
      }
    }

    &::before {
      content: "\f054";
      font-family: "FontAwesome";
      font-weight: 400;
      position: absolute;
      left: -17px;
      top: 2px;
      font-size: 12px;
      color: #4e4e4e;
      -webkit-text-stroke: 0.1px white;
    }
  }

  &.FAQ_list {
    h3 {
      font-weight: 500;
      margin-bottom: 2px;
      letter-spacing: 0.4px;
      font-size: 14px;
    }

    p {
      color: #626262;
      font-size: 13.5px;
    }

    li {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }
}

.info_section {
  .info_icon {
    text-align: center;
    color: #272d7e;
  }
  .info {
    background: #e6f2fd;
    font-size: 14px;
    padding: 10px;
    border-radius: 5px;
  }
}

.pupose_code {
  background: #cae1f5;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: 600;
}

@media (max-width: 767.9px) {
  .single_input {
    flex: 1 1 100% !important;
  }
  .mobile_hide {
    display: none;
  }
}
