@if (errorMessage) {
  <small
    class="flex items-start gap-1 text-v4-common-red-color text-sm font-normal pl-1 font-funnel"
    [class]="marginTopOverride()"
    [ngClass]="{
      'mt-1': isMarginTopEnabled(),
      'mb-2.5': isMarginBottomEnabled(),
      'justify-center': isErrorMessageCentered()
    }"
  >
    <fa-icon
      class="flex h-4 shrink-0 items-center text-v4-common-red-color text-[12px]"
      [icon]="['fas', 'circle-exclamation']"
      animation="shake"
      size="lg"
      [matTooltip]="tooltip()"
    ></fa-icon>
    <p class="text-v4-common-red-color text-xs font-medium font-peridot">
      {{ errorMessage || 'This field is required' }}
    </p>
  </small>
}
