@use "../../../../../../assets/style_varients/mixins" as m;

.component-main {
  background-color: var(--add-card-background);
  padding: 30px !important;
}

.main_div {
  position: relative;
  padding-bottom: 15px;

  .side_bg {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.2;
    z-index: 1;
    width: 160px;
    max-width: 100%;
  }
}

.create_new_bank,
.bank__box {
  cursor: pointer;
  -webkit-transition: 0.2s linear all;
  -o-transition: 0.2s linear all;
  transition: 0.2s linear all;

  &:hover {
    -webkit-transform: scale(1.04);
    -ms-transform: scale(1.04);
    transform: scale(1.04);
  }
}

.ocw_modal_header {
  border: none !important;
}

.own_bank_head {
  text-align: center;
  margin-bottom: 10px;
  max-width: fit-content;
  margin: 0 auto 10px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  padding: 2px 13px;
  border-radius: 5px;
  color: var(--common-font-color);
}

.bank_main_header {
  text-align: center;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: auto auto 40px;
  font-size: 23px;
  font-weight: 600;
  color: var(--common-font-color);
  font-family: "Inter", sans-serif;
  letter-spacing: 0.1px;
}

//=====> Create new bank style start
.create_new_bank {
  @include m.flex();
  max-width: 490px;
  margin: auto;
  -webkit-box-shadow: 1px 1px 8px rgb(0 0 0 / 20%);
  box-shadow: 1px 1px 8px rgb(0 0 0 / 20%);
  padding: 15px 20px;
  border-radius: 7px;
  gap: 28px;
  position: relative;
  z-index: 2;
  background-color: var(--cloud-bank-row);
  margin-bottom: 30px;

  .bank__box {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 calc(20% - 15px);
    flex: 1 1 calc(20% - 15px);
    @include m.flex();
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    .sub_title {
      color: var(--common_text_color_light);
      font-family: "Inter", Arial, sans-serif;
      font-size: 13px;
      text-transform: uppercase;
      font-weight: 500;
      margin-top: 4.5px;
      letter-spacing: 0.25px;
    }

    svg {
      width: 42px;
      height: 42px;
      fill: var(--brand-color);

      path {
        fill: var(--brand-color-lite);
      }
    }
  }

  .titles_wrapper {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 calc(80% - 15px);
    flex: 1 1 calc(80% - 15px);

    .main_title_wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 5px;

      .main_title {
        font-family: "Inter", Arial, sans-serif;
        font-weight: 500;
        color: var(--common-font-color);
        letter-spacing: 0.4px;
      }

      span {
        display: inline-block;
        font-family: "Inter", Arial, sans-serif;
        margin-left: 7px;
        font-size: 13px;
        padding: 1px 7.5px;
        border-radius: 5px;
        background: var(--ocw-btn-gradient);
        color: var(--extreme-color-opposite);
        font-weight: 600;
        letter-spacing: 0.3px;
        white-space: nowrap;
      }
    }

    .bank_note {
      font-family: "Inter", Arial, sans-serif;
      font-size: 13px;
      max-width: 43ch;
      text-align: justify;
      opacity: 0.9;
    }
  }
}

//=====> Create new bank style end
.double_bank_wrapper {
  max-width: 550px;
  width: 100%;
  margin: auto;
  gap: 17px;
  @include m.flex();

  .bank__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: var(--cloud-bank-row);
    text-align: left;
    padding: 15px;
    -webkit-box-shadow: 1px 1px 8px rgb(0 0 0 / 20%);
    box-shadow: 1px 1px 8px rgb(0 0 0 / 20%);
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 13px;
    border-radius: 7px;

    svg {
      width: 60px;
      height: 60px;

      path {
        fill: var(--brand-color-lite);
      }
    }
  }

  .main_tite_wrapper {
    h5 {
      font-family: "Inter", Arial, sans-serif;
      font-weight: 500;
      color: var(--common-font-color);
      letter-spacing: 0.4px;
      font-size: 15px;
      white-space: nowrap;
    }

    p {
      display: inline-block;
      font-family: "Inter", Arial, sans-serif;
      font-size: 12px;
      padding: 1px 7px;
      border-radius: 5px;
      color: var(--brand-color);
      white-space: nowrap;
      font-weight: 600;
      letter-spacing: 0.3px;
      border: 1px solid var(--input-border);
    }
  }
}

@media (max-width: 767.9px) {
  .bank_main_header {
    font-size: 20px !important;
  }

  .create_new_bank {
    max-width: 400px !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 15px 15px !important;
    margin-bottom: 23px !important;

    .main_title_wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-bottom: 10px !important;
    }

    .bank_note {
      text-align: center;
    }
  }

  .double_bank_wrapper {
    .bank__box {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      gap: 12px !important;
      max-width: 150px;
      width: 100%;
    }

    .main_tite_wrapper {
      @include m.flex();
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;

      h5 {
        margin-bottom: 4px;
      }
    }
  }
}

.bank_sub_text {
  font-size: 13px;
  font-family: "Inter", Arial, sans-serif;
  color: var(--psb-secondary-font-color);
}

// .main_div{
//     .sub_div{
//         display: flex;
//         // justify-content: space-between;

//         .new_bank{
//             margin-left: 100px;
//             h3{
//                 font-size: 1.15em;
//                 font-family: var(--roboto);
//                 font-weight: 500;
//                 color: #707070;
//                 margin-bottom: 7px;
//             }
//             .title {
//                 border: 1px solid #e6e6e6;
//                 max-width: fit-content;
//                 margin: auto;
//                 padding: 0em 0.5em;
//                 color: var(--brand-color);
//                 font-weight: 500;
//                 font-family: var(--roboto);
//                 border-radius: 5px;
//             }
//             .adding__bank-proccess {
//                 box-shadow: 1px 1px 15px rgb(0 0 0 / 15%);
//                 width: 200px;
//                 top: 20px;
//                 display: block;
//                 padding: 0.8em 1.3em;
//                 color: #626262;
//                 border-radius: 5px;
//                 transition: 0.2s ease all;
//                 position: relative;
//                 border-left: 5px solid #0bb78363;
//                 overflow: hidden;
//                 margin-left: 20px;

//                 h5{
//                     text-align: center;
//                 }
//             }
//             .adding__bank-proccess:hover {
//                 box-shadow: 0 0 40px 0 rgb(0 0 0 / 20%);
//                 transform: scale(1.03);
//                 cursor: pointer;
//             }

//             .adding__bank-proccess img {
//                 width: 100%;
//                 max-width: 150px;
//                 height: 66px;
//                 object-fit: contain;

//             }

//             .note {
//                 margin-bottom: 0;
//                 max-width: 29ch;
//                 margin: auto;
//                 padding-top: 30px;
//                 font-family: var(--roboto);
//                 letter-spacing: 0.2px;
//                 font-weight: 400;
//                 font-size: 13.5px;

//             }
//         }

//         .own_bank{
//             margin-left: 100px;
//             h3{
//                 font-size: 1.15em;
//                 font-family: var(--roboto);
//                 font-weight: 500;
//                 color: #707070;
//                 margin-bottom: 7px;
//                 margin-left: 100px;
//             }
//             .title {
//                 border: 1px solid #e6e6e6;
//                 max-width: fit-content;
//                 margin: auto;
//                 padding: 0em 0.5em;
//                 color: var(--brand-color);
//                 font-weight: 500;
//                 font-family: var(--roboto);
//                 border-radius: 5px;
//             }
//             .adding__bank-proccess {
//                 box-shadow: 1px 1px 15px rgb(0 0 0 / 15%);
//                 width: 200px;
//                 top: 20px;
//                 display: block;
//                 padding: 0.8em 1.3em;
//                 color: #626262;
//                 border-radius: 5px;
//                 transition: 0.2s ease all;
//                 position: relative;
//                 border-left: 5px solid #0bb78363;
//                 overflow: hidden;
//                 margin-left: 20px;

//                 h5{
//                     text-align: center;
//                 }
//             }
//             .adding__bank-proccess:hover {
//                 box-shadow: 0 0 40px 0 rgb(0 0 0 / 20%);
//                 transform: scale(1.03);
//                 cursor: pointer;
//             }

//             .adding__bank-proccess img {
//                 width: 100%;
//                 max-width: 150px;
//                 height: 66px;
//                 object-fit: contain;

//             }
//         }

//     }
// }
