@use "../../../../../assets/style_varients/block-sections/create-single-side";

.ocw_body {
  display: flex;
  flex-wrap: wrap;
  height: auto;
}

.left {
  flex: 1 1 60%;
  padding: 0 4em 4em 4em;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h1 {
    color: #424242;
    font-size: 2rem;
    font-weight: 600;
    transform: scaleY(1.05);
  }

  h4 {
    max-width: 44ch;
  }

  > :nth-child(2) {
    width: 400px;
    position: relative;

    > :first-child {
      margin-bottom: 3em;
      font-size: 1rem;
      font-weight: 500;
    }

    svg {
      border-bottom: 1px solid #0095ff;
    }
  }

  .activities {
    position: absolute;
    top: 80px;
    right: 25px;

    li {
      $lightBlack: #838383;
      position: relative;
      padding: 10px 20px 10px 30px;
      border: 1px solid $lightBlack;
      border-radius: 10px;
      margin-bottom: 1rem;
      font-size: 14px;

      &::before {
        content: "";
        height: 5px;
        width: 5px;
        border-radius: 50%;
        background-color: $lightBlack;
        position: absolute;
        left: 8px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

.right {
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
  align-items: center;

  > :first-child {
    margin: 15px;
    font-weight: 600;
  }

  > :last-child {
    padding: 0.5rem;
    color: #065dfe;
  }
}

.plan_box {
  height: 350px;
  width: 250px;
  border: 1px solid #065dfe;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;

  .badge {
    position: absolute;
    left: -17px;
    top: 6px;
    transform: rotate(-45deg);
    font-size: 12px;
    background: hsl(158deg 56% 37%);
    color: #fff;
    padding: 2px 17px;
  }

  > :nth-child(2) {
    margin: 1.5rem 0 0.1rem 0;
    font-size: 1.5rem;
    font-weight: 500;
  }

  > :nth-child(3) {
    margin-bottom: 0.5em;

    :first-child {
      font-size: 1.8rem;
      font-weight: 600;
    }

    :last-child {
      color: #878787;
    }
  }

  ul {
    padding-top: 1.5em;
    border-top: 1px solid var(--input-border);

    li {
      position: relative;
      font-size: 14px;
      font-weight: 400;
      color: #424951;
      text-align: left;
      padding-left: 40px;
      margin-bottom: 18px;

      &:before {
        content: "\f00c";
        font-weight: 600;
        font-family: "FontAwesome";
        position: absolute;
        left: 3px;
        color: hsl(162deg 70% 43%);
        font-size: 12px;
        width: 17px;
        height: 17px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: #e6f8ec;
        top: 1px;
      }
    }
  }

  button {
    padding: 5px 40px;
    background-color: #065dfe;
    border-radius: 7px;
    color: var(--common-font-color);
    font-size: 15px;
    margin-top: 5px;
  }
}
