@use "../../../../../assets/style_varients/mixins" as m;
@use "../../../../../assets/style_varients/block-sections/create-double-side.scss"
  as n;

.main_common_module {
  position: relative;
  margin-top: 11em !important;
  @include n.mainCommonModule(1350px);
}

.main_left_wrapper {
  @include n.mainLeftSection(1 1 72%, 72%);
}

.main_right_section {
  @include n.mainRightSection(1 1 28%, 28%);
}

//====> MAIN SECTION START HERE
.check_form_wrapper {
  position: relative;
  z-index: 1;
  display: block;
  border-radius: 5px;
  overflow: hidden;

  .check_bg_img,
  .secure_lock_left,
  .secure_lock_right {
    filter: var(--bank-svg-filter);
  }
}

.bank_btn_wrapper {
  .loading_msg {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.mob_show {
  display: none;
}

.country_area {
  .input_style {
    @include m.inputStyle(34px, 6px 9px);
  }
}

.check_contents_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 31px 30px 33px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .top_section {
    display: flex;
    gap: 17px;
    align-items: flex-start;
  }

  .logo_upload_area {
    flex: 1 1 calc(10% - 10px);
    max-width: 10%;
    position: relative;
    cursor: pointer;

    .logo_box {
      @include m.flex();
      flex-direction: column;
    }

    img {
      height: 55px;
      object-fit: cover;
      width: 100%;
    }

    &.logo_add {
      cursor: unset !important;

      .logo_box {
        display: none !important;
      }

      animation: hilightUploadImg 0.25s linear forwards;

      @keyframes hilightUploadImg {
        0% {
          transform: scale(1);
        }

        50% {
          transform: scale(1.12);
        }

        100% {
          transform: scale(1);
        }
      }
    }

    .close {
      position: absolute;
      right: 0;
      top: -3px;
      color: var(--ocw-btn-orange);
      cursor: pointer;
      z-index: 1;
    }
  }

  .company_detail_area {
    flex: 1 1 calc(90% - 10px);
    max-width: 90%;
  }
}

.logo_upload_area {
  background-color: var(--bank-input-field);
  width: 100%;
  min-height: 70px;
  border-radius: 4px;
  @include m.flex();
  flex-direction: column;
  cursor: pointer;
  position: relative;

  input[type="file"] {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    opacity: 0;
  }

  svg {
    width: 20px;
    height: 20px;
    opacity: 0.7;
    transition: 0.2s ease-in-out all;

    path {
      fill: var(--bank-logo-background-color);
    }
  }

  &:hover {
    svg {
      transform: scale(1.1);
    }
  }

  p {
    font-size: 12px;
    font-weight: 600;
    margin-top: 8px;
    word-break: break-all;
    text-align: center;
  }
}

.single_input {
  .floating_label_field {
    display: none;
  }
}

.single_form {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;

  .single_input {
    flex: 1 1 100%;

    .input_style {
      @include m.inputStyle(23px, 3px 6px);
      border-radius: 2px !important;
      text-align: center;
      font-size: 12px;
      border: none;
      color: var(--common-font-color);

      &::placeholder {
        font-size: 12px;
        letter-spacing: 0.2px;
        color: var(--very_light_black);
      }
    }

    &:nth-child(2),
    &:nth-child(3) {
      flex: 1 1 calc(100% / 2 - 4px);
    }

    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6) {
      flex: 1 1 calc(100% / 3 - 4px);
    }

    &:nth-child(7),
    &:nth-child(8) {
      flex: 1 1 calc(100% / 3 - 4px);
    }
  }
}

.single_form_bank {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  .single_input {
    flex: 1 1 100%;

    .input_style {
      @include m.inputStyle(23px, 3px 6px);
      border-radius: 2px !important;
      text-align: center;
      font-size: 12px;
      border: none;
      color: var(--common-font-color);

      &::placeholder {
        font-size: 12px;
        letter-spacing: 0.2px;
        color: var(--very_light_black);
      }
    }

    &:nth-child(2),
    &:nth-child(3) {
      flex: 1 1 calc(100% / 2 - 4px);
    }

    &:nth-child(4),
    &:nth-child(5) {
      flex: 1 1 calc(100% / 3 - 4px);
    }

    &:nth-child(6) {
      flex: 1 1 calc(100% / 1 - 4px);
    }
  }
}

.main__form__wrapper {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.bottom_section {
  @include m.flex(center, flex-end);
  gap: 28px;
  justify-content: center;

  &.changeIt {
    .single_form {
      max-width: 330px;
    }
  }

  &:not(.changeIt) {
    .single_form {
      .single_input {
        flex: unset !important;
        width: unset !important;
      }
    }
  }

  .single_form {
    // justify-content: space-between;
    flex-wrap: nowrap;
    max-width: 360px;
    width: 100%;
    display: flex;
    max-width: 480px;

    .single_input {
      // flex: unset !important;
      flex-grow: 1;
      width: 100%;

      .input_style {
        &::placeholder {
          font-size: 12px;
          letter-spacing: 0.3px;
        }

        height: 33px;
        padding: 4px 10px;
        border: none;
        font-size: 13px;
        font-weight: 500;
        color: var(--routing-number-text);
        letter-spacing: 0.3px;
      }
    }
  }
}

.signature_area {
  cursor: pointer;
  height: 51px;
  width: 150px;
  border-radius: 4px;
  position: relative;
  background-color: var(--bank-input-field);
  @include m.flex();

  .close {
    position: absolute;
    right: 6px;
    top: 1px;
    color: var(--ocw-btn-orange);
    cursor: pointer;
    z-index: 1;
  }

  .sign_img {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 0;
    /* bottom: 190px; */
    width: 105px;
    height: 49px;
    object-fit: cover;
    transform: translate(-50%, -50%);
  }

  &.sign_add {
    cursor: unset !important;

    .signature_box {
      display: none;
    }

    animation:
      hilightUploadImg 0.25s linear forwards,
      showBorder 0.2s linear forwards 1s;
  }

  .signature_box {
    @include m.flex();
    gap: 8px;

    input[type="file"] {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      opacity: 0;
    }

    svg {
      width: 22px;
      height: 22px;
      transition: 0.2s ease-in-out all;
      opacity: 0.7;

      path {
        fill: var(--bank-logo-background-color);
      }
    }

    p {
      color: var(--common-font-color);
      font-size: 13px;
      /* text-transform: uppercase; */
      font-weight: 500;
      white-space: nowrap;
    }
  }

  &:hover {
    svg {
      transform: scale(1.1);
    }
  }
}

.bank_btn_wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;

  button {
    // @include buttonCommon( var(--ocw-btn-dark-green),10px !important )
  }
}

.note_text {
  max-width: 1350px;
  margin: auto;
  padding-top: 0px;
  margin-top: 16px;
  @include m.flex(flex-start, center);
  gap: 10px;
  animation: shakesWidth 0.8s cubic-bezier(0.36, 0.07, 0.19, 0.97) both 2 20s;

  @keyframes shakesWidth {
    10%,
    90% {
      transform: translate3d(-2px, 0, 0);
    }

    20%,
    80% {
      transform: translate3d(4px, 0, 0);
    }

    30%,
    50%,
    70% {
      transform: translate3d(-5px, 0, 0);
    }

    40%,
    60% {
      transform: translate3d(5px, 0, 0);
    }
  }

  svg {
    width: 18px;
    height: 18px;

    path {
      fill: var(--bank-disclaimer-color);
    }
  }

  p {
    font-family: "Inter", Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: var(--bank-disclaimer-color);
  }
}

.note_lists {
  margin-top: 13px;
  padding-left: 17px;

  li {
    position: relative;
    font-family: "Inter", Arial, sans-serif;
    font-size: 13.5px;
    color: var(--common-font-color);
    letter-spacing: 0.3px;
    margin-bottom: 8px;

    a {
      color: var(--bank-instructions-link-color);

      &:hover {
        text-decoration: underline;
      }
    }

    &::before {
      content: "\f054";
      font-family: "FontAwesome";
      font-weight: 400;
      position: absolute;
      left: -17px;
      top: 2px;
      font-size: 12px;
      color: #4e4e4e;
      -webkit-text-stroke: 0.1px white;
    }
  }

  &.FAQ_list {
    h3 {
      font-weight: 500;
      margin-bottom: 2px;
      letter-spacing: 0.4px;
      font-size: 14px;
    }

    p {
      color: #626262;
      font-size: 13.5px;
    }

    li {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }
}

.main__header {
  margin-bottom: 5px !important;
}

//=====> HEIGHS OF CONTAINER
.main_left_wrapper {
  .module_top_section {
    // height: 530px;
  }
}

.check_form_wrapper {
  height: 356px;

  .done {
    height: 356px;
  }
}

//=======> CHECK SKELTON LOADING
.check_form_wrapper {
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--bank-skeleton-background);
    border-radius: 5px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--bank-skeleton);
    border-radius: 5px;
    animation: skeltonLoading 0.4s linear infinite;
    transform: translateX(-100%);
    z-index: 1;

    @keyframes skeltonLoading {
      100% {
        transform: translateX(100%);
      }
    }
  }

  &.done {
    &::after {
      opacity: 0;
      pointer-events: none;
    }

    &::before {
      display: none;
    }
  }
}

.USA_select_field,
.canada_select_field {
  @include m.flex();
  gap: 5px;
}

.USA_select_field {
  .single_input {
    &:nth-child(1) {
      flex: 1 1 50% !important;
    }

    &:nth-child(2) {
      flex: 1 1 50% !important;
    }
  }
}

.canada_select_field {
  .single_input {
    &:nth-child(1) {
      flex: 1 1 50% !important;
    }

    &:nth-child(2) {
      flex: 1 1 50% !important;
    }
  }
}

.secure_lock_left {
  position: absolute;
  left: 40px;
  bottom: 35px;
  width: 40px;
}

.secure_lock_right {
  position: absolute;
  right: 40px;
  bottom: 35px;
  width: 40px;
}

.micr {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  font-family: "routing_font" !important;
  color: var(--common-font-color);

  span,
  label {
    font-size: 16px;
  }
}

.check_bg_img {
  height: 100% !important;
  width: 100%;
}

@media (max-width: 1388px) {
  .mob_hide {
    display: none;
  }

  .mob_show {
    display: block;
  }

  .signature_box {
    p {
      display: flex;
      gap: 3px;
    }
  }
}

@media (min-width: 767.8px) {
  .canada_select_field {
    gap: 0 !important;

    .single_input {
      &:nth-child(1) {
        border-right: 1px solid #6262622e;
      }
    }
  }
}

@media (min-width: 1280px) and (max-width: 1400px) {
  .top_section {
    .input_style {
      @include m.inputStyle(21px !important);
    }
  }

  .bottom_section {
    .input_style {
      @include m.inputStyle(30px !important);
    }
  }

  .signature_box {
    padding: 10px 22px;
  }
}

@media (max-width: 1280px) {
  .main_common_module {
    flex-wrap: wrap;
  }

  .main_left_wrapper {
    @include n.mainLeftSection(1 1 100% !important, 100% !important);
  }

  .main_right_section {
    @include n.mainRightSection(1 1 100% !important, 100% !important);
  }

  .main_right_section {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }
}

@media (min-width: 945px) and (max-width: 1280px) {
  .top_section {
    .input_style {
      @include m.inputStyle(27px !important);
    }
  }

  .bottom_section {
    .input_style {
      @include m.inputStyle(35px !important);
    }
  }

  .signature_box {
    padding: 15px 22px;
  }

  .check_contents_wrapper {
    padding: 35px 34px 38px 34px !important;
  }
}

@media (min-width: 768px) and (max-width: 945px) {
  .main__form__wrapper,
  .top_section {
    gap: 10px !important;
  }

  .logo_upload_area {
    p {
      font-size: 12px !important;
    }
  }

  .signature_box {
    padding: 10px 22px !important;
  }
}

@media (max-width: 767.8px) {
  .main__form__wrapper {
    flex-direction: column;
  }

  .check_contents_wrapper {
    padding: 0 !important;
    justify-content: unset !important;
  }

  .check_bg_img {
    display: none;
  }

  .module_top_section {
    height: unset !important;
  }

  .check_form_wrapper {
    min-height: 1030px !important;

    &::before,
    &::after {
      display: none;
    }
  }

  //=====> NORMAL FORM SECTION IN MOBILE START
  .single_input {
    .floating_label_field {
      display: block;
    }
  }

  .top_section {
    flex-direction: column;
    gap: 27px !important;
  }

  .single_input {
    flex: 1 1 100% !important;
    margin-bottom: 10px;

    input,
    select {
      text-align: left !important;
      white-space: nowrap;

      display: block !important;
      width: 100% !important;
      padding: 6px 12px !important;
      font-weight: 400 !important;
      line-height: 1.5 !important;
      background-color: var(--bank-input-field) !important;
      color: var(--input-text-color) !important;
      font-size: 15px !important;
      height: calc(1.9rem + 0.4rem + 2px) !important;
      background-clip: padding-box !important;
      border: 1px solid var(--input-border) !important;
      transition:
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out !important;
      border-radius: 4px !important;
      font-family: "Inter", Arial, sans-serif;

      &::placeholder {
        white-space: nowrap;
      }
    }
  }

  .company_detail_area {
    flex: 1 1 calc(100%) !important;
    max-width: 100% !important;
  }

  .bottom_section {
    flex-direction: column;
    gap: 0 !important;
  }

  .main__form__wrapper {
    gap: 0 !important;
  }

  .single_form {
    gap: 0 !important;
  }

  //=====> NORMAL FORM SECTION IN MOBILE END

  .bottom_section {
    .single_form {
      flex-direction: column;
    }
  }

  .header_title {
    white-space: nowrap !important;
  }

  .logo_upload_area {
    max-width: 148px !important;
    margin: 20px auto auto;
    width: 100%;
    border-radius: 7px;
    box-shadow: 1px 1px 6px 0 rgb(0 0 0 / 20%);
    flex: unset !important;
    border-left: 2px solid #15b792;

    p {
      font-size: 14px !important;
      margin-top: 12px !important;
      color: #6a6a6a !important;
      font-weight: 700;
      font-family: "Roboto" !important;
      letter-spacing: 0.4px;
    }
  }

  .module_main_body {
    margin-top: 1em !important;
  }

  .signature_area {
    box-shadow: 1px 1px 10px rgb(0 0 0 / 20%) !important;
    margin-right: 5px !important;
  }

  .country_area {
    position: absolute;
    top: -40px;
    right: 1px;
  }

  .single_form {
    width: 100% !important;
    max-width: 100% !important;
  }

  .note_text {
    display: none;
  }

  .USA_select_field,
  .canada_select_field {
    @include m.flex();
    gap: 0px !important;
    flex-direction: column;
  }
}

@media (min-width: 1280px) and (max-width: 1408px) {
  .main_right_section {
    flex: 1 1 30% !important;
    max-width: 30% !important;
  }

  .main_left_section {
    flex: 1 1 70% !important;
    max-width: 70% !important;
  }

  .secure_lock_left {
    position: absolute;
    left: 33px;
    bottom: 35px;
    width: 34px;
  }

  .secure_lock_right {
    position: absolute;
    right: 33px;
    bottom: 35px;
    width: 34px;
  }
}

.single_form .single_input .input_style {
  background-color: var(--bank-input-field) !important;
  color: var(--common-font-color);
}

@media (max-width: 838px) {
  [class^="secure_"] {
    display: none !important;
  }
}
