@use "../../../../assets/style_varients/block-sections/create-single-side";

.image_coming {
  width: 400px;
  margin: 100px auto 0 auto;
  display: flex;
}

.text {
  margin: 50px auto 20px auto;
  text-align: center;
  color: var(--quickbooks-title-font-color);
  font-size: 35px;
  font-weight: 700;
  font-family: "Inter", Arial, sans-serif;
}
.text2 {
  margin: 20px auto;
  text-align: center;
  color: #929292;
  font-size: 18px;
  font-weight: 600;
  font-family: "Inter", Arial, sans-serif;
}
