@import "../../../../../../assets/style_varients/block-sections/create-double-side";

@mixin globalInput {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 12px;
}

.pay-send {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .single_input {
    width: 100%;
  }
  .add_modal_btn {
    padding: 11px 10px;
    svg {
      width: 17px;
      height: 17px;
      color: var(--common_text_color_light);
    }
  }
}

.debit_form {
  margin-top: 10px;
  @include globalInput();
  .single_input {
    &:nth-child(1),
    &:nth-child(2) {
      flex: 1 1 calc(100% / 2 - 24px);
    }
    &:nth-child(3),
    &:nth-child(4) {
      flex: 1 1 calc(100% / 2 - 24px);
    }
    &:nth-child(5),
    &:nth-child(6) {
      flex: 1 1 calc(100% / 2 - 24px);
    }
    &:nth-child(7),
    &:nth-child(8) {
      flex: 1 1 calc(100% / 2 - 24px);
    }
    &:nth-child(9),
    &:nth-child(10),
    &:nth-child(11),
    &:nth-child(12) {
      flex: 1 1 calc(100% / 4 - 24px);
    }
  }
}

.debit_pay {
  margin-top: 10px;
  @include globalInput();
  .single_input {
    &:nth-child(1),
    &:nth-child(2) {
      flex: 1 1 calc(100% / 2 - 24px);
    }
  }
}

//card tilt effect

.debit_card {
  @include flex();
  background-color: aliceblue;
  border-radius: 10px;
  padding: 24px 0px;
}

.card_with_img {
  position: relative;
  max-width: 355px;
  margin: auto;

  &.skelton {
    border-radius: 10px !important;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, #262626, #494949, #262626);
      border-radius: 5px;
      background-size: 200%;
      z-index: 10;
      animation: loader 0.9s infinite reverse;
    }
  }

  &:hover {
    transform-style: preserve-3d;
  }

  .card_img {
    width: 100%;
    max-width: 100%;
    // height: 156px;
    z-index: 2;
  }

  .zill_logo,
  .visa_logo {
    transform: translateZ(20px);
  }

  .zill_logo {
    position: absolute;
    right: 19px;
    top: 11px;
    width: 69px;
    z-index: 2;
    max-width: 100%;
  }

  .visa_logo {
    position: absolute;
    right: 16px;
    bottom: 14px;
    width: 66px;
    z-index: 2;
    max-width: 100%;
  }

  .inside_card_details {
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    color: var(--common-font-color);
    padding: 13px 19px;
    font-family: "Inter", Arial, sans-serif;
    height: 100%;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateZ(20px);

    //== Top Card
    .top_card {
      .card_type {
        letter-spacing: 0.3px;
        text-transform: uppercase;
        font-weight: 600;
      }
    }

    //== Center Card
    .center_card {
      margin-top: 17px;

      .card_number {
        font-weight: 600;
        font-size: 14.5px;
        text-transform: uppercase;
        letter-spacing: 0.4px;
      }

      .card_sub {
        display: flex;
        gap: 40px;
        margin-top: 6px;

        .single_sub {
          p {
            color: #adadad;
          }
        }
      }

      .expiry_date {
        text-transform: uppercase;
      }
    }

    //== Bottom Card
    .bottom_card {
      margin-top: 17px;
      text-transform: uppercase;
      font-weight: 400;
      display: flex;
      flex-direction: column;
      font-family: "Inter", Arial, sans-serif;
      letter-spacing: 0.3px;

      span {
        font-size: 12px !important;
      }

      .holder_name {
        margin-bottom: 2px;
        font-weight: 600;
        font-size: 12px !important;
      }
    }
  }
}

.loading_spinner {
  width: 25px;
}

.main_div {
  .f_div {
    border: 1px solid gray;
  }
}

.name {
  font-size: 15px;
  font-weight: 600;
}

.labels {
  font-size: 13px;
}

.contact_list {
  color: var(--text_link);
  cursor: pointer;
  font-size: 14px;
}

.debit_push_payment {
  width: 100%;
  height: 40px;
  position: relative;
  background: white;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #c5c5c5;
  padding: 0 10px;
  outline: none;
}
iframe {
  width: 100%;
  height: 40px !important;
}

.disabled {
  pointer-events: none;
  background: #eee !important;

  ~ span {
    background: #eee !important;
  }
}

@media (max-width: 767.9px) {
  .single_input {
    flex: 1 1 100% !important;
  }
  .mobile_hide {
    display: none;
  }
}
