<div
  class="angular-ocw-v35-ng-select-dropdown payee-bank-ac-dropdown-overrides relative"
>
  <ng-select
    class="border-input-border-color"
    [(ngModel)]="selectedPayeeName"
    (keyup)="search($event)"
    (change)="getChange($event)"
    [placeholder]="placeholder"
    (clear)="onClear()"
  >
    <ng-option *ngIf="enableAddNew" value="add-new">
      <div
        class="add-new-btn-ng-option p-2 flex justify-center items-center text-center text-sm bg-common-secondary-blue-color rounded-lg text-common-blue-color cursor-pointer"
      >
        <fa-icon [icon]="['fas', 'plus']" class="pr-1"></fa-icon>
        <span class="add-new-text-ng-option">New</span>
      </div>
    </ng-option>
    <ng-option *ngFor="let item of data" [value]="item.id" trackBy:trackById>
      <div
        class="text-sm"
        class="w-8 h-8 flex justify-center rounded-full mr-2 items-center bg-tertiary-background-color text-common-green-color"
      >
        <fa-icon
          class="px-2 text-secondary-text-color"
          [icon]="['fas', 'building-columns']"
        ></fa-icon>
      </div>
      <div class="flex-1 justify-between flex items-center">
        <div>
          <p class="main-text-highlight text-ellipsis">
            {{ item?.bankName }}
          </p>
          <ng-container>
            <span class="text-sm text-secondary-text-color">
              {{ utils.getMaskedAcNo(item?.accountNumber + "") }}
            </span>
          </ng-container>
        </div>
        @if (item?.verified === 1) {
          <span
            class="inline-flex items-center gap-1 px-2 py-0.5 rounded-full text-[12px] font-medium bg-common-secondary-green-color text-common-green-color"
          >
            <fa-icon [icon]="faVerified"></fa-icon>
            Verified
          </span>
        }
      </div>
    </ng-option>
  </ng-select>
  @if(!selectedPayeeName){
  <fa-icon
  [icon]="faCircleQuestion"
  [matTooltip]="'• Select where money will be sent. \n• Choose \'+ New\' to add new account.'"
  [matTooltipPosition]="'right'"
  [matTooltipShowDelay]="300"
  class="tooltip-question-icon"
></fa-icon>
  }
  
</div>
