@if (fieldLabel()) {
<label
  class="block text-sm font-medium text-v4-secondary-text-color font-peridot mb-1.5"
>
  {{ fieldLabel() }} @if (isFieldRequired()) {
  <span class="text-v4-common-red-color">*</span>
  }
</label>
}
<div class="angular-ocw-v4-ng-select-dropdown">
  <ng-select
    class="ng-dropdown-panel-v4 text-sm height-0"
    [items]="allowedCountries"
    bindLabel="name"
    bindValue="code"
    [placeholder]="placeholder()"
    [(ngModel)]="selectedCountry"
    (ngModelChange)="onSelectionChange($event)"
    appendTo="body"
    [clearable]="true"
    [searchable]="false"
  ></ng-select>
</div>
