.v4-modal-container {
  display: flex;
  flex-direction: column;
  border-radius: 12px;

  * {
    font-family: "Inter", Arial, sans-serif
      var(--font-peridot),
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      sans-serif;
  }
}
