@use "../../../../../assets/style_varients/block-sections/create-double-side";

.cost-sms {
  font-size: 12px;
}
.single-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-table {
  width: 75%;
  margin: 0 auto;
}

// =========  UTILITIES ADDED

.heading {
  h1 {
    font-weight: 600;
  }
}
.cell-wrapper {
  width: 100%;
  height: 100%;
  .cell-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 50px;
    margin-bottom: 10px;
    .cell {
      font-size: 14px;
    }
  }
}

.cost-values-container {
  padding-left: 90px;
}
.total {
  font-weight: 600;
}
.half-width {
  width: 50%;
}
