// Common Modules
@use "../../../../../../assets/style_varients/block-sections/create-double-side.scss"
  as c;
@use "../../../../../../app/modules/integration/styles/integration-page-styles.scss";
@use "../../../../../../assets/style_varients/mixins" as m;

.for-checkbox,
a {
  cursor: pointer;
}

.module_top_section {
  height: 100%;
}
.main_left_wrapper {
  flex: 1 1 55%;
  max-width: 55%;
}
.main_right_section {
  flex: 1 1 45%;
  max-width: 45%;
}
.main__header {
  margin-bottom: 3px !important;
}
.module_body {
  display: flex;
  align-items: center;
  gap: 15px;
  height: 92%;
  video {
    max-height: 170px;
  }
}

app-help-widget {
  margin-right: -70px;
  padding-left: 16px;
  margin-top: 2px;
}
/*======> top-box start <=======*/
.top-box {
  border: 2px solid #e5e0f4;
  box-shadow: 0px 0px 3px rgb(77 114 209 / 10%);
  backdrop-filter: blur(50px);
  max-width: none;
  height: fit-content !important;
  .logo-sec {
    position: absolute;
    z-index: 99;
    top: 0px;
    left: 45px;
    margin-top: 22px !important;

    img {
      width: 94px;
    }
  }

  .logo-bg {
    img {
      height: 100% !important;
      max-height: 100%;
      max-width: none;
      opacity: 0;
    }
  }

  .top-twobox {
    margin-left: 50px;
    .top-box-centr {
      .main-p {
        font-size: 18px;
      }
    }

    .top-box-right {
      padding-right: 0 !important;

      &.buton-desk {
        @include m.flex;
        gap: 18px;

        .disconnect_btn {
          &:hover {
            background: var(--ocw-btn-danger);
            color: var(--white);
          }
        }
      }
    }
  }

  .line {
    position: absolute;
    width: 58px;
    height: 0px;
    left: 150px;
    top: 65px;
    border: 1px solid #004a7c;
    transform: rotate(90deg);
  }
}

.payroll-item {
  text-align: left;
  padding: 0 15px !important;
  min-width: 150px;
}
.payroll-action {
  text-align: center;
  padding: 0 15px !important;
}

.company-details {
  .company-head {
    font-weight: 600;
    font-size: 16px;
    color: #333333;
  }
  .ocw-btn {
    padding: 5px 19px;
  }
}

.details {
  width: 608px;
  height: 45px;
  background-color: whitesmoke;
  padding: 0 15px 0 15px;
  border-radius: 5px;
}

.connect-btn {
  width: 86px;
  height: 28px;
  background: #ffffff;
  border: 0.5px solid #c4c4c4;
  border-radius: 2px;
  padding: -22px;
  @include m.flex;
  align-items: center;
  justify-content: center;
  color: #07330e;
}

thead {
  height: 50px !important;
}

.disconnect-btn {
  width: 86px;
  height: 28px;
  background: #ffffff;
  border: 0.5px solid #c4c4c4;
  border-radius: 2px;
  padding: -22px;
  @include m.flex;
  align-items: center;
  justify-content: center;
  color: #ff6258;
}
.setup-btn {
  width: 123px;
  height: 28px;
  background: #ffffff;
  border: 0.5px solid #c4c4c4;
  border-radius: 4px;
  padding: -22px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--ash-blue2);
}
.view-payrol {
  color: #493c97;
  font-weight: 500;
  cursor: pointer;
}

.setting-svg {
  margin-left: -117px;
  margin-top: 17px;
  background: rgb(205 192 192 / 26%);
  border-radius: 2px;
  width: 21.84px;
  height: 18px;
  cursor: pointer;
}

input {
  height: 35px;
  border: 1px solid black;
  border-color: #e9cfcf;
  border-radius: 5px;
}

.settings {
  width: 40px;
  height: 40px;
  border: 1px solid var(--input-border);
  border-radius: 5px;

  svg {
    width: 44px;
    color: var(--common-font-color);
  }
}
.card {
  background-color: var(--add-card-background);
}
/*======> table-main-sec start <=======*/
.table-main-sec {
  table {
    thead {
      tr {
        th {
          &:nth-child(3) {
            h3 {
              display: inline;
            }
          }
        }
      }
    }

    tbody {
      tr {
        line-height: 50px;
      }

      p {
        color: red;
      }
    }

    .whitespace-nowrap {
      h3 {
        font-size: 14px;
        font-weight: 600;
        color: var(--light_black);
      }
    }

    .data_spinner {
      &::before {
        margin-top: 72px !important;
      }
    }

    .action_buttons {
      @include m.flex;
      align-items: center;
      justify-content: center;

      button {
        margin-right: 10px;
      }

      p {
        cursor: pointer;
        fill: var(--text_link);
      }
    }
  }
}

.bank-ac-map {
  padding: 1.5rem 0px 0.75rem 0px;
  border-top: 1px solid var(--white_smoke);
  margin: 2rem 0px 0px;

  .meta-text {
    font-size: 15px;
    font-weight: 400;
  }
}

.fa-sharp {
  margin-left: 51px !important;
}

.refresh-btn {
  margin-left: 347px;
  width: 79px;
  height: 26px;
  border: 0.5px solid #c3c3c3;
  border-radius: 7px;
  margin-top: 6px;
  font-size: 13px;
  color: black;
  background-color: #c6dfff;
}
.fa-trash-can {
  color: var(--alert-btn-danger-dark);
}
/*======> Responsive media queries <=======*/

/*======> Mobile <=======*/
@media (max-width: 767.98px) {
  .buton-desk {
    display: none !important;
  }
}

/*=======> tablet normal <=======*/
@media (min-width: 768px) and (max-width: 991.98px) {
  .top-box-centr {
    .main-p {
      font-size: 18px !important;
      font-weight: 800;
    }
  }
}

/*=======> tablet ipad pro <=======*/
@media (min-width: 992px) and (max-width: 1024px) and (orientation: portrait) {
  .module_main_body {
    .top-twobox {
      .top-box-centr {
        .main-p {
          font-size: 37px;
        }

        .status-color {
          p {
            font-size: 13px;
          }
        }
      }

      .top-box-img {
        height: 249px;
        width: 197px;
        top: -10px;
      }

      .top-box-img-2 {
        width: 129px;
      }

      .buton-desk {
        button {
          @include m.flex;
          justify-content: center;
          align-items: center;
          width: 151px;

          span {
            margin: 0 !important;
          }
        }
      }
    }

    .table-main-sec {
      .action_buttons {
        justify-content: center !important;
      }
    }
  }
}
