<div class="w-full font-peridot px-[1px]">
  <input
    type="text"
    inputmode="decimal"
    [value]="currentValue ?? ''"
    [placeholder]="placeholder"
    (input)="onInput($event)"
    (keydown.enter)="onEnter()"
    class="w-full h-7 px-2 py-1 text-[12px] border border-v4-input-border-color rounded-md focus:outline-none focus:ring-1 focus:ring-v4-brand-focus-color focus:border-v4-brand-border-color bg-v4-secondary-background-color text-v4-main-text-color placeholder-v4-subtle-text-color text-left"
  />
</div>
