/*============> Common Modules <============*/
@use "../../../../../assets/style_varients/block-sections/create-single-side.scss"
  as c;
@use "../../../../../assets/style_varients/mixins" as m;

/*============> ocw_one_side_body start <============*/
.ocw_one_side_body {
  @include c.ocwOneSideBody(700px);
  padding: 0 !important;

  .ocw_header {
    padding: 1rem 1rem 0 1rem;
  }
  /*============> ocw_body start <============*/
  .ocw_body {
    margin-top: 0;

    /*============> check_wrapper start <============*/
    .check_wrapper {
      .icon-sec {
        background: var(--check_notify);
      }
    }

    /*============> mail_wrapper start <============*/
    .mail_wrapper {
      .icon-sec {
        background: var(--message_notify);

        i {
          font-size: 17px;
          color: var(--common-font-color);
        }
      }
    }

    /*============> notific-wrapper start <============*/
    .notific-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      border-bottom: 1px solid var(--border-color-lite);
      padding: 10px 20px;

      &:hover {
        background-color: var(--ag-default-icon-background-color);
      }

      /*============> mat-icon  start <============*/
      .mat-icon {
        font-size: 20px;
      }

      /*============> left-sec-notific start <============*/
      .left-sec-notific {
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 10px;

        /*============> icon-sec start <============*/
        .icon-sec {
          @include m.flex;
          width: 35px;
          min-width: 35px;
          height: 35px;
          border-radius: 40px;
        }

        /*============> text-sec start <============*/
        .text-sec {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;

          .icon-time {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: end;
            -ms-flex-align: end;
            align-items: flex-end;
            gap: 10px;
            color: var(--common-font-color);

            i {
              font-size: 12px;
              color: var(--common-font-color);
            }

            p {
              color: var(--very_light_black_2);
              font-size: 13px;
              font-weight: 400;
            }
          }

          span {
            font-size: 14px;
            font-weight: 500;
            color: var(--common_text_color_light);
          }
        }
      }

      /*============> right-sec-notific start <============*/
      .right-sec-notific {
        @include m.flex;
      }

    }
  }

  .pagination-sec {
    a {
      font-size: 14px;
      font-weight: 500;
      padding: 6px 15px;
      @include m.flex;
    }
  }
}

.icon-sec {
  i {
    color: var(--small-modal-header);
  }
}

::ng-deep .mat-mdc-menu-panel {
  min-height: unset !important;
}

a {
  cursor: pointer;
}

/*======> mobile devices <=======*/

@media (max-width: 767.98px) {
  .title {
    h3 {
      font-size: 16px !important;
    }
  }

  /*============> left-sec-notific start <============*/
  .left-sec-notific {
    -webkit-box-align: start !important;
    -ms-flex-align: start !important;
    align-items: flex-start !important;

    /*============> text-sec start <============*/
    .text-sec {
      padding-right: 70px;
    }
  }

  .right-sec-notific {
    -webkit-box-align: start !important;
    -ms-flex-align: start !important;
    align-items: flex-start !important;
  }
}
