<div class="ocw_man_modal_wrapper">
  <form [formGroup]="blankCheckForm" (ngSubmit)="onSubmit()">
    <div class="flex justify-between pb-6">
      <div>
        <span
          class="mt-18 w-full text-base text-main-text-color align-middle flex items-center"
        >
          <span class="pl-1 font-inter font-semibold text-base pb-0.5">
            Create Multiple Blank Checks
          </span>
        </span>
      </div>
      <div [mat-dialog-close]="false">
        <fa-icon
          class="text-secondary-text-color cursor-pointer"
          [icon]="['fas', 'xmark']"
        ></fa-icon>
      </div>
    </div>
    <div class="ocw_modal_body">
      <div class="input_group">
        <div class="single_input max-w-[402px]">
          <app-bank-ac-dropdown-v3
            customHeight="2"
            [formControl]="selectedBank"
            class="multi-import-Bank-ac-dropdown w-full h-full"
            [enableAddNew]="true"
            append="body"
            (clearEvent)="onRemoveBank()"
            permissionContext="forPayment"
          ></app-bank-ac-dropdown-v3>
          <app-control-message
            [control]="blankCheckForm.controls.accountId"
            labelName="Please select a bank account"
          >
          </app-control-message>
        </div>

        <div class="single_input">
          <input
            type="text"
            class="input_style"
            placeholder=" "
            formControlName="total"
            (keypress)="utils.numberOnly($event, 'numeric')"
            maxlength="8"
          />
          <span class="floating_label_field"
            >Number of checks<span class="required">*</span></span
          >
          <app-control-message
            [control]="blankCheckForm.controls.total"
            labelName="Please select a valid number, at least 1"
          ></app-control-message>
        </div>

        <div class="single_input">
          <app-category-dropdown-v3
            [enableAddNew]="true"
            append="body"
            [formControl]="selectedCategory"
            (clearEvent)="onRemoveCategory()"
            class="w-full"
          ></app-category-dropdown-v3>
        </div>
        <div class="single_input no_modal_btn relative">
          <div class="angular-ocw-v35-ng-select-dropdown w-full">
            <ng-select
              appendTo="body"
              class="ng-dropdown-panel-v35 text-sm import-cheques"
              formControlName="includeSignature"
              [clearable]="false"
              [searchable]="false"
            >
              <ng-option value="0" selected>No</ng-option>
              <ng-option value="1">Yes</ng-option>
            </ng-select>
            <span
              class="z-[1004] absolute bottom-[28px] text-[12px] font-inter left-[7px] bg-main-background-color"
              >Include Signature</span
            >
          </div>
        </div>
      </div>
    </div>

    <div class="ocw_modal_footer">
      <mat-dialog-actions align="end">
        <button mat-dialog-close class="ocw-btn ocw-btn-modal-bordered">
          Cancel
        </button>

        <button
          type="submit"
          class="ocw-btn ocw-btn-modal-blue"
          [ngClass]="{ disableBtn: submitting }"
        >
          <span>Submit</span>
        </button>
      </mat-dialog-actions>
    </div>
  </form>
</div>
