.choose-bank-option {
  max-width: 700px;
  background-color: var(--add-card-background);
  .close-icon-container {
    width: 40px;
    height: 40px;
    margin: -20px -20px 0px 0px;
    cursor: pointer;

    .close-icon {
      font-size: 18px;
      color: var(--very_light_hash);
    }
  }

  .header {
    font-size: 16px;
    font-weight: 600;
    color: var(--common-font-color);
    text-align: center;
  }

  .detail {
    font-size: 14px;
    font-weight: 400;
    color: var(--common-font-color);
    text-align: center;
  }
  .bank-list {
    max-height: 250px;
    overflow: auto;
    .bankac-item {
      height: 40px;
      border: 1px solid var(--border-color-lite);
      border-radius: 4px;

      .icon {
        font-size: 12px;
        padding-bottom: 7px;
      }

      .bank_name {
        font-size: 12px;
        font-weight: 600;
      }

      .acc_no {
        font-size: 12px;
        font-weight: 500;
      }
    }
  }

  .trailing-icon {
    color: var(--very_light_black_2);
    font-size: 2em;
  }

  .buttons-wrapper {
    > * {
      width: 100%;
      max-width: 355px;
    }
    .lineL {
      height: 1px;
      flex-grow: 1;
      background: linear-gradient(260deg, #cdcdcd, transparent);
    }

    .lineR {
      height: 1px;
      flex-grow: 1;
      background: linear-gradient(45deg, #cdcdcd, transparent);
    }
    .or-label {
      color: var(--cloud-bank-paragraph-text-color);
      font-weight: 600;
    }
    button {
      font-size: 15px;
    }
  }
}

.padding-customcom {
  padding: 50px 5px;
}
