::ng-deep app-dt-drop-down-payee {
  width: 100% !important;
}

::ng-deep .ng-select .ng-select-container {
  min-height: 20px !important;
}

:host ::ng-deep .ng-select.ng-select-single .ng-select-container {
  height: 14px;
  font-size: 12px;
  color: var(--input-label);
  font-weight: 500;
  background: var(--main-background-color);
}

::ng-deep .ng-select {
  width: 100% !important;
}

::ng-deep .ng-dropdown-panel.my-ng-select-class-payee {
  font-size: 14px;
}

:host ::ng-deep .ng-select .ng-select-container {
  border: unset !important;
}
