@use "../../../../../assets/style_varients/_mixins.scss" as m;

$cs_gray: #e8e8e8;
$cs_btn_green: #02ba78;
$cs_btn_red: #ff5c5c;
$cs_btn_blue: var(--manage-web-tab-color);

@mixin csButton($width: 67px) {
  border: 1px solid $cs_gray;
  padding: 5px 0;
  width: $width;
  border-radius: 4px;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  font-family: var(--Roboto);
  white-space: nowrap;
}

button {
  @include m.flex();
  &.disable_btn {
    pointer-events: none;
  }
}

.cs_wrapper {
  @include m.flex();
  height: 100vh;
  position: relative;

  background-repeat: no-repeat;
  background-color: var(--login-background-color);
  background-size: cover;
  background-blend-mode: multiply;

  .logout {
    position: absolute;
    left: 26px;
    top: 82px;
    @include m.flex();
    &:hover {
      p {
        text-decoration: underline;
      }
    }
    gap: 10px;
    cursor: pointer;
    svg {
      width: 20px;
      height: 20px;
      fill: var(--common-font-color);
    }
    p {
      font-size: 20px;
      font-weight: 400;
      font-family: var(--roboto);
    }
  }
  .cs_containter {
    max-width: 525px;
    width: 90%;
    margin: auto;
    .cs_header {
      h1 {
        color: var(--company-select-header-color);
        font-weight: 600;
        letter-spacing: 0.02rem;
        text-align: center;
        font-size: 23px;
        font-family: var(--roboto);
      }
    }
    .cs_body_wrapper {
      margin-top: 43px;
      .container {
        .tab_wrapper {
          .tab_body {
            .mat_viewport {
              height: calc(100vh - 500px);
              width: 100%;
              scrollbar-width: none !important;
            }
            .no_company_found {
              text-align: center;
              margin-top: 135px;
              img {
                display: inline-block;
                width: 85px;
                height: 85px;
              }
              p {
                color: #7c7c7c;
                font-size: 14px;
                font-weight: 400;
              }
            }
            .loadingSpinner {
              display: unset;
              &::after {
                border-color: var(--i) transparent var(--i) transparent;
                width: 18px;
                height: 18px;
              }
            }
            .list_wrapper {
              padding-top: 9px;
              .single {
                @include m.flex();
                gap: 15px;
                padding: 1px 18px;
                position: relative;
                cursor: pointer;
                #display_img {
                  position: relative;
                  img {
                    width: 44px;
                    height: 44px;
                    border-radius: 50%;
                  }
                  #invited {
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    top: 0;
                    right: -5px;
                  }
                }
                #name {
                  -webkit-box-flex: 1;
                  -ms-flex-positive: 1;
                  flex-grow: 1;
                  overflow: hidden;
                  p {
                    font-size: 14px;
                    font-weight: 400;
                    color: var(--common_text_color_light);
                    font-family: var(--inter);
                    white-space: nowrap;
                    max-width: 50ch;
                    overflow: hidden;
                    -o-text-overflow: ellipsis;
                    text-overflow: ellipsis;
                  }
                  span {
                    font-size: 15px;
                  }
                  #pending {
                    font-size: 13px;
                    letter-spacing: 0.03rem;
                    color: #f48014;
                    font-weight: 300;
                    font-family: var(--Roboto);
                  }
                  .changeWidth {
                    max-width: 40ch;
                  }
                }
                .resend_remove {
                  @include m.flex();
                  gap: 5px;
                  button {
                    @include csButton();
                    &.resend {
                      color: $cs_btn_green;
                      &:hover {
                        background: $cs_btn_green;
                        color: var(--mild_white);
                        border: none;
                      }
                    }
                    &.remove {
                      color: $cs_btn_red;
                      &:hover {
                        background: $cs_btn_red;
                        color: var(--mild_white);
                        border: none;
                      }
                    }
                  }
                }
                .remove_access {
                  button {
                    @include csButton(139px);
                    color: $cs_btn_red;
                    &:hover {
                      background: $cs_btn_red !important;
                      color: var(--common-font-color);
                      border: none;
                    }
                  }
                }
                #right_arrow {
                  width: 27px;
                  height: 27px;
                  color: $cs_gray;
                  font-size: 1.2rem;
                  svg {
                    width: 27px;
                    height: 27px;
                    fill: $cs_gray;
                  }

                  @-webkit-keyframes activeMove {
                    0% {
                      -webkit-transform: translateX(0px);
                      transform: translateX(0px);
                    }
                    100% {
                      -webkit-transform: translateX(3px);
                      transform: translateX(3px);
                    }
                  }
                  @keyframes activeMove {
                    0% {
                      -webkit-transform: translateX(0px);
                      transform: translateX(0px);
                    }
                    100% {
                      -webkit-transform: translateX(3px);
                      transform: translateX(3px);
                    }
                  }
                }

                &:hover {
                  .resend_remove,
                  .remove_access {
                    button {
                      background: var(--main-theme-variable);
                      border: none;
                    }
                  }
                  #right_arrow {
                    opacity: 0;
                    pointer-events: none;
                    svg {
                      opacity: 0;
                      pointer-events: none;
                    }
                  }
                  &:before {
                    content: "";
                    position: absolute;
                    width: 95%;
                    height: 129%;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    z-index: -1;
                    border-radius: 5px;
                    background: var(--company-select-hover-color);
                    -webkit-box-shadow: var(--company-select-box-shadow);
                    box-shadow: var(--company-select-box-shadow);
                  }
                  &:after {
                    background: none;
                  }
                }
                &:after {
                  content: "";
                  position: absolute;
                  width: calc(100% - 130px);
                  height: 1px;
                  bottom: 0;
                  background: $cs_gray;
                  left: 76px;
                }
                &.disable {
                  pointer-events: none;
                }
              }
            }
          }
          .tab_footer {
            background: var(--main-background-color);
            .action_buttons {
              @include m.flex();
              gap: 24px;
              padding: 21px 0;
              button {
                border: 1px solid $cs_btn_blue;
                border-radius: 5px;
                color: $cs_btn_blue;
                font-weight: 500;
                font-size: 14px;
                min-width: 177px;
                white-space: nowrap;
                padding: 5px 0px;
                font-family: var(--roboto);
              }
            }
            .labels {
              color: var(--common_text_color_light);
              text-transform: uppercase;
              text-align: center;
              padding: 11px 0;
              min-height: 59px;
              border-top: 1.3px solid $cs_gray;
              p {
                font-size: 13px;
              }
              .powered_by {
                @include m.flex();
                img {
                  cursor: pointer;
                  margin-left: 5px;
                }
              }
            }
          }
        }
      }
    }
  }
}

// ****** image style ****** //
.img-on-display {
  object-fit: cover !important;
  width: 45px !important;
  height: 45px !important;
  border-radius: 50% !important;
}

::ng-deep .mat-mdc-tab-labels {
  background: var(--main-background-color) !important;
  border-radius: 5px !important;
  padding: 0 45px 0 45px;
}

::ng-deep .mat-mdc-tab-body {
  background: var(--main-background-color) !important;
  border-radius: 5px !important;
  margin-top: 15px;
}

::ng-deep .mat-mdc-tab-header {
  border-bottom: none !important;
}

::ng-deep .mat-mdc-tab-group.mat-primary .mat-ink-bar,
.mat-mdc-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #425d7c;
}

@media (max-width: 767.98px) {
  .cs_wrapper {
    .logout {
      top: 51px;
      svg {
        width: 18px;
        height: 18px;
      }
    }
    .cs_containter {
      .cs_header {
        h1 {
          font-size: 17px;
        }
      }
      .cs_body_wrapper {
        margin-top: 73px;
        .container {
          .tab_wrapper {
            .tab_body {
              .mat_viewport {
                height: calc(100vh - 360px);
              }
              .list_wrapper {
                .single {
                  padding: 2px 18px;
                }
              }
            }
          }
        }
        .tab_footer {
          .action_buttons {
            padding: 13px 0 !important;
          }
          p {
            font-size: 12px !important;
          }
          img {
            height: 14px !important;
          }
        }
      }
    }
  }
  .hidden_mobile {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .cs_wrapper {
    .logout {
      top: 51px;
    }
    .cs_containter {
      .cs_body_wrapper {
        margin-top: 73px;
      }
    }
  }
  .hidden_mobile {
    display: none;
  }
}

/** Laptop normal */

@media (min-width: 1024px) and (max-width: 1600px) and (orientation: landscape) {
  .cs_wrapper {
    .logout {
      top: 90px;
    }
    .cs_containter {
      .cs_body_wrapper {
        margin-top: 33px;
        .mat_viewport {
          height: calc(100vh - 381px) !important;
        }
      }
    }
  }
}

/** Laptop small screens */
@media (min-height: 400px) and (max-height: 630px) and (orientation: landscape) {
  .cs_wrapper {
    .logout {
      top: 90px;
    }
    .cs_containter {
      .cs_body_wrapper {
        margin-top: 33px;
        .mat_viewport {
          height: calc(100vh - 381px) !important;
        }
      }
    }
  }
}
