.alert_wrapper {
  position: relative;
  padding: 5px 0 7px 0;
}

.alert_header {
  .title {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    font-size: 18px;
    font-weight: 600;
  }

  .close_btn {
    position: absolute;
    right: -4px;
    top: -6px;
    width: 15px;
    height: 15px;
    cursor: pointer;
    z-index: 99;

    svg {
      path {
        fill: var(--semi-gray-color);
      }
    }
  }
}

.alert_icon {
  display: flex;
  justify-content: center;
  animation: zoomUp 0.3s cubic-bezier(0.48, -0.12, 0.29, 1.87) both;
  transform: scale(0.2);

  @keyframes zoomUp {
    0% {
      transform: scale(0.2);
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  svg {
    width: 60px;
    height: 60px;
  }
}

.alert_body {
  text-align: center;
  margin-top: 10px;

  .title {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 0.3px;
  }

  .content {
    font-size: 14px;
    max-width: 40ch;
    margin: 5px auto 0 auto;
    word-break: break-word;
  }
}

.alert_button_wrapper {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-bottom: 6px;
  padding-top: 27px;
}

.check-table-body-container {
  max-height: 200px;
  overflow-y: auto;
}

.question-mark {
  width: 14px;

  svg {
    color: var(--ocw-btn-peacock);
  }
}

.input-title {
  pointer-events: all !important;
}
.information {
  font-size: 12px;
  text-align: start;
  font-weight: 600;
  color: var(--input-text-color);
  margin: 0px 2px;
  i {
    color: var(--ocw-btn-peacock);
    margin-right: 5px;
    font-size: 14px;
  }
}
.edit-body {
  border-top: 1px solid black;
}
