.group-form-grid {
  min-width: 400px;
  padding: 2rem 0 0rem 0;
}

.input_style {
  &:focus,
  &active {
    outline: none !important;
  }

  &:placeholder-shown {
    ~ .floating_label_field {
      position: absolute;
      top: -7px;
      transition: 0.2s ease all;
      left: 6px;
      color: var(--input-label);
      /* color: rgb(128, 126, 126); */
      font-size: 12px;
      pointer-events: none;
      background: var(--main-theme-variable);
      font-weight: normal;
      padding-left: 3px;
      padding-right: 3px;
      letter-spacing: 0.1px;
    }
  }
}
