// Common Modules
@use "../../../../../../assets/style_varients/block-sections/create-double-side.scss"
  as c;
@use "../../../../../../app/modules/integration/styles/integration-page-styles.scss";

.main_left_wrapper {
  font-family: var(--inter);
  .module_main_header {
    justify-content: unset !important;
    align-items: normal !important;
    flex-direction: column !important;
    .header {
      span {
        color: var(--dark-blue-color);
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
      }
      hr {
        background: #ece4e4;
        border-radius: 3px;
        height: 1px;
      }
    }
    .fund-section {
      display: flex;
      gap: 10px;
      padding-top: 20px;
      .left-section {
        background: var(--table-title-background-color);
        border: 0.75px solid #406cc3;
        border-radius: 8px;
        padding: 14px 20px;
        width: 40%;
        .top-part {
          > div {
            span {
              font-weight: 500;
              font-size: 14px;
              line-height: 17px;
              color: var(--common-secondary-font-color);
            }
          }
        }
        .bottom-part {
          font-weight: 500;
          font-size: 34px;
          line-height: 42px;
          color: #137c57;
        }
      }
      .right-section {
        display: flex;
        border: 1px solid #eaecf0;
        border-radius: 8px;
        padding: 5px 15px;
        width: 55%;
        justify-content: space-between;
        .fund-section {
          padding: 5px 10px;
          justify-content: center;
          align-items: center;
          display: flex;
          span {
            font-weight: 400;
            font-size: 13px;
            line-height: 16px;
            color: var(--common-secondary-font-color);
          }
          p {
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            color: var(--common-font-color);
          }
        }
        .vertical-line {
          border: 0.75px solid #eeeded;
        }
        .payment-section {
          padding: 5px 10px;
          display: flex;
          flex-direction: column;
          gap: 7px;
          justify-content: center;
          align-items: center;
          div:nth-child(1) {
            text-align: center;
            span {
              font-weight: 400;
              font-size: 12px;
              line-height: 12px;
              color: var(--common-secondary-font-color);
            }
          }
          div:nth-child(2) {
            text-align: center;
            span {
              font-weight: 700;
              font-size: 15px;
              line-height: 19px;
              color: var(--common-secondary-font-color);
            }
          }
          div:nth-child(3) {
            background: var(--table-title-background-color);
            border-radius: 3px;
            padding: 6px;
            div:nth-child(1) {
              span {
                font-weight: 400;
                font-size: 12px;
                line-height: 12px;
                color: var(--common-secondary-font-color);
              }
            }
            div:nth-child(2) {
              text-align: center;
              p {
                font-weight: 700;
                font-size: 13px;
                line-height: 16px;
                color: var(--common-secondary-font-color);
                span {
                  font-weight: 400;
                  font-size: 12px;
                  line-height: 12px;
                  color: var(--common-secondary-font-color);
                }
              }
            }
          }
        }
      }
    }
  }
  .module_main_body {
    .table-section {
      > div {
        .tables {
          min-height: 313px;
          .table-data {
            overflow: hidden;
          }
        }
      }
    }
  }
}
.main_right_section {
  .faq-section {
    .question-section,
    .answer-section {
      display: flex;
      justify-content: flex-start;
      line-height: 25px;
      span {
        padding-left: 9px;
        padding-bottom: 8px;
        font-weight: 400;
        font-size: 14px;
      }
    }
    .question-section {
      cursor: pointer;
    }
  }
}

.withdrew-btn {
  .disable {
    background: var(--check-disabled-color);
    color: var(--check-disabled-text-color);
    pointer-events: none !important;
  }
}

@media (max-width: 767.98px) {
  .fund-section {
    .left-section {
      .bottom-part {
        font-size: 20px !important;
      }
    }
    .right-section {
      flex-direction: column;
    }
  }
}
