.main-header {
  font-family: Inter, sans-serif;
  font-size: 26px;
  font-weight: 600;
  padding-top: 45px;
  padding-bottom: 19px;
}
.main-container {
  border-radius: 2px;
  max-height: 100%;
}
.main-section {
  padding: 19px 38px;
}
.input-styling {
  border-left: none;
  border-top-left-radius: none;
  border-bottom-left-radius: none;
}
.search-container svg {
  width: 200px;
  z-index: 2;
}
.image-container {
  height: 100%;
}
.cards-container {
  column-gap: 30px;
  row-gap: 30px;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.business-card {
  border-radius: 5px;
  background-color: var(--main-background-color);
  border: solid 0.5px var(--input-border-color);
  border-radius: 5px;
  height: 183px;
  width: 202px;
  max-width: 202px;
  padding-left: 17px;
  padding-right: 17px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.business-card:hover {
  background-color: var(--tertiary-background-color);
  border: none;
  .card-img {
    animation: img-animation ease-out 0.5s;
    padding-top: 2px;
    padding-bottom: 0px;
  }
}

@keyframes img-animation {
  0% {
    padding-top: 0px;
    padding-bottom: 2px;
  }
  100% {
    padding-top: 2px;
    padding-bottom: 0px;
  }
}
.upper-card {
  margin-top: 22px;
  margin-bottom: 25px;

  img {
    width: 30px;
    color: var(--extreme-color);
  }
}
.description-text {
  font-family: var(--inter);
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 12px;
  color: var(--common-font-color);
  word-break: break-word;
  height: 40px;
}
.center-sorry-image {
  height: 346px;
  position: relative;
}
.on-blank {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.lower-card {
  margin-bottom: 19px;
}
.open-btn {
  color: var(--common-blue-color);
  height: 39px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  border-radius: 3px;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.applied-btn {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  border-radius: 3px;
  cursor: default;
  margin-bottom: 15px;

  h1 {
    font-family: var(--inter);
    font-size: 14px;
    font-weight: 600;
    color: var(--common-secondary-font-color);
  }

  svg {
    filter: var(--add-card-icon-filter);
  }
}
.coming-soon-btn {
  border: none;
  height: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  border-radius: 20px;
  cursor: default;
  // margin-bottom: 15px;
  font-family: var(--inter);
  font-size: 14px;
  font-weight: 600;
  color: var(--common-font-color);
  // padding: 2px 11px;
}
.card-applied {
  background-color: var(--common-background-color-light);
  box-shadow: none !important;
  border: solid 1px var(--input-border-color) !important;
}
.header-container {
  // padding-left: 40px;
  // padding-right: 40px;
  padding-top: 7px;
}
.apply-now-btn {
  background-color: var(--common-applied-background-color);
  border: solid 1px var(--primary-color);
  color: var(--primary-color);
  height: 39px;
  width: 169px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  border-radius: 3px;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.card-text {
  font-family: var(--inter);
  font-weight: 600;
  font-size: 14px;
  color: var(--primary-color);
}

.input-icons i {
  position: absolute;
}

.input-icons {
  width: 30%;
  margin-bottom: 10px;
  position: relative;
}

.icon {
  padding: 10px;
  min-width: 40px;
  color: #b0b0b0;
}

.input-field {
  width: 100%;
  padding: 10px 10px 10px 35px;
  text-align: left;
}

// ===============> Media Queries <================ //

// Mobile
@media (max-width: 767.98px) {
  .cards-container {
    column-gap: 10px;
    row-gap: 10px;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .main-container {
    margin-left: auto;
    margin-right: auto;
  }
}

// Tablet
@media (min-width: 768px) and (max-width: 991.98px) {
  .cards-container {
    column-gap: 10px;
    row-gap: 10px;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

// iPad Pro
@media (min-width: 992px) and (max-width: 1024px) and (orientation: portrait) {
  .cards-container {
    column-gap: 10px;
    row-gap: 10px;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

// iPad Pro
@media (min-width: 992px) and (max-width: 1024px) and (orientation: landscape) {
  .cards-container {
    column-gap: 10px;
    row-gap: 10px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

// Laptop 1
@media (min-width: 1024px) and (max-width: 1200px) and (orientation: landscape) {
  .cards-container {
    column-gap: 10px;
    row-gap: 10px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

// Laptop 1
@media (min-width: 1201px) and (max-width: 1400px) and (orientation: landscape) {
  .cards-container {
    column-gap: 10px;
    row-gap: 10px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

// Laptop 1
@media (min-width: 1401px) and (max-width: 1600px) and (orientation: landscape) {
  .cards-container {
    column-gap: 10px;
    row-gap: 10px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

// Laptop 5
@media (min-width: 1601px) and (max-width: 1800px) and (orientation: landscape) {
  .cards-container {
    column-gap: 10px;
    row-gap: 10px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
