.logo {
  width: 100px;
  margin: 10px;
}
.image404 {
  width: 400px;
  margin: 30px auto 0 auto;
  display: flex;
}

.text {
  margin: 50px auto 20px auto;
  text-align: center;
  color: #262f5f;
  font-size: 35px;
  font-weight: 600;
  font-family: "Varela Round", sans-serif;
}
.text2 {
  margin: 20px auto;
  text-align: center;
  color: #929292;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: "Inter", Arial, sans-serif;
}
.button_div {
  display: flex;
  justify-content: center;
}
.btn {
  box-shadow: 1px 1px 5px #0003;
  font-size: 17px;
  padding: 8px 20px;
  border-radius: 6px;
  font-family: "Inter", Arial, sans-serif;
  border-style: none;
  margin: 10px;
}
.btn:hover {
  cursor: pointer;
  box-shadow: 1px 1px 10px #0003;
  transform: scale(1.02);
  transition: 0.2s;
}

.contact_btn {
  background: white;
}
.home_btn {
  background: #262f5f;
  color: white;
}
