@use "../../../../../assets/style_varients/mixins" as m;
@use "../../../../../assets/style_varients/common_block/loaders_common.scss" as
  l;

.close_btn {
  position: absolute;
  right: 16px;
  top: 12px;
  width: 12px;
  height: 10px;
  cursor: pointer;
  z-index: 99;

  svg {
    path {
      fill: var(--semi-gray-color);
    }
  }
}

.upload_section_wrapper {
  position: relative;
  border-radius: 5px !important;
  @include m.flex(flex-start, flex-start);
  gap: 32px;
  min-height: 410px;
  overflow-y: hidden;
}

.left_section {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 30%;
  flex: 1 1 30%;
  max-width: 30%;
  padding-top: 31px;
  min-height: 550px;
  background: #2a2d49;
  padding-left: 10px;
  overflow: hidden;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    position: relative;
    font-size: 14px;
    font-family: "Inter", Arial, sans-serif;
    padding: 8px 8px 8px 16px;
    letter-spacing: 0.2px;
    border-radius: 5px;
    white-space: nowrap;
    cursor: pointer;
    font-weight: 600;
    color: #e8e8e8;
    margin-bottom: 3px;

    .head_wrap {
      position: relative;
      z-index: 20;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      gap: 10px;

      i {
        display: none;
      }

      .content {
        font-size: 13.8px;
      }
    }

    &.active {
      background: var(--main-theme-variable);
      border-radius: 10px 0px 0px 10px;
      color: var(--bank-signature-sidebar-font-color);
      .head_wrap {
        i {
          display: block;
        }
      }

      b.first {
        position: absolute;
        top: -20px;
        height: 20px;
        width: 100%;
        display: block;
        background: var(--bank-sign-background-color);
        pointer-events: none;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: -16px;
          width: 100%;
          height: 100%;
          border-bottom-right-radius: 13px;
          background: #2a2d49;
          pointer-events: none;
        }
      }

      b.second {
        position: absolute;
        bottom: -20px;
        height: 20px;
        width: 100%;
        display: block;
        background: var(--bank-sign-background-color);
        pointer-events: none;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: -16px;
          width: 100%;
          height: 100%;
          border-top-right-radius: 13px;
          background: #2a2d49;
          pointer-events: none;
        }
      }
    }
  }
}

// button disabled
.btn_wrapper {
  button[disabled] {
    opacity: 0.5;
    cursor: no-drop !important;

    &:hover {
      &::before,
      &::after {
        display: none !important;
      }
    }
  }
}

.uploaded_img_shown {
  position: relative;
  width: 300px;
  /* box-shadow: 1px 1px 5px rgb(0 0 0 / 20%); */
  margin: 28px auto 0 auto;
  border-radius: 6px;
  overflow: hidden;
  animation: showUploadImg 0.2s ease-in-out forwards;

  @keyframes showUploadImg {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  img {
    width: 100%;
    height: 180px;
    max-width: 100%;
    object-fit: cover;
    display: block;
    border: 1px solid #324e8d36;
  }

  .close {
    position: absolute;
    right: 7px;
    top: 6px;
    width: 21px;
    height: 21px;
    background-color: var(--main-theme-variable);
    @include m.flex();
    box-shadow: 1px 1px 5px rgb(0 0 0 / 68%);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s linear all;

    &:hover {
      background-color: var(--ocw-btn-orange);
      box-shadow: none !important;

      i {
        color: var(--main-theme-variable) !important;
      }
    }

    i {
      font-size: 14.5px;
      color: var(--border-color);
    }
  }
}

.upload_sign_add_btn {
  margin-top: 15px;
  @include m.flex();

  button {
    @include m.flex();

    span {
      white-space: nowrap;
    }

    svg {
      width: 30px;
      height: 30px;
    }
  }
}

.btn_wrapper {
  margin-top: 25px;
  @include m.flex();
  gap: 8px;
}

.right_section {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 70%;
  flex: 1 1 70%;
  max-width: 70%;

  .single_box {
    opacity: 0;
    -webkit-animation: showBox 0.25s ease-in-out forwards;
    animation: showBox 0.25s ease-in-out forwards;
    padding: 25px 25px 25px 0;

    @-webkit-keyframes showBox {
      0% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
      }

      100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
      }
    }

    @keyframes showBox {
      0% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
      }

      100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
      }
    }
  }
}

.single_box {
  .main_head {
    font-family: "Inter", Arial, sans-serif;
    letter-spacing: 0.3px;
    margin-bottom: 10px;
    color: var(--bank-new-check-modal-header-text-color);
    font-size: 18px;
    font-weight: 500;
    margin-top: 15px;
  }
}

.input_wrapper {
  max-width: 390px;
  margin: 20px auto 0 auto;
}

.qr_scan_wrapper {
  max-width: 390px;
  margin: 28px auto 0 auto;
  text-align: center;

  img {
    margin: auto;
    width: 160px;
    max-width: 100%;
  }

  p {
    font-size: 14px;
    font-family: "Inter", Arial, sans-serif;
    letter-spacing: 0.3px;
    max-width: 38ch;
    margin: auto;
    color: #626262;
  }
}

.no_img_found_upload {
  position: absolute;
  background: var(--main-theme-variable);
  right: 0;
  left: 0;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 700px) {
    height: 0px;
  }

  .content {
    img {
      width: 110px;
      margin: auto;
      opacity: 0.4;
      @media (max-width: 700px) {
        width: 90px;
      }
    }
  }

  h3 {
    white-space: nowrap;
    font-weight: 500;
    color: #909090;
    margin-top: 0;
    letter-spacing: 0.3px;
  }
}

.buttons {
  display: flex;
}

.create_wrapper {
  width: 189px;
  margin: auto;
  .create__label {
    cursor: pointer;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    font-size: 14px;
    padding: 10px 12px;
    background-color: #7165ff;
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    width: 100%;
    @include m.flex();
    gap: 4px;
    border-radius: 5px;
    text-transform: uppercase;

    svg {
      height: 16px;
      margin-right: 4px;
    }
  }
}

.upload_wrapper {
  width: 189px;
  margin: auto;

  .file_input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .upload__label {
    cursor: pointer;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    font-size: 14px;
    padding: 10px 12px;
    background-color: #4245a8;
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    width: 100%;
    @include m.flex();
    gap: 4px;
    border-radius: 5px;
    text-transform: uppercase;

    svg {
      height: 16px;
      margin-right: 4px;
    }
  }
}

.single_box {
  &.for_logo {
    height: 316px;
  }
}

.singature_pad_wrapper {
  position: relative;
  overflow: hidden;
  border: 1px solid #cdcdcd;
  height: 250px;

  .sign_box {
    z-index: 10;
    border-radius: 7px 7px 0 0;
    max-width: 350px;
    height: 144px;
    margin: 0 auto;
    background: #f2f2f2;
    top: 38px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .sign_line {
    position: absolute;
    width: 100%;
    bottom: 40px;
    border-top: 2px solid #33396a70;
    text-align: center;
    max-width: 350px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);

    span {
      font-size: 14px;
      color: #626262;
    }
  }
}

.sign_field {
  border-bottom: 1px solid var(--input-border);
  width: 100%;
  letter-spacing: 1.3px;
}

.digital_sign_box {
  margin-top: 25px;
  border: 1px solid var(--input-border);
  max-width: 420px;
  height: 100px;
  @include m.flex();
  font-family: var(--signature-font);
  font-size: 30px;
}

.prev_img_wrapper {
  max-height: 317px;
  overflow-y: auto;
  overflow-x: hidden;
}

.prev_img_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 10px;
  padding: 5px;

  .single_img {
    position: relative;
    @include m.flex();
    -webkit-box-flex: 1;
    -ms-flex: 1 1 calc(100% / 4 - 10px);
    flex: 1 1 calc(100% / 4 - 10px);
    max-width: calc(100% / 4 - 10px);
    -webkit-box-shadow: 1px 1px 4px rgb(0 0 0 / 18%);
    box-shadow: 1px 1px 4px rgb(0 0 0 / 18%);
    border-radius: 3px;
    padding: 5px;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transition: 0.2s ease-in-out all;
    -o-transition: 0.2s ease-in-out all;
    transition: 0.2s ease-in-out all;
    cursor: pointer;
    background: var(--bank-sign-background-color);
    min-height: 70px;
    max-height: 70px;
    min-width: 90px;
    max-width: 90px;

    .delete_img {
      position: absolute;
      top: 5px;
      right: 6px;
      background: var(--main-theme-variable);
      width: 19px;
      height: 19px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 1px 1px 7px rgb(0 0 0 / 40%);
      opacity: 0;
      pointer-events: none;
      transition: 0.25s ease-in-out all;

      i {
        -webkit-text-stroke: 1px white;
        color: var(--common_text_color_light);
      }
    }

    &:hover {
      .delete_img {
        opacity: 1;
        pointer-events: auto;
      }
    }

    img {
      width: 100%;
      max-width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:hover {
      -webkit-box-shadow: 1px 1px 15px rgb(0 0 0 / 20%);
      box-shadow: 1px 1px 15px rgb(0 0 0 / 20%);
    }

    // skelton loading in existing images
    // &::after {
    //   content: '';
    //   position: absolute;
    //   left: 0;
    //   top: 0;
    //   width: 100%;
    //   height: 100%;
    //   background: #dedede;
    //   border-radius: 5px;
    // }

    // &::before {
    //   content: '';
    //   position: absolute;
    //   left: 0;
    //   top: 0;
    //   width: 100%;
    //   height: 100%;
    //   background: linear-gradient(to left, transparent, rgba(255, 255, 255, 0.5), transparent);
    //   border-radius: 5px;
    //   animation: skeltonLoading 0.4s linear infinite;
    //   transform: translateX(-100%);
    //   z-index: 1;

    //   @keyframes skeltonLoading {
    //     100% {
    //       transform: translateX(100%);
    //     }
    //   }
    // }
  }
}

// button disabled
.btn_wrapper,
.upload_sign_add_btn {
  button[disabled] {
    opacity: 0.5;
    cursor: no-drop !important;

    &:hover {
      &::before,
      &::after {
        display: none !important;
      }
    }
  }
}

.upload_section_wrapper {
  margin: -24px !important;
}

.loader_white_bg {
  position: relative;
  // overflow-y: hidden;
  transition: 0.3s ease-in-out all;

  .data_spinner {
    &::before {
      position: fixed !important;
      @include l.spinnerLoader(40px, 40px, 48% auto auto 47% !important);
    }
  }

  &::before {
    content: "";
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background: var(--main-theme-variable);
    z-index: 1;
    opacity: 0.8;
    top: 65px;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
  }
}

.category_box {
  width: 118px;
  box-sizing: border-box;
  height: 108px;
  background: #f8f8f8;
  // border: 1px solid #417FF7;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  .item {
    text-align: center;
    margin-top: 27px;
    font-size: 25px;
    color: #2a2d49;
    cursor: pointer;
    i {
      width: 25px;
      height: 24px;
    }
    h6 {
      color: #5b5b5b;
      font-weight: 400;
      font-size: 13px;
    }
  }
  &.select_category {
    border: 1px solid #417ff7;
    background: #f8fbff;
  }
}

.category_boxes {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
}

.generate_btn_container {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: center;
  margin-top: 10px;
}

.prompt_input_style {
  width: 100%;
  border: 1px solid var(--input-border);
  border-radius: 3px;
  padding: 3px 0px 0px 8px;
  outline: none;
  min-height: 50px;
  max-height: 95px;
  margin-top: 10px;
  font-size: 14px;
}

.ai-container {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  margin-top: 10px;
  min-height: 250px;
  .ai-image-box {
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    height: 95px;
    .item {
      width: 90px;
      height: auto;
      cursor: pointer;
    }
    &.select_generated_image {
      border: 2px solid #417ff7;
      background: #f8fbff;
    }
  }
}

@media (max-width: 700px) {
  .upload_section_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 0px !important;
  }

  .left_section {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 100% !important;
    flex: 1 1 100% !important;
    max-width: 100% !important;
    min-height: unset;
    background: var(--main-theme-variable);
    padding: 31px 10px 0 10px;

    ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }

    li {
      color: var(--bank-signature-sidebar-font-color) !important;
      padding: 10px 15px !important;
      -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(100% / 3);
      flex: 1 1 calc(100% / 3);
      max-width: calc(100% / 3);

      &.active {
        background: #eaeaea !important;
        border-radius: 5px !important;
      }

      b {
        display: none !important;
      }

      i {
        display: block !important;
      }
    }
  }

  .right_section {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 100% !important;
    flex: 1 1 100% !important;
    max-width: 100% !important;
    width: 100%;
  }

  .single_box {
    padding: 20px 20px 30px 20px !important;
  }

  .sign_line {
    border-top: 1px solid #adadad !important;
  }
}

@media (max-width: 570px) {
  .left_section {
    li {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(100% / 2);
      flex: 1 1 calc(100% / 2);
      max-width: calc(100% / 2);
    }
  }
}
