.cong-head {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ocw_form_header {
  max-width: 1000px;
  margin: auto;
  padding-top: 85px;
  width: 95%;
}

.ocw_form_header .row {
  perspective: 1000px;
}

.ocw-form-bg {
  background-color: var(--extreme-color-opposite);
  // box-shadow: 1px 1px 15px rgb(0 0 0/ 12.5%);
  border-radius: 10px;
}

.ocw-form-body {
  padding: 2.2rem 2.2rem;
}

.cong-head {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
}

.bank-congrats h1 {
  // font-family: var(--baloo);
  font-weight: 600;
  /* color: #4f5e6e; */
  font-size: 2.25em;
  padding-left: 0px;
  background: -o-linear-gradient(298deg, #53687e, #456892, #5e86b2);
  background: linear-gradient(152deg, #53687e, #456892, #5e86b2);
  background-clip: text;
}

.bank-congrats h4 {
  font-weight: 500;
  // font-family: var(--baloo);
  font-size: 1.3rem;
  color: green;
}

.succ {
  margin: 0;
  margin: 30px auto;
  // font-family: var(--roboto);
  /* background: #f1f8f9; */
  max-width: fit-content;
  font-size: 20px;
  white-space: nowrap;
  padding: 8px 22px;
  font-weight: 500;
  border-radius: 5px;
  // box-shadow: 1px 1px 15px rgb(0 0 0 / 15%);
  color: #4e6986;
  border-left: 3px solid #09b281ad;
  font-size: 1.2em !important;
  letter-spacing: 0.5px;
  border-right: 3px solid #09b281ad;
}

.bt__text {
  margin: 0;
  font-size: 15px;
  font-family: var(--roboto);
  letter-spacing: 0.3px;
  font-weight: 400;
  color: var(--common-font-color);
  // font-family: var(--muli);
  font-weight: 600;
  margin-bottom: 17px;
  margin: 4px auto 17px auto;
  max-width: 41ch;
  line-height: 23px;
}

.bt__text span {
  display: block;
  max-width: 35ch;
  margin: 16px auto 0 auto;
  background: var(--main-theme-variable);
  text-align: center;
  border: 2px dashed #dadada;
  padding: 10px 12px;
  color: var(--common-secondary-font-color);
  border-radius: 5px;
}

.bank-congrats .num-border {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  border: 2px dashed rgb(139, 138, 138);
}

.bank-congrats .num-border h5 {
  font-size: 1.1rem;
  font-weight: 400;
}

.bank-congrats .num-border span {
  font-size: 1.2rem;
  font-weight: 500;
}

.btn-ocw-green {
  border-radius: 4px;
}

/* .bank-congrats::before {
      content: "";
      position: absolute;
      background: url(../../images/common_bg/bottom_wave.png);
      width: 113px;
      height: 102px;
      background-size: 113px;
      background-repeat: no-repeat;
      background-position: bottom left;
      bottom: 0;
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg);
      left: 0px;
  } */

.send_button a {
  display: inline-flex;
  align-items: center;
  font-weight: 500 !important;
  transition: 0.2s ease-in-out all;
  cursor: pointer;
  padding: 7px 21px !important;
}

.oc_numbers {
  display: flex;
  justify-content: center;
  margin: 10px 0px;
}

.ocw_form_header {
  max-width: 550px !important;
  margin: auto;
  padding-top: 100px;
  width: 95%;
}

.ocw-content-body {
  perspective: 1000px;
}
.success___wrapper {
  transition: all 1.4s cubic-bezier(0.77, 0, 0.175, 1.6);
  transform: translate3d(0, -10%, 0) rotateX(-96deg);
  transform-origin: 50% -30%;
  transform-style: preserve-3d;
  opacity: 0;

  animation: showUpd 1.6s cubic-bezier(0.77, 0, 0.175, 1.6) forwards 1s;
}

@-webkit-keyframes showUpd {
  100% {
    transform: translate3d(0, 0, 0) rotateX(0deg);
    opacity: 1;
  }
}

@keyframes showUpd {
  100% {
    transform: translate3d(0, 0, 0) rotateX(0deg);
    opacity: 1;
  }
}

.btn___wrapper {
  margin-top: 15px;
}

.btn___wrapper .cnt__btn {
  color: #fff !important;
  background: -o-linear-gradient(45deg, #478aa4, #0bb783) !important;
  background: linear-gradient(45deg, #478aa4, #0bb783) !important;
  font-size: 1em;
  padding: 7px 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  transition: 0.3s ease-in-out all;
}

.btn___wrapper .cnt__btn:hover {
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
}

.btn___wrapper .cnt__btn i {
  animation: activeMove 0.3s ease-in-out infinite alternate;
  font-size: 12px;
}

.ocw-form-body {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.ocw-form-body::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;

  background: linear-gradient(127deg, #6ac8e5, transparent);
  border-radius: 50%;
  transition: 0.2s ease-in-out all;
  right: -56px;
  top: -45px;
}

.ocw-form-body::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background: -o-linear-gradient(54deg, #ade2f273, transparent);
  background: linear-gradient(36deg, #ade2f273, transparent);
  border-radius: 50%;
  -webkit-transition: 0.2s ease-in-out all;
  -o-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
  top: -37px;
  right: -46px;
}

.ocw-form-bg {
  position: relative;
  overflow: hidden;
}

.ocw-form-bg::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background: -o-linear-gradient(246deg, #bef0ff73, transparent);
  background: linear-gradient(204deg, #bef0ff73, transparent);
  border-radius: 50%;
  -webkit-transition: 0.2s ease-in-out all;
  -o-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
  bottom: -37px;
  left: -46px;
}

/* .bt__text span {
      display: block;
      text-align: center;
      width: 100%;
      margin-top: 10px;
      max-width: fit-content;
      margin: 9px auto 0 auto;
  } */

span {
  display: block;
  max-width: 35ch;
  margin: 16px auto 0 auto;
  background: white;
  border: 2px dashed #dadada;
  padding: 10px 12px;
  color: #677377;
  border-radius: 5px;
  font-size: 13px;
}

@-webkit-keyframes showUp {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes showUp {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@media (max-width: 767.98px) {
  .cong-head {
    display: block;
  }
  .oc_numbers {
    display: block;
    margin: 10px 0px;
  }

  .succ {
    white-space: pre-wrap;
  }

  .bank-congrats h1 {
    font-size: 2em;
    padding: 0;
  }

  .bt__text {
    margin-bottom: 12px;
  }

  .ocw_form_header {
    padding-top: 45px;
    width: 92%;
  }

  .ocw-form-bg {
    border-radius: 10px;
  }

  .cong-head svg {
    display: none;
  }
}
