.modal-title {
  font-weight: 600;
  margin: 10px 10px 10px 0;
}
.errorMessage {
  color: var(--text_danger_lite);
  font-family: "Inter", Arial, sans-serif;
  font-size: 13.5px;
  font-weight: 400;
  letter-spacing: 0.2px;
  padding-left: 4px;
}

.set_permission_button {
  margin-top: 6px;
  button {
    display: unset;
    width: 100%;
    height: 43px;
    padding: 12px 14px;
    background: var(--ocw-btn-light-dark);
  }
}
