//=======> MODAL INPUT STYLE
.input_group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 15px;

  &.bank_credential {
    .single_input {
      flex: 1 1 calc(100% / 2 - 24px);
    }
  }

  &.bank_detail {
    .single_input {
      &:nth-child(1),
      &:nth-child(2) {
        flex: 1 1 calc(100% / 2 - 24px);
      }
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5) {
        flex: 1 1 calc(100% / 3 - 24px);
      }
    }
  }
}

//=======> MODAL FOOTER WITH BUTTON
.ocw_modal_footer {
  .mat-mdc-dialog-actions {
    display: flex;
    gap: 8px;
  }
  .add_btn {
    display: flex;
    align-items: center;
    gap: 3px;

    svg {
      width: 12px;
      height: 12px;
      fill: var(--main-theme-variable);
    }
  }
}

//=======> MODAL SUB HEADER
.sec_from_head {
  position: relative;
  margin: 23px 0 10px 3px;
  color: var(--small-modal-header);
  font-size: 15px;
  font-family: var(--secondary-font);
  font-weight: 600;
  max-width: max-content;
  letter-spacing: 0.7px;
  position: relative;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    top: 2px;
    bottom: 0;
    margin: auto;
    width: 20px;
    height: 1px;
    background-color: var(--brand-color);
    -webkit-transition: 0.2s ease-in-out all;
    -o-transition: 0.2s ease-in-out all;
    transition: 0.2s ease-in-out all;
    margin-left: 4px;
  }

  &:hover {
    &::after {
      width: 32px;
    }
  }
}

//=======> MODAL COMMON QUERIRES
@media (max-width: 767.8px) {
  .single_input {
    flex: 1 1 100% !important;
  }
}

//=======> tack on product

.track {
  position: absolute;
  // top: 10.1px;
  font-size: 13.5px;
  padding-top: 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: normal;
  padding-left: 8px;
  letter-spacing: 0.45px;
}
