@use "../../../../../assets/style_varients/mixins" as m;

.label_wrapper {
  @include m.flex(space-between);

  .ach_badge {
    padding: 2px 4px;
    letter-spacing: 0.03rem;
    margin: 0 6px;
    border-radius: 3px;
    font-size: 8px;
    font-weight: 800;
    color: var(--brand-color-lite);
    border: 1px solid var(--brand-color-lite);
  }
  .verfied_badge {
    padding: 2px 8px;
    margin: 0 6px;
    font-size: 15px;
    font-weight: 800;
    color: var(--brand-color-lite);
  }
}

.credit-card-label {
  @include m.flex(space-between);
  padding: 6px 10px;
  background: #eceefa;
  border-radius: 4px;

  p {
    font-weight: 500;
    color: #505050;
  }

  .new_badge {
    padding: 3px 7px;
    letter-spacing: 0.03rem;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 500;
    color: var(--main-theme-variable);
    background: var(--text_danger_lite);
    border-radius: 4px;
  }
}

.add-new-text {
  color: var(--sky-blue-2);
}

.add-new-icon {
  color: var(--sky-blue-2);
}

.invalid {
  border: 1px solid red;
  border-radius: 4px;
  font-size: 14px;
}
.valid {
  font-size: 14px;
}

.add-new-text {
  color: var(--sky-blue-2);
}

.drop_style {
  border: 1px solid red !important;
}
