//========> GLOBAL DROPZONE START =======//
.dropzon_label {
  // max-width: 13ch;
  // overflow: hidden;
  // white-space: nowrap;
  // overflow: hidden;
  // text-overflow: ellipsis;
  // font-size: 13px;
  // background: #fff;
  // box-shadow: 1px 1px 5px rgb(0 0 0 / 40%);
  // border-radius: 5px;
  // padding: 2px 4px;
  font-size: 12px;
}

//=======> GLOBAL BODY MEASUREMENTS ======//
.main__body__wrapper {
  // position: relative;
  // z-index: -1;
  margin-left: 210px;
  margin-top: 9em;
  transition: 0.25s ease-in-out all;
  padding: 0 15px 2em 15px;
  margin-bottom: 1.5em;

  @media (max-width: 767.9px) {
    padding: 0 15px 25px 15px;
  }
}

.main__body__wrapper {
  &.close_body {
    margin-left: 60px;
  }
  &.disable_side_bar_header {
    margin-left: 0;
    margin-top: 7em;
  }
}

//=======> BADGE ======//
.new-badge {
  &::after {
    content: " ";
    position: absolute;
    left: -5px;
    top: -9px;
    background-image: url("../../images/new-badge.svg");
    background-size: 18px 18px;
    height: 18px;
    width: 18px;
  }
}

//=======> HEADING UNDERLINE ======//

//=======> HEADING UNDERLINE ======//
.ocw-underline {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 55%;
    height: 1px;
    background: #d7d7d7;
    bottom: -8px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 35px;
    height: 3px;
    background: cadetblue;
    bottom: -9px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

//=========> GLOBAL TOOLTIP COLOR =========//
::ng-deep .mdc-tooltip__surface {
  background: black !important;
  color: white !important;
  font-size: 11.5px !important;
  letter-spacing: 0.3px !important;

  padding-top: 4.7px !important;
  padding-bottom: 4.6px !important;
}

//=========> CHECKBOX GLOBAL START =========//
.add_payee_modal .mat-mdc-radio-button,
.add_payee_modal .mdc-form-field label {
  height: 100% !important;
}

//=========> GLOBAL MEDIA QUERY START ========//
@media (max-width: 1199.98px) {
  // margin remove
  .ocw__header__wrapper,
  .main__body__wrapper {
    margin-left: 0 !important;
  }

  .side__bar__wrapper {
    transform: translateX(-100%);

    // &.hideBar {
    //   transform: translateX(0%);
    // }

    // &.showBar {
    //   transform: translateX(-100%);
    // }
  }

  .side_toggle_menu {
    display: block !important;
    padding-right: 8px;
  }

  .side_bar_toggle {
    display: block !important;
    cursor: pointer;
  }

  .toggle_area {
    display: none !important;
  }

  .side_panel_overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
    opacity: 0;
    pointer-events: none;

    &.show {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.cdk-global-scrollblock {
  position: initial !important;
  width: initial !important;
  overflow: hidden !important;
}

@media (min-width: 1199.98px) {
  .side__bar__wrapper {
    transform: translateX(0);
    display: block !important;
  }
}

//=========> GLOBAL OCW MENU ========//
@mixin ocwMenu($position: auto auto auto, $origin: left top) {
  position: absolute;
  inset: $position;
  background-color: var(--main-theme-variable);
  padding: 10px 0px;
  width: 100%;
  border-radius: 7px;
  box-shadow: var(--dark-theme-common-box-shadow);
  min-width: 200px;

  // Menu show animation
  transform: scaleX(0) scaleY(0);
  animation: showSideMenu 0.1s ease-in-out forwards;
  transform-origin: $origin;
  opacity: 0.5;

  @keyframes showSideMenu {
    0% {
      transform: scaleX(0.8) scaleY(0.8);
      opacity: 0;
    }

    100% {
      transform: scaleX(1) scaleY(1);
      opacity: 1;
    }
  }
}

//---- menu overlay
@mixin ocwMenuOverlay($bgColor: rgba(0, 0, 0, 0)) {
  background: $bgColor;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
}

.ocw_menu_wrapper {
  @include ocwMenu();

  .main_list_wrapper {
    width: 100%;
  }

  li {
    display: flex;
    grid-gap: 8px;
    gap: 8px;
    align-items: center;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 7px;
    transition: 0.2s linear all;

    &:hover {
      background-color: var(--icon-hover-color);
    }
  }

  span {
    display: inline-block;
    color: var(--common-font-color);
    font-family: "Inter", Arial, sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 0.3px;
    font-size: 14px;
    white-space: nowrap;
  }

  i {
    width: 20px;
    height: 20px;
    color: var(--navbar-icon-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-right: 7px;
  }

  img {
    width: 20px;
    height: 20px;
  }
}

//=========> ANGULAR SUB MENU FOR DATA TABLES LIKE. ========//
@mixin meterialMenuLists($padding: 7px 13px, $gap: 7px) {
  display: flex;
  gap: $gap;
  align-items: center;
  padding: $padding;
  cursor: pointer;
  transition: 0.2s linear all;
}

@mixin meterialMenuText(
  $fontSize: 13.5px,
  $fontFamily: "Roboto",
  $fontWeight: 400,
  $color: #4c4c4c
) {
  display: inline-block;
  font-size: $fontSize;
  color: #4c4c4c;
  font-family: $fontFamily;
  font-weight: $fontWeight;
  text-transform: capitalize;
  letter-spacing: 0.3px;
  white-space: nowrap;
}

@mixin meterialMenuIcon($fontSize: 15px) {
  width: 20px;
  height: 20px;
  color: var(--primary-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-right: 7px;
  font-size: $fontSize;
}

.meterial_customized_dropdown {
  .single_list {
    @include meterialMenuLists();

    .text {
      @include meterialMenuText();
    }

    .icon {
      @include meterialMenuIcon();
    }

    &:hover {
      background-color: #f4f4f4;
    }
  }
}

//=========> FIT IMG COMMON ========//
.fit_img {
  width: 100%;
  max-width: 100%;
}

//=========> COPIED TEXT SNAKEBAR ========//
.mat-mdc-snack-bar-container {
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  margin: 24px;
  max-width: 349px;
  min-width: 300px;
  font-size: 15px !important;
  font-family: "Open Sans" !important;
  font-weight: 500 !important;
  border-left: 5px solid #61c387 !important;
  .ng-star-inserted {
    color: var(--add-card-border) !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  background: var(--extreme-color-opposite) !important;
}

// .copyTextArea {
//   display: none !important;
// }

//====================================================
//cloud bank account detail dt table class variables

.cloudBankAccDtStatus {
  background-color: #0bb783;
  padding: 5px 7px;
  color: var(--common-font-color);
  border-radius: 5px;
  font-size: 13px;
  text-transform: capitalize;
  letter-spacing: 0.3px;
  font-weight: 400;
  font-weight: 500;
}

@mixin commonStateColor($color) {
  background-color: $color;
  padding: 5px 7px;
  color: var(--common-font-color);
  border-radius: 5px;
  font-size: 13px;
  text-transform: capitalize;
  letter-spacing: 0.3px;
  font-weight: 400;
  font-weight: 500;
}

.submitted {
  @include commonStateColor(#0099ff);
}

.declined {
  @include commonStateColor(var(--text_danger_lite));
}

.review {
  @include commonStateColor(#ffa238);
}

.approved {
  @include commonStateColor(#0bb783);
}

//manage card status
.active_manage_card {
  @include commonStateColor(#0bb783);
}
.pending_manage_card {
  @include commonStateColor(#ffa238);
}
.inactive_manage_card {
  @include commonStateColor(var(--text_danger_lite));
}

//====================================================

//=========> PAGE NOT FOUND ========//
.not_result_fount {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;

  img {
    width: 300px;
    max-width: 100%;
    margin: auto;
    filter: var(--bank-svg-filter);
    border-radius: 10px;
  }

  h3 {
    font-family: "Inter", sans-serif;
    margin-top: 8px;
    color: var(--common-font-color);
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.2px;
  }

  p {
    max-width: 43ch;
    margin-top: 4px;
    font-size: 14px;
    color: #8d8d8d;
    letter-spacing: 0.2px;
  }
}

//=========> GLOBAL DISABLED BUTTON ========//
.disable-btn {
  opacity: 0.6;
  pointer-events: none;

  &:hover {
    &::before,
    &:after {
      display: none !important;
    }
  }
}

.typed-cursor {
  color: var(--brand-color-lite-2) !important;
}

/*============== Intro js styles ================*/
.introjs-tooltip {
  background-color: var(--common-applied-background-color);
}
.introjs-overlay {
  /* pointer-events: auto !important;
  cursor: auto !important; */
  cursor: auto !important;
}

.introjs-helperLayer {
  border: 1px solid var(--main-text-color) !important;
}

.introjs-tooltip-header {
  padding-top: 12px !important;
}

.introjs-tooltip-title {
  color: var(--intro-tooltip-header-color) !important;
  font-size: 17px !important;
  /* text-transform: uppercase; */
  letter-spacing: 0.2px;
  font-weight: 700 !important;
  line-height: 23px !important;
}

/* .introjs-overlay {
  pointer-events: none !important
} */

.introjs-tooltiptext {
  padding: 13px 20px 9px 20px !important;
  font-size: 14.5px !important;
  font-weight: 400 !important;
  letter-spacing: 0.2px !important;
}

.introjs-skipbutton {
  position: absolute !important;
  right: 3px !important;
  top: 3px !important;
  color: #818181 !important;
  font-size: 24px !important;
}

.introjs-button {
  padding: 0.3rem 1rem !important;
  background: var(--common-applied-background-color);
  text-shadow: none;
  color: var(--secondary-color);
}

//=========> MATERIAL MENU GLOBAL STYLE ========//
.mat-mdc-menu-content {
  box-shadow: none !important;
}

.mat-mdc-menu-panel:not(.notification-bar) {
  box-shadow:
    0px 2px 4px -1px rgb(0 0 0 / 10%),
    0px 4px 5px 0px rgb(0 0 0 / 14%),
    0px 1px 10px 0px rgb(0 0 0 / 12%) !important;
}

//=========>ENABLE CANVAS SCROLL IN CHECK VIEW PAGE ========//
.onlyfor-img-sec {
  .canvas-container {
    pointer-events: none;
  }
}

//==========>break the sentence with three dots.............//

@mixin textBreak($width: 180px) {
  width: $width;
  text-overflow: ellipsis;
  word-break: break-all;
  overflow: hidden;
  white-space: nowrap;
}

@mixin textBreakHover() {
  overflow: visible;
  white-space: normal;
  height: auto;
}

.text-break {
  @include textBreak();
}

.border-v3 {
  border: 0.5px solid #f7f7f7;
}

.link-text {
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
  color: var(--check_notify);
  cursor: pointer;
}
.v3-border-t {
  border-top: solid 0.5px var(--input-border-light);
}
.v3-border-r {
  border-right: solid 0.5px var(--input-border-light);
}
.v3-border-b {
  border-bottom: solid 0.5px var(--input-border-light);
}
.v3-border-l {
  border-left: solid 0.5px var(--input-border-light);
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 50px;
}
