@use "../../../../../../assets/style_varients/mixins" as m;

.main_common_module {
  max-width: 1200px;
  height: 810px;
  display: flex;
  flex-direction: column;
  margin: auto;
  background: var(--main-background-color);
  padding: 20px;
  .module_top_section {
    padding: 12px 12px;
    height: 100%;
    .module_main_body {
      margin-top: 0;
      @include m.flex(space-between, stretch);

      .left_section {
        background: var(--secondary-background-color);
        flex: 1 1 20%;
        border-radius: 5px;
        padding: 25px;
        height: 640px;
        .psb_progress_bar {
          display: none;
        }
      }

      .right_section {
        flex: 1 1 80%;
        flex-direction: column;
        > div {
          height: 100%;
        }
      }
    }
  }
}

.heading {
  display: flex;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 15px;
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
}

.label_step_section {
  width: 200px;
  height: 60px;
  background: var(--main-background-color);
  border-radius: 2px;
  margin-bottom: 30px;
  &.active,
  &.done {
    background-color: var(--common-blue-color);
    .label {
      color: #ffffff;
    }
  }

  i {
    position: relative;
    left: 6px;
    top: -5px;
  }
}

.done {
  i {
    display: flex;
    justify-content: flex-end;
    color: #40c585;
    font-size: 20px;
    visibility: visible;
  }
}
i {
  visibility: hidden;
}

.label {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: var(--main-text-color);
}

.psb_progress_bar {
  .psb_progress_wrapper {
    width: fit-content;
    margin: auto;
    margin-top: 50px;
    flex-direction: column;
    gap: 40px;
    @include m.flex(center, flex-start);
    .single {
      @include m.flex(flex-start);
      gap: 20px;
      .rounded {
        position: relative;
        width: 12px;
        height: 12px;
        background: #b0b0b9;
        border-radius: 50%;
        &.completed {
          background: #6d6ded;
          &::after {
            background: #6d6ded !important;
          }
        }
        &.active {
          background: #6d6ded;
          &::before {
            content: "";
            position: absolute;
            width: 12px;
            height: 12px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background: #6d6ded;
            border-radius: 50%;
            animation: zoomUppp 2s ease-in-out forwards infinite;

            @keyframes zoomUppp {
              0% {
                width: 12px;
                height: 12px;
                opacity: 1;
              }
              50% {
                width: 25px;
                height: 25px;
                opacity: 0;
              }
              100% {
                width: 30px;
                height: 30px;
                opacity: 0;
              }
            }
          }
        }
      }
      .label {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.02rem;
        font-family: var(--inter);
        color: #b0b0b9;
        text-align: center;
        margin-top: -3px;
      }

      &:not(:last-child) {
        .rounded {
          &::after {
            content: "";
            position: absolute;
            width: 1px;
            background: #b0b0b9;
            top: 100%;
            left: 50%;
            height: 400%;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .main_common_module {
    height: 870px;
    .module_top_section {
      .module_main_body {
        .left_section {
          height: 750px;
        }
      }
    }
  }
}

@media (max-width: 767.98px) {
  .main_common_module {
    height: 100%;
    .module_top_section {
      padding: 1px;
      height: 100%;
      .module_main_body {
        flex-direction: column;
        .left_section {
          width: 100%;
          flex: 1 1 5%;
          padding: 8px 7px 14px;
          .psb_progress_bar {
            display: block;
            .psb_progress_wrapper {
              flex-direction: row !important;
              margin-top: 0 !important;
              .single {
                flex-direction: column;
                align-items: flex-start;
                gap: 9px;
                .rounded {
                  &::after {
                    width: 826% !important;
                    top: 54% !important;
                    height: 1px !important;
                  }
                }
                .label {
                  font-size: 12px;
                }
              }
            }
          }
        }
        .right_section {
          flex: 1 1 95%;
        }
      }
    }
  }
  .label_step_section {
    display: none;
  }
}
