.verify-btn {
  background-color: var(--check_notify);
  color: var(--dark-button-color);
}

.capsule-bg-active {
  background-color: var(--v3-light-green-background-color);
}

.capsule-bg-inactive {
  background-color: var(--button-backgorund-color);
}

.text-inactive {
  color: var(--common-icon-hover-color);
}

.text_grey {
  color: var(--text-light-dark);
}

.text_blue {
  color: var(--text_link);
}

.text_red {
  color: var(--text_danger_lite);
}

.phone_in_country {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;

  div {
    width: 100px;
    background-color: var(--common-applied-background-color);
    border-radius: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 50;
    border-right: 0 !important;
    border-radius: 4px 0 0 4px !important;
    border: 1px solid var(--input-border);

    &:hover {
      cursor: pointer;
    }

    img {
      width: 25px;
      height: 25px;
      border-radius: 50%;
    }

    i {
      margin-left: 5px;
      font-size: 12px;
      color: var(--table-gray);
    }
  }

  input {
    border-left: 0 !important;
    border-radius: 0 4px 4px 0 !important;
  }
}

.list_container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 220px;
  position: absolute;
  top: 100%;
  left: 5px;
  background: var(--common-applied-background-color);
  box-shadow: 1px 1px 5px var(--common-applied-background-color);
  z-index: 10;

  .country_list {
    margin-top: 10px;
    max-height: 190px;
    overflow: auto;
  }
  .item {
    display: flex;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }

  img {
    margin-right: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
}

i.fa-arrow-left::before {
  cursor: pointer;
}
