.tab-item {
  @apply cursor-pointer px-2 flex justify-center items-center text-sm text-main-text-color font-semibold font-inter;
}

.card-skeleton {
  background: linear-gradient(90deg, rgba(255,255,255,0.1), rgba(255,255,255,0.2), rgba(255,255,255,0.1));
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  border-radius: 4px;
}

@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

.lato-regular {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
}

.credit-card-font {
  font-family: 'CreditCard', sans-serif;
}