@use "../../../../../../assets/style_varients/data-table/ocw-data-table-outside.scss"
  as d;
@use "../../../../../../assets/style_varients/common_block/other_common_files.scss"
  as f;
@use "../../../../../../assets/style_varients/block-sections/create-double-side.scss"
  as c;
@use "../../../../../../assets/style_varients/mixins" as m;

.t1-head {
  @include m.flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 10px 0;

  .ti-title {
    @include m.flex;

    .heading {
      @include m.mainHeader;
      white-space: nowrap;
      margin-right: 10px;
    }
  }
}

.main_common_module {
  @include c.mainCommonModule(800px);
}

.upload-btn {
  height: 40px;
}

.side-text {
  font-size: 13px;
  font-weight: 500;
  font-family: "Inter", Arial, sans-serif;
}

.sub-header {
  font-size: 18px;
  font-weight: 500;
  font-family: "Inter", Arial, sans-serif;
}
