@use "../../../../../assets/style_varients/block-sections/create-single-side.scss";

@use "../../../../../assets/style_varients/other_block/sllider-block/progress-slide.scss";

@mixin globalInput {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 12px;
}

.main {
  border: 1px solid var(--input-border);
  height: fit-content;
  border-radius: 5px;
  padding: 15px;
}

.inputs {
  border-bottom: 1px solid;
  font-size: 14px;
  height: 15px;
  width: 100%;
}

.fileInput {
  height: 30px;
  border: none;
}

.label {
  font-size: 12.5px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  display: inline-flex;
  white-space: nowrap;
  margin-right: 10px;
}
.err {
  font-size: 13px;
  color: red;
}

.signor_msg {
  font-size: 13px;
  font-weight: 600;
  font-style: italic;
}
.deposit_bank_details {
  font-size: 14px;
}

.field,
.field2,
.field3 {
  display: block;
}

.fields {
  @include globalInput();
  .field {
    &:nth-child(1) {
      flex: 1 1 calc(100% / 1 - 24px);
    }
    &:nth-child(2) {
      flex: 1 1 calc(100% / 1 - 24px);
    }
    &:nth-child(3) {
      flex: 1 1 calc(100% / 1 - 24px);
    }
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6) {
      flex: 1 1 calc(100% / 3 - 24px);
    }
    &:nth-child(7),
    &:nth-child(8) {
      flex: 1 1 calc(100% / 2 - 24px);
    }
    &:nth-child(9) {
      flex: 1 1 calc(100% / 1 - 24px);
    }
    &:nth-child(10),
    &:nth-child(11) {
      flex: 1 1 calc(100% / 2 - 24px);
    }
  }
}

.field2 {
  @include globalInput();

  .field {
    &:nth-child(1) {
      flex: 1 1 calc(100% / 1 - 24px);
    }
    &:nth-child(2),
    &:nth-child(3) {
      flex: 1 1 calc(100% / 2 - 24px);
    }
    &:nth-child(4),
    &:nth-child(5) {
      flex: 1 1 calc(100% / 2 - 24px);
    }
  }
}

.field3 {
  @include globalInput();
  .field {
    &:nth-child(1),
    &:nth-child(2) {
      flex: 1 1 calc(100% / 2 - 24px);
    }
    &:nth-child(3),
    &:nth-child(4) {
      flex: 1 1 calc(100% / 2 - 24px);
    }
    &:nth-child(5) {
      flex: 1 1 calc(100% / 1 - 24px);
    }
    &:nth-child(6) {
      flex: 1 1 calc(100% / 1 - 24px);
    }
  }
}

.field4 {
  @include globalInput();
  .field {
    &:nth-child(1) {
      flex: 1 1 calc(100% / 1 - 24px);
    }
    &:nth-child(2),
    &:nth-child(3) {
      flex: 1 1 calc(100% / 2 - 24px);
    }
    &:nth-child(4),
    &:nth-child(5) {
      flex: 1 1 calc(100% / 2 - 24px);
    }
    &:nth-child(6),
    &:nth-child(7) {
      flex: 1 1 calc(100% / 2 - 24px);
    }
    &:nth-child(8) {
      flex: 1 1 calc(100% / 1 - 24px);
    }
    &:nth-child(9),
    &:nth-child(10),
    &:nth-child(11) {
      flex: 1 1 calc(100% / 3 - 24px);
    }
  }
}

.field5 {
  @include globalInput();
  .field {
    &:nth-child(1) {
      flex: 1 1 calc(100% / 1 - 24px);
    }
    &:nth-child(2),
    &:nth-child(3) {
      flex: 1 1 calc(100% / 2 - 24px);
    }
    &:nth-child(4) {
      flex: 1 1 calc(100% / 1 - 24px);
    }
  }
}

@media (max-width: 767.9px) {
  .field {
    flex: 1 1 100% !important;
  }
  .header_title h3 span {
    display: none;
  }
  .label {
    white-space: normal;
  }
}
