@import "../../../../../../assets/style_varients/block-sections/create-double-side";

@mixin globalInput {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 12px;
}

.pay-send {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .single_input {
    width: 100%;
  }
  .add_modal_btn {
    padding: 11px 10px;
    svg {
      width: 17px;
      height: 17px;
      color: var(--common_text_color_light);
    }
  }
}

.depositForm {
  margin-top: 10px;
  @include globalInput();
  .single_input {
    &:nth-child(1),
    &:nth-child(2) {
      flex: 1 1 calc(100% / 2 - 24px);
    }
  }
}

.notes {
  margin-top: 10px;
  color: #06355e;
  font-weight: 500;
  font-size: 15px;
}

.second_section {
  margin-top: 10px;
  @include globalInput();
  .single_input {
    &:nth-child(1),
    &:nth-child(2) {
      flex: 1 1 calc(100% / 2 - 24px);
    }
  }
}

/* ============>  UPLOAD FILE STYLE END <============== */

// UPLOAD FILE FILED START
.custom-file {
  cursor: pointer;
  flex: 1 1 400px;
  position: relative;
  max-width: 400px;
  width: 100%;
  position: relative;

  .custom-file-input {
    cursor: pointer;
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(2.55rem + 2px);
    margin: 0;
    opacity: 0;
  }
  .doc-name {
    color: var(--common-font-color);
    font-size: 13px;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 400;
    background: #eeeeeeb8;
    letter-spacing: 0.35px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(2.33rem + 2px);
    padding: 0.65rem 1rem;
    line-height: 1.25;
    background-color: var(--main-theme-variable);
    border: 1px solid #ced4da;
    border-radius: 0.25rem;

    span {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 88px;
      white-space: nowrap;
      width: 100%;
      max-width: 20vmin;
      display: inline-block;
    }

    &::after {
      content: "Browse";
      position: absolute;
      top: -1px;
      right: 0px;
      display: inline-block;
      height: calc(2.33rem + 2px);
      background: gray;
      color: var(--common-font-color);
      z-index: 25;
      line-height: calc(2.33rem + 2px);
      padding: 0 15px;
      text-transform: uppercase;
      pointer-events: none;
      border-radius: 0 5px 5px 0;
    }
  }
}
.upload_input {
  .single_input {
    @include flex();
    &:nth-child(1) {
      flex: 1 1 calc(50% - 20px);
    }
  }
}

.choose-here-main {
  .choose {
    color: var(--common-font-color);
    font-size: 14px;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 0.35px;
    position: absolute;
    top: 10px;
    right: 0;
    left: 7px;
    z-index: 1;
    color: #495057;
    display: -webkit-box;
    max-width: 81%;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    &::before {
      content: "\f0c1";
      font-family: FontAwesome;
      opacity: 0.65;
      font-size: 14px;
      padding: 0 7px;
    }
  }
  .active {
    color: var(--ocw-btn-dark-blue);
    font-weight: bold;
    cursor: pointer;
  }
  .green {
    color: var(--ocw-btn-light-green);
    font-weight: 500;
    &::before {
      content: "\f00c";
      font-family: FontAwesome;
      opacity: 0.65;
      font-size: 12px;
      padding: 0 7px;
    }
  }
}

/* ============>  UPLOAD FILE STYLE END <============== */

.err_msg {
  font-size: 13px;
  color: red;
}
.contact_list {
  color: var(--text_link);
  cursor: pointer;
  font-size: 14px;
}

.main_right_section {
  .name {
    font-size: 15px;
    font-weight: 600;
  }

  .labels {
    font-size: 13px;
  }

  .icon {
    text-align: center;
    font-size: 40px;
    color: #2d538c;
  }

  .note_lists {
    margin-top: 13px;
    padding-left: 17px;

    li {
      position: relative;
      font-family: "Inter", Arial, sans-serif;
      font-size: 13.5px;
      color: #262626;
      letter-spacing: 0.3px;
      margin-bottom: 8px;

      a {
        color: #082fe5;

        &:hover {
          text-decoration: underline;
        }
      }

      &::before {
        content: "\f054";
        font-family: "FontAwesome";
        font-weight: 400;
        position: absolute;
        left: -17px;
        top: 2px;
        font-size: 12px;
        color: #4e4e4e;
        -webkit-text-stroke: 0.1px white;
      }
    }

    &.FAQ_list {
      h3 {
        font-weight: 500;
        margin-bottom: 2px;
        letter-spacing: 0.4px;
        font-size: 14px;
      }

      p {
        color: #626262;
        font-size: 13.5px;
      }

      li {
        &:not(:last-child) {
          margin-bottom: 15px;
        }
      }
    }
  }
}

.img-prev {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid var(--input-border);
  border-radius: 6px;
  max-height: 160px;
  // max-width: 160px;
  width: 250px;
  height: 160px;
  padding: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  img {
    -o-object-fit: contain;
    object-fit: contain;
    height: 100%;
  }
  div {
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 30px;
    svg {
      color: var(--input-border);
      position: absolute;
      height: 22px;
      width: 22px;
      padding: 3px;
      background: var(--light_white);
      border-radius: 50%;
    }
    z-index: 2;
  }

  a {
    visibility: hidden;
    opacity: 1;
    cursor: pointer;
    position: absolute;
    top: 50%;
    bottom: 50%;
    z-index: 2;
  }

  &:hover {
    background: rgb(237, 238, 241);
    &::after {
      content: "";
      background-color: rgba(100, 100, 100, 0.5);
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
    }
    // opacity: 0.3;

    a {
      visibility: visible;
      font-size: 20px;
      i {
        // opacity: 1 !important;
        color: #fff !important;
      }
    }
    svg {
      background: #fff !important;
    }
  }
}

.preView_icon {
  visibility: hidden;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
  cursor: pointer;
  color: #2c567a;
  background: aliceblue;
  padding: 5px;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
