@use "../../../../../assets/style_varients/block-sections/create-single-side.scss"
  as c;
@use "../../../../../assets/style_varients/common_block/loaders_common.scss" as
  l;
@use "../../../../../assets/style_varients/mixins" as m;
//==========> SINGLE STYLE SECTION =============//
.ocw_one_side_body {
  @include c.ocwOneSideBody(650px);
}
.single_input {
  flex: 1 1 100%;
  margin-bottom: 17px;
}

.advancetoggle {
  color: var(--ocw-btn-light-blue);
  font-size: 14px;
  margin: 5px 0;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.payments-option {
  border: 1px solid var(--input-border);
  padding: 13px;
  border-radius: 8px;
}
.payable-to {
  font-size: 15px;
}
.tooltip {
  position: absolute;
  color: #626262;
  right: 12px;
  font-size: 13px;
  top: 10px;
}
.tooltip2 {
  position: absolute;
  right: -13px;
  background: var(--tooltip-background-color);
  font-size: 13px;
  top: -9px;
  left: 60px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.w-fit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.required-icon-main {
  position: relative;
  .required-icon {
    &::after {
      content: "*";
      position: absolute;
      top: 6px;
      left: 95px;
      color: var(--text_danger);
      font-size: 12px;
    }
  }
}
.payable_to_account {
  width: 210px;
}

:host ::ng-deep.mat-mdc-checkbox .mdc-checkbox {
  padding: 0px 4px 18px 0 !important;
  margin: 0px !important;
}

//==========> SINGLE STYLE SECTION =============//

.get-paid-create {
  @media (min-width: 768px) {
    .get-paid-link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      gap: 20px;

      .single_input {
        margin-bottom: 0px;
        //=======> input field width start
        &:nth-child(-1n + 2) {
          -webkit-box-flex: 1;
          -ms-flex: 1 1 calc(50% - 20px);
          flex: 1 1 calc(50% - 20px);
        }

        &:nth-child(1n + 3) {
          -webkit-box-flex: 1;
          -ms-flex: 1 1 calc(40% - 20px);
          flex: 1 1 calc(40% - 20px);
        }

        &:nth-child(4) {
          -webkit-box-flex: 1;
          -ms-flex: 1 1 calc(40% - 20px);
          flex: 1 1 calc(40% - 20px);
        }
        &:nth-child(5) {
          -webkit-box-flex: 1;
          -ms-flex: 1 1 calc(23% - 20px);
          flex: 1 1 calc(23% - 20px);
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
        }

        &:nth-child(6) {
          -webkit-box-flex: 1;
          -ms-flex: 1 1 calc(50% - 20px);
          flex: 1 1 calc(50% - 20px);
        }
        &:nth-child(7) {
          -webkit-box-flex: 1;
          -ms-flex: 1 1 calc(50% - 20px);
          flex: 1 1 calc(50% - 20px);
        }

        &:nth-child(8) {
          -webkit-box-flex: 1;
          -ms-flex: 1 1 100%;
          flex: 1 1 100%;
        }
        //=======> input field width end
      }
    }
  }
}
.select-box {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 calc(50% - 20px);
  flex: 1 1 calc(50% - 20px);
  position: relative;
}
//==========> RIGHT SECTION =============//
//==========> ETC LABEL SIDE SECTION =============//
.toplevel-label {
  position: absolute;
  top: -7px;
  -webkit-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
  left: 6px;
  color: var(--input-label);
  font-size: 12px;
  pointer-events: none;
  background: var(--main-theme-variable);
  font-weight: normal;
  padding-left: 3px;
  padding-right: 3px;
  letter-spacing: 0.1px;
}

//==========> ETC LABEL SIDE SECTION =============//

.sent {
  fa-icon {
    height: 13px;
    width: 13px;
    margin-left: 5px;
    &:hover {
      -webkit-animation: flying 0.5s ease-in-out infinite alternate;
      animation: flying 0.5s ease-in-out infinite alternate;
    }
  }

  @-webkit-keyframes flying {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transform: translate(-2px, 3px);
      transform: translate(-2px, 3px);
    }
  }

  @keyframes flying {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transform: translate(-2px, 3px);
      transform: translate(-2px, 3px);
    }
  }
}

.shortUrl-sec {
  position: relative;
  width: 100%;

  .shorturl {
    font-family: var(--info-font);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    p {
      color: var(--very_light_white);
    }

    input {
      width: 100%;
    }
  }
}

.spinner-gap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.shorturldesc {
  font-size: 13px;
  font-family: var(--info-font);
  background: var(--light_white);
  color: var(--very_light_black);
}

.browse-input {
  border: 1px solid var(--input-border);
  border-radius: 4px;
  height: 40px;
  .image-name {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    max-width: 190px;
    white-space: nowrap;
    width: 100%;
  }
  div {
    cursor: pointer;
    display: inline-block;
    height: calc(2.33rem + 2px);
    background: var(--input-border);
    color: var(--common_text_color_light);
    z-index: 25;
    line-height: calc(2.33rem + 2px);
    padding: 0 15px;
    text-transform: uppercase;
    border-radius: 0 5px 5px 0;

    label {
      cursor: pointer;
    }
  }
}
.auto-redirect-height {
  height: 37px;
}

.text-color {
  color: var(--very_light_black);
}

.error_msg {
  color: var(--text_danger_lite);
  font-family: "Inter", Arial, sans-serif;
  font-size: 12.5px;
  font-weight: 400;
  letter-spacing: 0.2px;
}

.input-file {
  width: 100%;
  height: 100%;
  display: none;
}
#browse-file {
  z-index: 0 !important;
}

#choose-file {
  z-index: 1 !important;
}

.img-prev {
  border: 1px solid var(--input-border);
  border-radius: 6px;
  max-height: 160px;
  max-width: 160px;
  height: 160px;
  padding: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  img {
    -o-object-fit: contain;
    object-fit: contain;
    height: 100%;
  }
  div {
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 30px;
    fa-icon {
      color: var(--input-border);
      position: absolute;
      height: 22px;
      width: 22px;
      padding-left: 5px;
      background: var(--light_white);
      border-radius: 50%;
    }
  }
}

//****** delete logo preview ******//
.img-prevw {
  border: 1px solid var(--input-border);
  border-radius: 6px;
  max-height: 160px;
  max-width: 160px;
  height: 160px;
  padding: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  img {
    -o-object-fit: contain;
    object-fit: contain;
    height: 100%;
  }
  span {
    margin-top: 150px !important;
    cursor: pointer !important;
    margin-left: 115px !important;
    color: red !important;
    position: absolute !important;
    font-size: 14px !important;
  }
}

//****** logo delete button ******//
.ocw-data-btn {
  display: flex !important;
  top: 16px !important;
}

// UPLOAD FILE FILED START
.custom-file {
  cursor: pointer;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 400px;
  flex: 1 1 400px;
  position: relative;
  max-width: 400px;
  width: 100%;

  .custom-file-input {
    cursor: pointer;
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(2.55rem + 2px);
    margin: 0;
    opacity: 0;
  }
  .doc-name {
    color: var(--common-font-color);
    font-size: 13px;
    font-family: var(--info-font);
    font-weight: 400;
    background: #eeeeeeb8;
    letter-spacing: 0.35px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(2.33rem + 2px);
    padding: 0.65rem 1rem;
    line-height: 1.25;
    background-color: var(--main-theme-variable);
    border: 1px solid #ced4da;
    border-radius: 0.25rem;

    span {
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      max-width: 88px;
      white-space: nowrap;
      width: 100%;
      display: inline-block;
    }

    &::after {
      content: "Browse";
      position: absolute;
      top: -1px;
      right: 0px;
      display: inline-block;
      height: calc(2.33rem + 2px);
      background: var(--common-background-color);
      color: var(--common-font-color);
      z-index: 25;
      line-height: calc(2.33rem + 2px);
      padding: 0 15px;
      text-transform: uppercase;
      pointer-events: none;
      border-radius: 0 5px 5px 0;
    }
  }
}
.upload_input {
  .single_input {
    @include m.flex();
    &:nth-child(1) {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(50% - 20px);
      flex: 1 1 calc(50% - 20px);
    }
  }
}

.drop_style {
  height: 36px !important;
}

// PAYMENT OPTIONS
.payments-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 10px;

  .payment-opt {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 24px;
    //=======> input field width start
    &:nth-child(1) {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(40% - 20px);
      flex: 1 1 calc(40% - 20px);
    }
    &:nth-child(2) {
      flex: 1 1 calc(60% - 20px);
    }
    &:nth-child(3) {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(40% - 20px);
      flex: 1 1 calc(40% - 20px);
    }
    &:nth-child(4) {
      flex: 1 1 calc(60% - 20px);
    }
  }
}

.redirect-url {
  position: absolute;
  z-index: 10;
  background: white;
  border: 1px solid #cccccc;

  li {
    font-size: 15px;
    padding: 1px 9px;
    &:hover {
      background: var(--text_blue);
      cursor: pointer;
    }
  }
}
.pos {
  position: relative;
  input {
    padding-right: 28px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }
}

.text-danger {
  color: var(--text_danger);
  font-size: 14px;
}
.text-active {
  color: var(--text_success);
  font-size: 14px;
}

// PAYMENT OPTIONS

@media (max-width: 768.98px) {
  .select-box {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 calc(40% - 20px);
    flex: 1 1 calc(40% - 20px);
    margin-top: 8px;
  }
}
